<div class="simple-kb">
  <div class="display-m">
    @if (step() === 1) {
      {{ 'simple.title.first-files' | translate }}
    } @else if (step() === 2) {
      @if (pendingResources()) {
        {{ 'simple.title.uploading' | translate }}
      } @else {
        <span class="success">
          <pa-icon
            name="circle-check"
            size="large"></pa-icon>
        </span>
        {{ 'simple.title.ready' | translate }}
      }
    } @else if (step() === 3) {
      {{ 'simple.title.testing' | translate }}
    }
  </div>

  <div class="counters">
    @if (step() === 2) {
      <div>
        <strong [class.success]="!pendingResources()">{{ 'simple.ready' | translate }}</strong>
        <span>: {{ counter()?.processed || 0 }}</span>
      </div>
      @if (pendingResources()) {
        <div>
          <strong class="title-m">{{ 'simple.in-queue' | translate }}</strong>
          <span>: {{ counter()?.pending || 0 }}</span>
        </div>
      }
      <div>
        <strong
          class="title-m"
          [class.error]="!pendingResources()">
          {{ 'simple.failed' | translate }}
        </strong>
        <span>: {{ counter()?.error || 0 }}</span>
      </div>
    } @else if (step() === 3) {
      @if (hideResources()) {
        <pa-button
          kind="primary"
          icon="folder"
          (click)="resetSearch()">
          {{ 'generic.back' | translate }}
        </pa-button>
      }
      <div>
        <strong>{{ 'simple.your-resources' | translate }}</strong>
        <span>: {{ counter()?.processed || 0 }}</span>
      </div>
    }
  </div>

  <div>
    @if (step() === 1) {
      <div
        stfFileDrop
        class="dropzone"
        [class.file-over]="fileOver()"
        (fileOver)="fileOver.set($event)"
        (atFileDrop)="onFilesSelected($event)">
        <div>{{ 'simple.drop-files' | translate }}</div>
        <div>{{ 'simple.or' | translate }}</div>
        <pa-button
          kind="primary"
          icon="upload"
          iconAndText
          (click)="fileInput.click()">
          {{ 'upload.files' | translate }}
        </pa-button>
        <div class="body-m">{{ 'simple.max-files' | translate: { num: maxFiles } }}</div>
      </div>
    } @else if (step() > 1) {
      @if (step() === 3) {
        @if (widgetPreview | async; as widgetPreview) {
          <div
            #preview
            class="preview"
            [innerHtml]="widgetPreview.preview"></div>
        }
      }
      @if (!hideResources()) {
        <app-resource-table></app-resource-table>
      }
    }
  </div>
</div>
@if (step() > 1) {
  <div class="footer">
    @if (step() === 2) {
      @if (!pendingResources()) {
        <pa-button
          kind="primary"
          icon="search"
          iconAndText
          (click)="goToStep3()">
          {{ 'simple.test-files' | translate }}
        </pa-button>
      }
      <pa-button
        aspect="basic"
        icon="upload"
        iconAndText
        [disabled]="uploadInProgress()"
        (click)="fileInput.click()">
        {{ 'simple.add-more' | translate }}
      </pa-button>
    } @else if (step() === 3) {
      <pa-button
        kind="primary"
        icon="upload"
        iconAndText
        [disabled]="uploadInProgress()"
        (click)="fileInput.click()">
        {{ 'upload.files' | translate }}
      </pa-button>
      <pa-button
        aspect="basic"
        icon="info"
        iconAndText
        (click)="showMcpEndpoint()">
        {{ 'simple.get-mcp-url' | translate }}
      </pa-button>
    }
  </div>
}
<input
  #fileInput
  type="file"
  stfFileSelect
  (atFileSelect)="onFilesSelected($event)"
  multiple
  hidden />
