@use 'apps/dashboard/src/variables' as *;

.simple-kb {
  display: flex;
  gap: rhythm(2);
  justify-content: center;

  .column-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: rhythm(2);

    &.wide-column {
      width: 75%;
    }
  }

  .preview-content {
    margin-top: rhythm(2);
  }

  .stats {
    .title-s {
      color: $color-neutral-regular;
    }
  }
}
