apiVersion: v1
kind: ConfigMap
metadata:
  name: manager-config
  labels:
    app: {{ .Release.Name }}
    version: "{{ .Values.hash }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  API_ORIGIN: "{{ .Values.api_origin }}"
  BRAND_NAME: "{{ .Values.brand_name }}"
  BRAND_DOMAIN: "{{ .Values.brand_domain }}"
  ASSETS_PATH: "{{ .Values.assets_path }}"
  APP_NAME: {{ .Values.app_name }}
  NO_STRIPE: "{{ .Values.no_stripe }}"
  SENTRY_ENV: {{ .Values.sentry_environment }}
  STF_VERSION: "{{ .Chart.Version }}"
  EMAIL_DOMAIN: "{{ .Values.email_domain }}"
  OAUTH_CLIENT_ID: "{{ .Values.oauth_client_id }}"
  AUTH_ENDPOINT: "{{ .Values.auth_endpoint }}"