apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-config"
  labels:
    app: {{ .Release.Name }}
    version: "{{ .Values.hash }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  API_PATH: {{ .Values.api_path }}
  SITE_KEY: "{{ .Values.site_key }}"
  BRAND_NAME: "{{ .Values.brand_name }}"
  BRAND_DOMAIN: "{{ .Values.brand_domain }}"
  ASSETS_PATH: "{{ .Values.assets_path }}"
  APP_NAME: {{ .Values.app_name }}
  SENTRY_ENV: {{ .Values.sentry_environment }}
  SENTRY_URL: "{{ .Values.sentry_url }}"
  STF_VERSION: "{{ .Chart.Version }}"
  EMAIL_DOMAIN: "{{ .Values.email_domain }}"
