<div class="upload-progress">
  <button class="close-button"
          (click)="close.emit()">
    <svg-icon src="assets/icons/close-modal.svg"></svg-icon>
  </button>
  <h1 class="mb-20">{{ 'upload.uploading_queue' | translate }}</h1>

  <div class="warning">
    <strong>{{ 'upload.takes_time' | translate }}</strong>
  </div>
  <div class="upload-list"
       *ngIf="((progress | async)?.files || []).length > 0">
    <div class="upload"
         *ngFor="let file of ((progress | async)?.files || [])">
      <div class="file"
           [class.failed]="file.failed">
        <span class="file-name">{{ file.file.name }}</span>
        <span class="file-size"> - {{ file.file.size | size }}</span>
      </div>
      <div class="status">
        <svg-icon src="assets/icons/check.svg"
                  *ngIf="file.uploaded"></svg-icon>
        <svg-icon src="assets/icons/duplicate.svg"
                  *ngIf="file.conflicts"
                  stfTooltip
                  stfTooltipText="upload.duplicated"></svg-icon>
        <svg-icon src="assets/icons/cross.svg"
                  *ngIf="file.failed && !file.conflicts"
                  stfTooltip
                  stfTooltipText="upload.error"></svg-icon>
        <div class="progress-bar"
             *ngIf="file.progress !== 100">
          <div [style.width.%]="file.progress"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>{{ 'modal.upload.queue_length' | translate }}: {{ ((progress | async)?.files || []).length }}</div>
    <stf-button (click)="close.emit()"
                color="gray"
                padding="pd-xl">
      {{ 'generic.close' | translate }}
    </stf-button>
  </div>
</div>