@import 'variables';

.upload-progress {
  position: relative;
  width: 770px;
  padding: 16px 26px;

  .close-button {
    @include reset-button();
    position: absolute;
    top: 6px;
    right: 2px;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  .warning {
    margin-bottom: 25px;
    line-height: 1.25;
    strong {
      font-weight: var(--stf-font-weight-semibold);
    }
  }

  .upload-list {
    max-height: 50vh;
    overflow: auto;
    @include scrollbar-black();
    padding: 20px 25px;
    background-color: var(--stf-gray-background);
  }

  .upload {
    display: flex;
    align-items: center;
    height: 32px;
    padding-bottom: 8px;
    > div {
      width: 50%;
    }
  }

  .file {
    display: flex;
    font-size: var(--stf-font-size-ssmall);
    &.failed {
      color: var(--stf-gray-lighter-3);
    }
  }

  .file-name {
    flex: 0 1 auto;
    @include text-truncate();
  }

  .file-size {
    flex: 0 0 auto;
    padding-right: 30px;
  }

  .status {
    svg {
      width: 14px;
      height: auto;
    }
  }

  .progress-bar {
    height: 5px;
    background-color: #fff;
    div {
      height: 100%;
      background-color: var(--stf-primary);
      transition: 0.1s width linear;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-weight: var(--stf-font-weight-semibold);
  }
}