<div class="agent-dashboard">
  <div class="agent-dashboard-toolbar">
    <div class="button-group">
      <pa-button
        icon="menu"
        aspect="basic"
        size="small"
        (click)="toggleMainNav()">
        {{ 'retrieval-agents.workflow.toolbar-buttons.toggle-navbar' | translate }}
      </pa-button>
      <pa-button
        aspect="basic"
        size="small"
        [active]="activeSideBar() === 'rules'"
        (click)="openRules()">
        {{ 'retrieval-agents.workflow.toolbar-buttons.rules' | translate }}
      </pa-button>
      <pa-button
        aspect="basic"
        size="small"
        icon="circle-plus"
        iconAndText=""
        iconSize="medium"
        [active]="activeSideBar() === 'add'"
        (click)="addNode()">
        {{ 'retrieval-agents.workflow.toolbar-buttons.add-node' | translate }}
      </pa-button>
    </div>
    <div class="button-group">
      <pa-button
        size="small"
        icon="play"
        iconSize="medium"
        iconAndText="">
        {{ 'retrieval-agents.workflow.toolbar-buttons.test-agent' | translate }}
      </pa-button>
      <pa-button
        size="small"
        kind="primary">
        {{ 'retrieval-agents.workflow.toolbar-buttons.manage-sessions' | translate }}
      </pa-button>
    </div>
  </div>

  <div
    #workflowContainer
    class="workflow-container"
    [class.sidebar-open]="sideBarOpen()">
    <div #linkContainer></div>
    <div class="workflow-col first-col">
      <!-- category is required from NodeDirective for all other nodes. It's not used by workflow-root but we had to set one for the compiler -->
      <app-workflow-root
        category="preprocess"
        (rootInitialized)="setRoot($event)"
        (addNode)="addNodeFromEntry($event)"></app-workflow-root>
    </div>
  </div>

  <div
    #sidebar
    class="sidebar"
    [class.open]="sideBarOpen()">
    <header #sidebarHeader>
      <div class="title-m">
        {{ sideBarTitle() }}
        <pa-button
          aspect="basic"
          icon="cross"
          (click)="closeSideBar()">
          {{ 'retrieval-agents.workflow.sidebar.close-button' | translate }}
        </pa-button>
      </div>
      @if (sideBarDescription(); as description) {
        <div class="description">{{ description }}</div>
      }
    </header>
    <div
      #sidebarContentWrapper
      class="sidebar-content"></div>
  </div>
</div>
