<div class="agent-dashboard">
  <div class="agent-dashboard-toolbar">
    <pa-button
      icon="menu"
      aspect="basic"
      size="small">
      Open side navigation
    </pa-button>
  </div>

  <div class="workflow-container">
    <div class="workflow-col first-col">
      <app-agent-box>
        <app-connectable-entry #preprocess>preprocess</app-connectable-entry>
        <app-arrow-down></app-arrow-down>
        <app-connectable-entry #context>Retrieval context</app-connectable-entry>
        <app-arrow-down></app-arrow-down>
        <app-connectable-entry #postprocess>postprocess</app-connectable-entry>
      </app-agent-box>
    </div>
    <div class="workflow-col">
      <app-agent-box
        inputTitle="Rephrase"
        [inputEntry]="preprocess">
        <div style="height: 40px; background: #c4c4c4">Toto</div>
      </app-agent-box>
      <app-agent-box
        inputTitle="Conditional"
        [inputEntry]="context">
        <div style="height: 40px; background: #c4c4c4">Toto</div>
      </app-agent-box>
    </div>
  </div>
</div>
