@use 'apps/dashboard/src/variables' as *;

.agent-dashboard {
  $height-toolbar: rhythm(6);
  .agent-dashboard-toolbar {
    border-bottom: 1px solid $color-neutral-light;
    height: $height-toolbar;
    padding: rhythm(1);
  }

  .workflow-container {
    background-color: hsl(336, 100%, 96%, 25%);
    background-size: rhythm(2.5) rhythm(2.5);
    background-image: radial-gradient(circle, $color-neutral-lighter rhythm(0.25), rgba(0, 0, 0, 0) rhythm(0.25));
    display: flex;
    height: calc(100dvh - #{$height-toolbar} - var(--app-topbar-height));
    width: 100%;

    .workflow-col {
      display: flex;
      flex-direction: column;
      gap: rhythm(3);
      padding: rhythm(8);

      &.first-col {
        padding-top: rhythm(22);
      }
    }
  }
}
