@use 'apps/dashboard/src/variables' as *;

.agent-dashboard {
  $height-toolbar: rhythm(6);
  $height-main: calc(100dvh - #{$height-toolbar} - var(--app-topbar-height));
  $width-sidenav: rhythm(45);

  .agent-dashboard-toolbar {
    background-color: $color-light-stronger;
    border-bottom: 1px solid $color-neutral-light;
    height: $height-toolbar;
    padding: rhythm(1);
  }

  .workflow-container {
    background-color: hsl(336, 100%, 96%, 25%);
    background-size: rhythm(2.5) rhythm(2.5);
    background-image: radial-gradient(circle, $color-neutral-lighter rhythm(0.25), rgba(0, 0, 0, 0) rhythm(0.25));
    overflow: auto;
    display: flex;
    height: $height-main;
    position: relative;
    width: 100%;
    transition: width $transition-slide;

    .workflow-col {
      display: flex;
      flex-direction: column;
      gap: rhythm(3);
      height: fit-content;
      padding: rhythm(8);
    }

    &.sidebar-open {
      width: calc(100% - #{$width-sidenav});
    }
  }

  .sidebar {
    $padding-sidebar: rhythm(3);

    background-color: $color-light-stronger;
    border-left: 1px solid $color-neutral-light;
    display: flex;
    flex-direction: column;
    gap: rhythm(3);
    height: $height-main;
    padding: $padding-sidebar;
    padding-right: 0;
    position: absolute;
    right: -$width-sidenav;
    top: $height-toolbar;
    transition: right $transition-slide;
    width: $width-sidenav;

    &.open {
      right: 0;
    }

    .title-s {
      align-items: center;
      display: flex;
      height: rhythm(4);
      justify-content: space-between;
      margin-right: - rhythm(1);
    }

    .sidebar-content {
      display: flex;
      flex-direction: column;
      gap: rhythm(1.5);
      overflow-y: auto;
      padding-right: $padding-sidebar;
    }
  }
}
