@import 'variables';

.account-users {
  padding: 70px var(--app-layout-margin-right) 60px var(--app-layout-margin-left);
  h2 {
    margin: 0 0 36px 0;
    font-weight: var(--stf-font-weight-bold);
  }
  .users-left,
  .users-amount {
    strong {
      margin: 0 4px;
      text-decoration: underline;
    }
  }
  .users-left {
    strong {
      color: var(--stf-primary);
    }
  }

  .add-user {
    align-items: center;
    display: flex;
    gap: rhythm(1);
    margin: rhythm(3) 0 rhythm(5);
    input {
      min-width: 240px;
    }
  }
}
