<div
  class="account-users"
  *ngIf="users">
  <h2>{{ 'account.users' | translate }}</h2>

  <div class="mb-28">
    <div class="users-amount">
      {{ 'account.users_amount' | translate }}
      <strong>{{ users.length }}</strong>
    </div>
    <div
      class="users-left"
      *ngIf="account && account.max_users != null">
      {{ 'account.users_left' | translate }}
      <strong>{{ account.max_users - account.current_users }}</strong>
    </div>
  </div>

  <div
    class="add-user"
    *ngIf="canAddUsers | async">
    <pa-input
      type="email"
      [formControl]="email">
      {{ 'accounts.add_user_input' | translate }}
    </pa-input>
    <pa-button
      [disabled]="email.invalid"
      (click)="addUser()">
      {{ 'account.add_user' | translate }}
    </pa-button>
  </div>

  <pa-table columns="auto 180px 110px">
    <pa-table-header>
      <pa-table-cell header>{{ 'generic.user' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'generic.role' | translate }}</pa-table-cell>
      <pa-table-cell header></pa-table-cell>
    </pa-table-header>
    <pa-table-row *ngFor="let user of users">
      <pa-table-cell>{{ user.name }} – {{ user.email }}</pa-table-cell>
      <pa-table-cell>
        <nsi-dropdown-button
          size="small"
          aspect="basic"
          [popupRef]="roleDropdown"
          [disabled]="isItMe(user.id)">
          {{ roleTranslations[user.role] | translate }}
        </nsi-dropdown-button>
        <pa-dropdown #roleDropdown>
          <pa-option
            *ngFor="let role of roleTranslations | keyvalue"
            [value]="role.key"
            (selectOption)="changeRole(user, role.key)">
            {{ role.value | translate }}
          </pa-option>
        </pa-dropdown>
      </pa-table-cell>
      <pa-table-cell>
        <pa-button
          *ngIf="!isItMe(user.id)"
          aspect="basic"
          icon="trash"
          size="small"
          paTooltip="generic.delete"
          (click)="deleteUserConfirm(user)">
          {{ 'generic.delete' | translate }}
        </pa-button>
      </pa-table-cell>
    </pa-table-row>
  </pa-table>
</div>
