<form
  class="main-container"
  [formGroup]="form"
  (ngSubmit)="submitBudget()">
  <h1>{{ 'onboarding.aws.title' | translate }}</h1>
  <div>
    <div class="title-s">{{ 'onboarding.aws.monthly-budget.question' | translate }}</div>
    <nsi-info-card>
      {{ 'onboarding.aws.monthly-budget.help' | translate }}
    </nsi-info-card>
  </div>
  <pa-input
    formControlName="budget"
    class="budget-input"
    type="number">
    $
  </pa-input>
  <pa-button
    class="budget-button"
    kind="primary"
    type="submit"
    [disabled]="form.invalid">
    {{ 'onboarding.aws.monthly-budget.set-up-account-button' | translate }}
  </pa-button>
</form>
