<div class="main-container">
  <h1>{{ 'onboarding.aws.title' | translate }}</h1>
  <div>
    <div class="title-s">{{ 'onboarding.aws.monthly-budget.question' | translate }}</div>
    <nsi-info-card>
      {{ 'onboarding.aws.monthly-budget.help' | translate }}
    </nsi-info-card>
  </div>
  <app-budget
    currency="USD"
    [defaultBudget]="true"
    (budgetChange)="budget = $event"></app-budget>
  <pa-button
    kind="primary"
    (click)="submit()">
    {{ 'onboarding.aws.monthly-budget.set-up-account-button' | translate }}
  </pa-button>
</div>
