@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 20px);
}
.steps {
  flex: 0 0 auto;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1em;
}
.content {
  flex: 1 1 auto;
  padding: 30px 40px;
  background: #fff;
  border-radius: 8px;
}
.search-form {
  display: flex;
  width: 100%;
  border-bottom: 2px solid $gray-dark;
  justify-content: end;
}
table {
  width: 100%;
}
td {
  border-bottom: 1px solid $gray-dark;
  &.checkbox {
    width: rythm(2);
  }
}
