<div class="container">
  <ng-container *ngIf="(step | async) === 0 || (step | async) === 1">
    <h2>{{ 'upload.source.title' | translate }}</h2>
    <p>{{ 'upload.source.description' | translate }}</p>
    <nde-connectors
      type="sources"
      [quickAccess]="quickAccess"
      (selectConnector)="selectSource($event)"
      (cancel)="cancel()"></nde-connectors>
  </ng-container>
  <ng-container *ngIf="(step | async) === 2">
    <nde-select-files
      [source]="source"
      [sourceId]="sourceId"
      (next)="goTo(3)"
      [(selection)]="selection"
      (cancel)="cancel()"></nde-select-files>
  </ng-container>
  <ng-container *ngIf="(step | async) === 3">
    <h2>Push to</h2>
    <nde-connectors
      type="destinations"
      [connectorIds]="source.isExternal ? ['nucliacloud'] : undefined"
      (selectConnector)="selectDestination($event)"
      (cancel)="cancel()"></nde-connectors>
  </ng-container>
</div>
