@import 'variables';

.hint {
  background-color: $color-neutral-lightest;
  padding: 0 rhythm(1);
  margin-bottom: rhythm(5);

  pre {
    overflow: scroll;
    font-size: font-size(xs);
  }

  &.inverted {
    background-color: $color-light-stronger;
  }
}

.hint-title {
  display: flex;
  align-items: center;
  color: $color-neutral-regular;

  pa-icon {
    display: inline-block;
    margin-right: rythm(0.5);
  }
}

.hint-content {
  padding: rhythm(1);
}
