@import 'variables';

.hint {
  background-color: $color-neutral-lightest;
  padding: 8px;
  margin-bottom: 40px;

  pre {
    overflow: scroll;
    font-size: font-size(xs);
  }

  &.inverted {
    background-color: $color-light-stronger;
  }
}

.hint-title {
  display: flex;
  align-items: center;
  color: $color-neutral-strong;

  pa-icon {
    display: inline-block;
    margin-right: rythm(0.5);
  }
}
