@use 'apps/dashboard/src/variables' as *;

.upload-list-container {
  .upload-list {
    background: $color-neutral-lightest;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      gap: rhythm(2);
      justify-content: space-between;
      line-height: rhythm(5);
      padding: 0 rhythm(1);

      &:not(:last-of-type) {
        box-shadow: $box-shadow-border-bottom;
      }

      pa-button {
        display: flex;
      }

      .progress-container {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: 50%;

        .progress-status {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
