@import 'variables';

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.add {
  flex-shrink: 0;
  margin-bottom: rhythm(3);
}

.section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 28px 38px;
  background-color: $color-light-stronger;
  border-radius: 8px;
  margin-bottom: rhythm(1.5);
  &.selected {
    flex: 1 1 auto;
    min-height: 0;
  }
}

.section-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--stf-font-size-xxlarge);
  &.has-files {
    cursor: pointer;
  }
  .title {
    width: 135px;
    font-weight: var(--stf-font-weight-bold);
  }
  .counter {
    font-weight: var(--stf-font-weight-light);
  }
  .arrow {
    margin-left: auto;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-45deg);
    .selected > & {
      transform: rotate(45deg);
    }
  }
}

.section-body {
  margin-top: rhythm(3);
  padding-right: rhythm(1.5);
  min-height: 0;
  overflow-y: auto;
  // FIXME include scrollbar mixin in sistema?
  //@include scrollbar-black();
}

.uploads {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
  height: rhythm(5);
  & > div {
    border-bottom: 1px solid $color-neutral-regular;
    display: table-cell;
    width: 150px;
    padding: rhythm(1) 0;
  }
  &:first-child > div {
    border-top: 1px solid $color-neutral-regular;
  }
  .progress {
    background-color: $color-primary-regular;
    height: 5px;
  }
}
