<div class="container">
  <div class="add">
    <pa-button (click)="addUpload()">{{ 'home.add' | translate }}</pa-button>
  </div>
  <ng-container *ngFor="let sec of sections">
    <ng-template
      *ngTemplateOutlet="section; context: { $implicit: sec, hasFiles: (sec.items | async).length > 0 }"></ng-template>
  </ng-container>
</div>

<ng-template
  #section
  let-section
  let-hasFiles="hasFiles">
  <div
    class="section"
    [class.selected]="section.type === selected">
    <div
      class="section-header"
      [class.has-files]="hasFiles"
      (click)="hasFiles ? toggle(section.type) : null"
      (keydown.enter)="hasFiles ? toggle(section.type) : null"
      tabIndex="0">
      <div class="title">{{ section.title | translate }}</div>
      <div class="counter">{{ 'home.files' | translate: { num: (section.count | async) } }}</div>
      <div
        class="arrow"
        *ngIf="hasFiles"></div>
    </div>
    <div
      class="section-body"
      *ngIf="section.type === selected">
      <ng-template *ngTemplateOutlet="uploads; context: { $implicit: (section.items | async) }"></ng-template>
    </div>
  </div>
</ng-template>

<ng-template
  #uploads
  let-uploads>
  <div class="uploads">
    <div
      class="row"
      *ngFor="let upload of uploads">
      <div>{{ upload.date }}</div>
      <div>{{ upload.from }}</div>
      <div>{{ upload.to }}</div>
      <div>{{ upload.total }}</div>
      <div>
        <stf-progress-bar [progress]="upload.progress"></stf-progress-bar>
      </div>
      <div></div>
    </div>
  </div>
</ng-template>
