@import 'variables';

.activity-item {
  display: flex;
  align-items: center;
  height: 35px;
}

.filename {
  flex: 1 1 0;
  @include text-truncate();
}

.date {
  flex: 0 0 250px;
  max-width: 20%;
}

.user {
  flex: 0 0 250px;
  max-width: 20%;
  @include text-truncate();
}