<div class="activity">
  <div class="activity-header">
    <div class="tabs"
         *ngIf="currentTab$ | async as currentTab">
      <div *ngFor="let tab of tabs"
           class="tab"
           [class.selected]="currentTab === tab.key"
           (click)="selectTab(tab.key)"
           (keydown.enter)="selectTab(tab.key)"
           tabIndex="0"
           role="tab"
           [attr.aria-expanded]="currentTab === tab.key">
        {{ tab.title | translate }}
      </div>
    </div>
    <div class="subtitle">
      {{ 'activity.subtitle' | translate }}
    </div>
  </div>

  <div class="tab-content">
    <app-activity-list [items]="activity | async"></app-activity-list>
  </div>
</div>