<div class="activity">
  <div class="activity-header">
    <div class="tabs"
         *ngIf="currentTab | async as currentTab">
      <div *ngFor="let tab of tabs"
           class="tab"
           [class.selected]="currentTab === tab.type"
           (click)="selectTab(tab.type)"
           (keydown.enter)="selectTab(tab.type)"
           tabIndex="0"
           role="tab"
           [attr.aria-expanded]="currentTab === tab.type">
        {{ tab.title | translate }}
      </div>
    </div>
  </div>

  <div class="tab-content">
    <app-activity-list [items]="(data | async).events"></app-activity-list>
    <div class="more-results">
      <stf-button (click)="loadMoreEvents()"
                  *ngIf="(data | async).pagination?.last === false"
                  color="gray"
                  padding="pd-l">{{ 'search.more_results' | translate }}</stf-button>
    </div>
  </div>
</div>