<div class="activity-list">
  <div class class="activity-header">
    <div class="filename">{{ 'activity.resource' | translate }}</div>
    <div class="date">{{ 'activity.timestamp' | translate }}</div>
    <div class="user">{{ 'activity.actor' | translate }}</div>
  </div>
  <div class="activity-item"
       *ngFor="let item of items">
    <div class="filename">
      {{ item.resource | async }}
    </div>
    <div class="date">
      <ng-container *ngIf="item.date">
        {{ item.date | formatDate: { default: true } }} {{ item.date | formatTime }}
      </ng-container>
    </div>
    <div class="user">
      {{ item.username | async }}
    </div>
  </div>
</div>