@use 'apps/dashboard/src/variables' as *;

.account-status {
  align-items: center;
  display: flex;
  gap: rhythm(1);
  justify-content: space-between;
}

.account-type-container {
  column-gap: rhythm(1);
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
}

.expiration {
  color: $color-primary-regular;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rhythm(1);
  pa-button.full-width {
    width: 100%;
  }
}
