<div class="account-status">
  <div>
    <div class="body-m type">
      <span *ngIf="isTrial | async">{{ 'account.free_trial' | translate }}</span>
      <span *ngIf="!(isTrial | async)">{{ 'account.type.' + (accountType | async) | translate }}</span>
    </div>
    <div class="title-l expiration">
      <span *ngIf="(isSubscribed | async) && (isCancelScheduled | async)">
        {{
          (subscriptionDaysLeft | async) === 1
            ? ('account.day_left' | translate)
            : ('account.days_left' | translate: { days: (subscriptionDaysLeft | async) })
        }}
      </span>
      <ng-container *ngIf="isTrial | async">
        <span *ngIf="trialExpired | async">{{ 'account.expired' | translate }}</span>
        <span *ngIf="!(trialExpired | async) && (daysLeft | async) !== null">
          {{
            (daysLeft | async) === 1
              ? ('account.day_left' | translate)
              : ('account.days_left' | translate: { days: (daysLeft | async) })
          }}
        </span>
      </ng-container>
    </div>
  </div>
  <div class="buttons">
    <pa-button
      *ngIf="(isSubscribed | async) && (isCancelScheduled | async)"
      [routerLink]="reactivateUrl | async">
      {{ 'billing.reactivate' | translate }}
    </pa-button>
    <pa-button
      *ngIf="!((isSubscribed | async) && (isCancelScheduled | async))"
      [routerLink]="upgradeUrl | async">
      {{ 'billing.upgrade' | translate }}
    </pa-button>
    <pa-button
      *ngIf="canExtendTrial | async"
      aspect="basic"
      (click)="contact()">
      {{ 'account.extend_trial' | translate }}
    </pa-button>
  </div>
</div>
