<div class="account-status">
  <div>
    <div class="body-m type">
      <span *ngIf="isTrial | async">{{ 'account.free_trial' | translate }}</span>
      <span *ngIf="!(isTrial | async)">{{ 'account.type.' + (accountType | async) | translate }}</span>
    </div>
    <div class="title-l price">
      <ng-container *ngIf="isSubscribed | async">
        <ng-container *ngIf="(isCancelScheduled | async) === false">
          <span>{{ price | async | currency : (getCurrency() | async) : 'symbol' : '1.0-0' }}</span>
          <span class="body-s unit">/{{ 'billing.month' | translate }}</span>
        </ng-container>
        <ng-container *ngIf="isCancelScheduled | async">
          <span>
            {{
              (subscriptionDaysLeft | async) === 1
                ? ('account.day_left' | translate)
                : ('account.days_left' | translate : { days: (subscriptionDaysLeft | async) })
            }}
          </span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isTrial | async">
        <span *ngIf="trialExpired | async">{{ 'account.expired' | translate }}</span>
        <span *ngIf="!(trialExpired | async) && (daysLeft | async) !== null">
          {{
            (daysLeft | async) === 1
              ? ('account.day_left' | translate)
              : ('account.days_left' | translate : { days: (daysLeft | async) })
          }}
        </span>
      </ng-container>
    </div>
  </div>
  <div class="buttons">
    <pa-button
      *ngIf="isBillingEnabled | async"
      kind="primary"
      [routerLink]="upgradeUrl | async">
      {{ 'billing.upgrade' | translate }}
    </pa-button>
    <pa-button
      *ngIf="canExtendTrial | async"
      aspect="basic"
      (click)="contact()">
      {{ 'account.extend_trial' | translate }}
    </pa-button>
  </div>
</div>
