@import 'apps/dashboard/src/variables';

.account-status {
  align-items: center;
  display: flex;
  gap: rhythm(3);
  justify-content: space-between;
}

.type {
  font-weight: $font-weight-semi-bold;
}

.expiration {
  color: $color-primary-regular;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rhythm(1);
}
