replicaCount: 1
revisionHistoryLimit: 3
image: IMAGE_TO_REPLACE
hash: HASH_VERSION_TO_REPLACE
resources:
  limits:
    memory: "50Mi"
    cpu: "50m"

service:
  internalPort: 80
  externalPort: 80
nodeSelector: {}

api_path: XXX
site_key: XXX
app_name: login
ganalytics: XXX
sentry_environment: stage
sentry_url: XXX
posthog_host: XXX
posthog_key: XXX
allowed_host_redirect: XXX
saml_enabled: false
