@import 'variables';

.account-home {
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
  padding: 4.5vw var(--app-layout-margin-right);

  .container-row,
  .right-column {
    display: flex;
    gap: rhythm(3);
  }

  .container.chart-container {
    border-top-left-radius: 0;
  }
  .container {
    background-color: $color-neutral-lightest;
    border-radius: rhythm(0.5);
    padding: rhythm(2);
  }

  .processing-stats {
    flex: 1 0 auto;

    .container {
      padding: rhythm(3);
    }
  }

  .chart-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: rhythm(3);

    .chart-message {
      color: $color-neutral-regular;
      font-size: font-size(xs);
      font-style: italic;
    }
  }

  .chart-type-container {
    align-items: center;
    color: $color-neutral-regular;
    display: flex;
    gap: rhythm(1);

    .chart-type {
      cursor: pointer;
    }
    .selected {
      color: $color-dark-stronger;
      font-weight: $font-weight-semi-bold;
    }
    .separator {
      height: rhythm(2);
      width: 1px;
    }
  }

  .right-column {
    flex-direction: column;
    margin-top: rhythm(6);
    width: rhythm(35);

    .plan-name {
      display: flex;
      gap: rhythm(1);
    }
    .plan {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &.billing-enabled {
        cursor: pointer;
      }
    }

    .kb-state {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .total-queries {
      font-size: rhythm(5);
      font-weight: $font-weight-bold;
    }
  }

  .separator {
    background-color: $color-neutral-light;
    height: 100%;
    width: 1px;
  }
}
