@import 'apps/dashboard/src/variables';

.account-home {
  max-width: calc(#{rhythm(90)} * 2);

  .container-row {
    display: flex;
    gap: rhythm(5);
  }

  .processing-stats {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: rhythm(3);
    h2 {
      margin-bottom: 0;
    }
  }

  .consumption-header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .chart-container {
    background-color: $color-neutral-lightest;
    padding: rhythm(3);

    .chart-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: rhythm(3);
    }

    .chart-legend {
      align-items: center;
      display: flex;
      gap: rhythm(1);
      .line {
        border-top: 2px dashed $color-tertiary-regular;
        height: 2px;
        width: rhythm(3);
      }
    }

    .chart-message {
      color: $color-neutral-regular;
      font-size: font-size(xs);
      font-style: italic;
    }
  }

  .right-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: rhythm(4);
    width: rhythm(41);

    .kb-list {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: rhythm(1);
      list-style: none;
      padding: 0;
      margin-top: rhythm(1.5);
    }

    .kb-item {
      align-items: center;
      color: inherit;
      display: flex;
      gap: rhythm(1);
      text-decoration: none;

      pa-icon {
        display: flex;
      }
    }
  }
}
