<pa-demo-page>
  <pa-demo-title>Buttons</pa-demo-title>

  <pa-demo-description>Buttons can contain text, icon or both.</pa-demo-description>
  <pa-demo-examples>
    <h4 class="section-title">Primary</h4>
    <div class="pa-container">
      <div class="pa-buttons-container">
        <div class="pa-buttons-block">
          <pa-button kind="primary"
                     aspect="solid"
                     [size]="selectedSize"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="primary"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     kind="primary"
                     aspect="solid"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [size]="selectedSize"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
        </div>

        <div class="pa-buttons-block">
          <pa-button
            kind="primary"
            aspect="basic"
            [size]="selectedSize"
            [active]="activeState"
            [disabled]="disabledState"
            (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="primary"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     kind="primary"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
        </div>
      </div>
    </div>

    <h4 class="section-title">Secondary</h4>
    <div class="pa-container">
      <div class="pa-buttons-container">
        <div class="pa-buttons-block">
          <pa-button kind="secondary"
                     aspect="solid"
                     [size]="selectedSize"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="secondary"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     kind="secondary"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
        </div>
        <div class="pa-buttons-block">
          <pa-button
            kind="secondary"
            aspect="basic"
            [size]="selectedSize"
            [active]="activeState"
            [disabled]="disabledState"
            (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="secondary"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     kind="secondary"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
        </div>
      </div>
    </div>

    <h4 class="section-title">Destructive</h4>
    <div class="pa-container">
      <div class="pa-buttons-container">
        <div class="pa-buttons-block">
          <pa-button kind="destructive"
                     aspect="solid"
                     [size]="selectedSize"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="destructive"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     kind="destructive"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [active]="activeState"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
        </div>
        <div class="pa-buttons-block">
          <pa-button
            kind="destructive"
            aspect="basic"
            [size]="selectedSize"
            [disabled]="disabledState"
            (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="destructive"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     kind="destructive"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
        </div>
      </div>
    </div>

    <h4 class="section-title">Inverted</h4>
    <div class="pa-container">
      <div class="pa-buttons-container inverted">
        <div class="pa-buttons-block">
          <pa-button kind="inverted"
                     aspect="solid"
                     [size]="selectedSize"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="inverted"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
          <pa-button icon="search"
                     kind="inverted"
                     aspect="solid"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Solid</pa-button>
        </div>
        <div class="pa-buttons-block">
          <pa-button
            kind="inverted"
            aspect="basic"
            [size]="selectedSize"
            [disabled]="disabledState"
            (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     iconAndText
                     kind="inverted"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
          <pa-button icon="search"
                     kind="inverted"
                     aspect="basic"
                     [size]="selectedSize"
                     [iconSize]="selectedSize === 'large' ? 'medium' : 'small'"
                     [disabled]="disabledState"
                     (click)="clickOn($event)">Basic</pa-button>
        </div>
      </div>
    </div>
  </pa-demo-examples>
  <pa-demo-configuration>
    <div class="pa-demo-configuration-field">
      <pa-select label="Size" [(ngModel)]="selectedSize">
        <pa-option value="small">small</pa-option>
        <pa-option value="medium">medium</pa-option>
        <pa-option value="large">large</pa-option>
      </pa-select>
    </div>
    <div class="pa-demo-configuration-field">
      <pa-checkbox id="active"
                   [(ngModel)]="activeState">Active state</pa-checkbox>
      <pa-checkbox id="disabled"
                   [(ngModel)]="disabledState">Disabled state</pa-checkbox>
    </div>
  </pa-demo-configuration>

  <pa-demo-usage>
    <pa-demo-button-usage></pa-demo-button-usage>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{codeExample}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
