@import 'variables';

.setup-container {
  --setup-container-min-height: 80vh;
  padding: 10vh 0;

  &-inner {
    width: 600px;
    max-width: 100%;
    min-height: var(--setup-container-min-height);
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
  }
}
