<app-configuration-form
  [form]="form"
  [submitDisabled]="form.invalid"
  (cancel)="cancel.emit()"
  (triggerSubmit)="submit()">
  <ng-container [formGroup]="configForm">
    <pa-toggle
      formControlName="all"
      withBackground
      [help]="'retrieval-agents.workflow.node-types.historical.form.all.help' | translate">
      {{ 'retrieval-agents.workflow.node-types.historical.form.all.label' | translate }}
    </pa-toggle>
    <app-rules-field [form]="configForm"></app-rules-field>
  </ng-container>
</app-configuration-form>
