@import 'variables';

.button-action {
  @include reset-button();
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.15s;
  svg {
    display: block;
    fill: #000;
  }

  &:not(:disabled) {
    cursor: pointer;
    &:active,
    &:hover {
      svg {
        fill: var(--stf-primary);
      }
    }
    &:active {
      background-color: rgba(var(--stf-primary-rgb), 0.08);
    }
  }
  &:disabled {
    svg {
      fill: var(--stf-gray-lighter-3);
    }
  }

  &.raised {
    border-radius: var(--stf-border-radius-button);
    background-color: #fbfbfb;
    box-shadow: var(--stf-shadow-button) rgba(0, 0, 0, 0.16);
    &:not(:disabled) {
      &:active {
        background-color: #fbfbfb;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.16);
      }
    }
  }
}
