<div class="pa-main-container">
  <div class="pa-main-side-panel">
    <div class="panel-header">
      <pa-button
        icon="arrow-left"
        aspect="basic"
        routerLink=".."
        (click)="resetAccount()">
        Back
      </pa-button>
      <div class="title-l">
        {{ (account | async)?.title }}
      </div>
    </div>
    <div class="account-info">
      <div>
        Id:
        <small>
          <strong>{{ (account | async)?.id }}</strong>
        </small>
      </div>
      <div>
        State:
        <strong>{{ currentState | async }}</strong>
      </div>
      <div>
        Type:
        <strong>{{ (account | async)?.type }}</strong>
      </div>
      <ng-container *ngIf="(account | async)?.type === 'stash-trial'">
        <div *ngIf="(account | async)?.trialExpirationDate as trialExpirationDate">
          Trial expiration date:
          <strong>{{ trialExpirationDate | date: 'yyyy-MM-dd' }}</strong>
        </div>
      </ng-container>
      <div>
        Max KBs:
        <strong>{{ (account | async)?.maxKbs === -1 ? 'Unlimited' : (account | async)?.maxKbs }}</strong>
      </div>
      <div>
        Dedicated processors state:
        <strong style="text-transform: capitalize">{{ (account | async)?.dedicatedProcessorsState }}</strong>
      </div>
    </div>
    <nav>
      <ul>
        <li
          routerLink="config"
          routerLinkActive="active">
          Configuration
        </li>
        <li
          routerLink="features"
          routerLinkActive="active">
          Blocked features
        </li>
        <li
          routerLink="kbs"
          routerLinkActive="active">
          Knowledge Boxes
        </li>
        <li
          *ngFor="let kb of kbList | async"
          class="child-route"
          [routerLink]="'zone/' + kb.zoneId + '/kb/' + kb.id"
          routerLinkActive="active">
          <pa-icon
            name="knowledge-box"
            size="small"></pa-icon>
          {{ kb.slug }}
        </li>
        <li
          routerLink="limits"
          routerLinkActive="active">
          Limits
        </li>
        <li
          routerLink="users"
          routerLinkActive="active">
          Users
        </li>
      </ul>
    </nav>
  </div>
  <div class="pa-main-container-wide">
    <router-outlet></router-outlet>
  </div>
</div>
