@import 'apps/manager-v2/src/variables';

.account-info {
  background: $color-neutral-lightest;
  display: flex;
  flex-direction: column;
  gap: rhythm(1);
  margin: rhythm(1) rhythm(2) rhythm(2);
  padding: rhythm(1);
}
