<div class="search-filters">
  <div class="search-filters-section">
    <div class="mb-16">
      <h2>{{ 'search.sort_by' | translate }}</h2>
    </div>
    <stf-checkbox-group
      [checkboxes]="orders"
      [selection]="selectedOrder$ | async"
      (selectionChange)="setOrder($event.length ? $event[0] : null)"
      type="radio"
      color="dark"
      [inline]="true"
    >
    </stf-checkbox-group>
  </div>

  <div class="search-filters-section">
    <div class="mb-16" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ 'generic.tags' | translate }}</h2>
      <app-button-clear (click)="setFilters('tags', [])">
        <span>{{ 'generic.clear_all' | translate }}</span>
      </app-button-clear>
    </div>
    <app-filter-ontology [selection]="selectedTags$ | async" (selectionChange)="setFilters('tags', $event)">
    </app-filter-ontology>
  </div>

  <div class="search-filters-section">
    <div class="mb-16" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ 'search.type_of_results' | translate }}</h2>
      <app-button-clear (click)="setFilters('results', [])">
        <span>{{ 'generic.restore' | translate }}</span>
      </app-button-clear>
    </div>
    <div class="ml-16">
      <stf-checkbox-group
        [checkboxes]="resultTypes"
        [selection]="selectedResultTypes$ | async"
        (selectionChange)="setFilters('results', $event)"
        spacing="small"
        color="dark"
      >
      </stf-checkbox-group>
    </div>
  </div>

  <div class="search-filters-section">
    <div class="mb-16" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ 'search.type_of_document' | translate }}</h2>
      <app-button-clear (click)="setFilters('documents', [])">
        <span>{{ 'generic.clear_all' | translate }}</span>
      </app-button-clear>
    </div>
    <div class="ml-16">
      <stf-checkbox-group
        [checkboxes]="documentTypes"
        [selection]="selectedDocumentTypes$ | async"
        (selectionChange)="setFilters('documents', $event)"
        spacing="small"
        color="dark"
      >
      </stf-checkbox-group>
    </div>
  </div>

  <div class="search-filters-section">
    <div class="mb-16" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ 'generic.origin' | translate }}</h2>
      <app-button-clear (click)="setFilters('origins', [])">
        <span>{{ 'generic.clear_all' | translate }}</span>
      </app-button-clear>
    </div>
    <div class="ml-16">
      <stf-checkbox-group
        [checkboxes]="origins"
        [selection]="selectedOrigins$ | async"
        (selectionChange)="setFilters('origins', $event)"
        spacing="small"
        color="dark"
      >
      </stf-checkbox-group>
    </div>
  </div>
</div>
