@use 'apps/dashboard/src/variables' as *;

.main-container {
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
}

.estimated-time {
  margin-top: rhythm(1);

  strong {
    font-weight: $font-weight-semi-bold;
  }
}
