# See http://help.github.com/ignore-files/ for more about ignoring files.

/private_keys
.env

# compiled output
/dist
/tmp
/out-tsc
/src
/apps/dashboard/src/assets/tmp
/apps/search-widget-demo/public/tmp
/connectors-db.json
/remote-connectors
/libs/sdk-core/docs/

# dependencies
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# config
environment.dev.ts
apps/**/local-stage/*.json
apps/**/local-dev/*.json

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


.angular
/libs/pastanaga-angular/
/libs/chrome-ext/src/lib/vendor
/libs/sdk-core/protobuf/build

# Sentry Auth Token
.sentryclirc

.nx/cache
.nx/workspace-data