affinity: {}
nodeSelector: {}
tolerations: []
topologySpreadConstraints: []
replicaCount: 1
revisionHistoryLimit: 3

containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE
hash: HASH_VERSION_TO_REPLACE

resources: {}
  # limits:
  #   memory: '50Mi'
  #   cpu: '50m'

service:
  internalPort: 80
  externalPort: 80

api_origin: XXX
app_name: app
no_stripe: false
brand_name: XXX
brand_domain: XXX
assets_path: XXX
sentry_environment: stage
oauth_client_id: XXX
auth_endpoint: XXX

virtualService:
  enabled: false
  gateway: XXX
  host: XXX

podDisruptionBudget:
  enabled: false

# annotations:
#   what: "add annotations"
#   where: "in the pods"
envFrom:
  - configMapRef:
      name: manager-config

## Intended to be used with secret
# env:
#   SITE_KEY: XXX
#   SENTRY_URL: XXX