.account-manage-container {
  display: block;
  margin: 30px 0 80px 0;
}

.section {
  padding: 50px 0 55px 0;
  border-bottom: 1px solid var(--stf-gray-lighter-2);
  &:last-child {
    border-bottom: 0;
  }
  &-container {
    width: 825px;
    max-width: 100%;
  }
}

h2 {
  margin: 0 0 36px 0;
  font-weight: var(--stf-font-weight-bold);
}

.account-field {
  margin-bottom: 30px;
  &-name {
    font-weight: var(--stf-font-weight-semibold);
  }
}

.zone-select {
  min-width: 305px;
}
