<div class="service-access-container">
<div>
  <form [formGroup]="addForm"
        (ngSubmit)="addServiceAccess()">
    <h3>{{ 'stash.create_service_access' | translate }}</h3>
    <div fxLayout="row">
      <input formControlName="title"
             type="text"
             stfFilterInput
             inputColor="gray"
             [inputHeight]="32"
             placeholder="{{ 'generic.name' | translate }}">

      <select formControlName="role"
              stfSelect
              selectSize="small">
        <option value=""
                *ngIf="addForm.value.role ===''">
          {{ 'generic.role' | translate }}
        </option>
        <option *ngFor="let role of roles"
                [value]="role">
          {{ roleTitles[role] | translate }}
        </option>
      </select>
      <pa-button type="submit"
                 size="small"
                 [disabled]="addForm.invalid">
        {{ 'generic.add' | translate }}
      </pa-button>
    </div>
  </form>

  <div *ngIf="serviceAccess && serviceAccess.length > 0"
       class="container">
    <h3>{{ 'stash.view_edit_service_access' | translate }}</h3>
    <div class="service-access-list">
      <div class="service-access"
           *ngFor="let sa of serviceAccess">
        <div class="service-access-header"
             fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="service-access-title"
               fxFlex="1 1 0">
            <button (click)="toggleSA(sa.id)"
                    [disabled]="!sa.keys || sa.keys.length === 0">
              <div fxLayout="row"
                   fxLayoutAlign="start center"
                   fxLayoutGap="4px">
                <svg-icon *ngIf="sa.keys && sa.keys.length > 0"
                          src="assets/icons/chevron-right.svg"
                          class="service-access-title-arrow"
                          [class.expanded]="isExpanded(sa.id)">
                </svg-icon>
                <span>{{ sa.title }}</span>
              </div>
            </button>
          </div>
          <div class="service-access-actions"
               fxFlex="0 0 auto">
            <pa-button (click)="createKey(sa)"
                       aspect="basic"
                       icon="plus"
                       size="small"
                       paTooltip="stash.new_service_access_token">
            </pa-button>
            <pa-button (click)="deleteServiceAccess(sa)"
                       aspect="basic"
                       icon="trash"
                       size="small"
                       paTooltip="generic.delete">
            </pa-button>
          </div>
        </div>

        <stf-expander [expanded]="isExpanded(sa.id)"
                      *ngIf="sa.keys && sa.keys.length > 0">
          <stf-expander-content>
            <div class="service-access-keys">
              <div class="service-access-key"
                   *ngFor="let key of sa.keys"
                   fxLayout="row"
                   fxLayoutAlign="start center">
                <div class="service-access-key-id"
                     fxFlex="0 0 60%">
                  {{ key.id }}
                </div>
                <div fxFlex="0 0 100px">
                  {{ key.expires | formatDate }}
                </div>
                <div class="service-access-key-actions"
                     fxFlex="1 1 auto">
                  <pa-button (click)="deleteKey(sa, key)"
                             class="delete-key"
                             aspect="basic"
                             icon="trash"
                             size="small"
                             iconSize="small"
                             paTooltip="generic.delete">
                  </pa-button>
                </div>
              </div>
            </div>
          </stf-expander-content>
        </stf-expander>

      </div>
    </div>
  </div>
</div>
<ncom-hint label="How to use your service access token in the API">
  <p>The service access token can be used on any call to the API. It goes in the <code>X-STF-Serviceaccount</code>
    header
    and replaces the <code>Authorization</code> header</p>
  <pre><code class="highlight">curl $$KB_URL$$/upload \
 -X POST \
 -H "X-STF-Serviceaccount: Bearer YOUR-SERVICE-ACCESS-TOKEN" \
 -T /path/to/file</code></pre>
  <a href="https://docs.nuclia.dev/docs/quick-start/push#api-push-contents-using-the-api"
     target="_new">Learn more</a>
</ncom-hint>