@import 'variables';

:host {
  display: block;
  padding: rhythm(6) rhythm(12);
}

.label-sets-management {
  width: rhythm(50);

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: rhythm(6);
  }

  .labels {
    padding: rhythm(1) rhythm(2);
  }
}
