affinity: {}
nodeSelector: {}
tolerations: []
topologySpreadConstraints: []
replicaCount: 1
revisionHistoryLimit: 3

containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE
hash: HASH_VERSION_TO_REPLACE

resources: {}
  # limits:
  #   memory: '50Mi'
  #   cpu: '50m'

service:
  internalPort: 80
  externalPort: 80

site_key: XXX
app_name: app
cdn: XXX
brand_name: XXX
brand_domaine: XXX
sentry_environment: stage
sentry_url: XXX
editor_url: XXX
email_domain: XXX
saml_enabled: XXX

virtualService:
  enabled: false
  gateway: XXX
  host: XXX

podDisruptionBudget:
  enabled: false

# annotations:
#   what: "add annotations"
#   where: "in the pods"
