:host > ::ng-deep app-account-kbs {
  margin: 22px;
  display: block;
}

stf-sidebar {
  top: var(--app-topbar-height) !important;
}

main {
  padding: 70px var(--app-layout-margin-right) 60px 5%;
  ::ng-deep h2 {
    margin: 0 0 36px 0;
    font-weight: var(--stf-font-weight-bold);
  }
}
