@import 'apps/dashboard/src/variables';

.knowledge-box-training {
  width: 770px;
  max-width: 100%;

  section {
    padding: rhythm(6) 0;
  }
}

h2 {
  margin: 0;
  font-weight: var(--stf-font-weight-bold);
}

.history {
  margin-top: rhythm(2);
}

.last-run {
  color: $color-neutral-regular;
  font-style: italic;
  margin-top: 0;
}

.select {
  margin-bottom: rhythm(2);
  display: flex;
  align-items: center;
  gap: rhythm(2);
}

.selection {
  font-style: italic;
}

.warning {
  color: var(--stf-orange);
}

.running {
  color: $color-neutral-regular;
}

.cta-container {
  align-items: center;
  display: flex;
  margin-top: rhythm(3);

  .active-training {
    margin-left: rhythm(2);
  }
}
