<div class="knowledge-box-training">
  <h2>{{ 'stash.side.trainings' | translate }}</h2>
  <div
    *ngIf="cannotTrain | async"
    class="warning">
    {{ 'stash.settings.processes.training.not-allowed' | translate }}
  </div>
  <div
    *ngIf="!(hasResources | async)"
    class="warning">
    {{ 'stash.settings.processes.training.no-resources' | translate }}
  </div>
  <div
    *ngIf="!(cannotTrain | async)"
    class="history">
    <p>{{ 'stash.settings.processes.training.consult-history' | translate }}</p>
    <pa-button
      aspect="basic"
      routerLink="history">
      {{ 'training.history' | translate }}
    </pa-button>
  </div>
  <section *ngFor="let type of enabledTrainings | async">
    <h2>{{ 'stash.settings.processes.' + type | translate }}</h2>
    <p class="last-run">
      <small>
        {{
          'stash.settings.processes.training.last_run'
            | translate
              : { runDate: trainings[type].lastRun ? (trainings[type].lastRun | date: 'YYYY-MM-dd HH:mm') : '–' }
        }}
      </small>
    </p>

    <div [class.running]="trainings[type].running">
      <p>{{ 'stash.settings.processes.' + type + '.info' | translate }}</p>

      <div class="select">
        <ng-container *ngIf="type === trainingTypes.ner || type === trainingTypes.classifier; else singleSelection">
          <nsi-dropdown-button
            [disabled]="trainings[type].running"
            [popupRef]="multiSelectDropdown"
            [open]="trainings[type].open">
            {{
              (type === trainingTypes.ner
                ? 'stash.settings.processes.training.select-entities'
                : 'stash.settings.processes.training.select-labelsets'
              ) | translate
            }}
          </nsi-dropdown-button>
        </ng-container>

        <ng-template #singleSelection>
          <nsi-dropdown-button
            [disabled]="trainings[type].running"
            [popupRef]="singleSelectDropdown"
            [open]="trainings[type].open">
            {{ 'stash.settings.processes.training.select-labelset' | translate }}
          </nsi-dropdown-button>
        </ng-template>

        <div class="selection">{{ getSelection(type) }}</div>
      </div>

      <pa-dropdown
        #multiSelectDropdown
        (onOpen)="trainings[type].open = true"
        (onClose)="trainings[type].open = false">
        <pa-option
          *ngIf="options[type] | async as options"
          dontCloseOnSelect>
          <pa-checkbox
            [value]="trainings[type].selectedOptions.length === options.length"
            (change)="toggleAll(type)">
            {{ 'stash.settings.processes.training.select_all' | translate }}
          </pa-checkbox>
        </pa-option>
        <pa-separator></pa-separator>
        <pa-option
          *ngFor="let option of options[type] | async"
          dontCloseOnSelect>
          <pa-checkbox
            [value]="trainings[type].selectedOptions.includes(option)"
            (change)="toggleOption(type, option)">
            {{ option.title | translate }}
          </pa-checkbox>
        </pa-option>
      </pa-dropdown>

      <pa-dropdown
        #singleSelectDropdown
        (onOpen)="trainings[type].open = true"
        (onClose)="trainings[type].open = false">
        <pa-option
          *ngFor="let option of options[type] | async"
          dontCloseOnSelect>
          <pa-checkbox
            [value]="trainings[type].selectedOptions.includes(option)"
            (change)="updateSelection(type, option)">
            {{ option.title | translate }}
          </pa-checkbox>
        </pa-option>
      </pa-dropdown>

      <ng-container *ngIf="isBillingEnabled | async">
        <p [class.warning]="!trainings[type].agreement">
          {{ 'stash.settings.processes.training.time_requirement' | translate: { hours: hoursRequired } }}
        </p>

        <div class="agreement-container">
          <pa-checkbox
            [disabled]="(cannotTrain | async) || !(hasResources | async) || trainings[type].running"
            [(value)]="trainings[type].agreement">
            {{ 'stash.settings.processes.training.agreement' | translate }}
          </pa-checkbox>
        </div>
      </ng-container>
    </div>

    <div
      *ngIf="trainings[type].running"
      class="active-training warning">
      {{ 'stash.settings.processes.training.active' | translate }}
    </div>
    <div class="cta-container">
      <pa-button
        kind="primary"
        [disabled]="
          (!trainings[type].running && (isBillingEnabled | async) && !trainings[type].agreement) ||
          (cannotTrain | async) ||
          !(hasResources | async)
        "
        (click)="startOrStopTraining(type)">
        {{ 'stash.settings.processes.training.' + (trainings[type].running ? 'stop' : 'start') | translate }}
      </pa-button>
    </div>
  </section>
</div>
