@import 'variables';

.setup-step3 {
  display: flex;
  flex-direction: column;
  min-height: var(--setup-container-min-height);
  padding: 60px 30px;
  @include media-breakpoint("gt-xs") {
    padding: 60px 76px 36px 76px;
  }

  &-title {
    margin: 36px 0 0 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
    text-align: center;
  }

  &-desc {
    text-align: center;
    margin-top: 2px;
  }

  &-drop {
    margin-top: 20px;
    min-height: 80px;
    padding: 0 15px;
    text-align: center;
    border: 2px dashed #e5e5e5;
    color: var(--stf-gray-lighter-3);
    cursor: pointer;
    &-file-over {
      border: 2px dashed #333;
    }
  }

  &-status {
    margin-top: 28px;
    font-weight: var(--stf-font-weight-bold);
  }

  &-video {
    margin-top: 15px;
    
    &-desc {
      margin-bottom: 20px;
      padding: 0 20px;
      text-align: center;
      line-height: 1.2;
    }

    img {
      width: 100%;
      height: auto;
    }

    a {
      position: relative;
      display: block;
      overflow: hidden;
    }
    a:hover &-play {
      opacity: 1;
    }

    &-play {
      width: 58px;
      height: 58px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.7;
      transition: opacity 0.3s;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        left: 21px;
        @include arrow(right, 13px, 23px, var(--stf-gray-lighter-3));
      }
    }
  }

  &-actions {
    margin-top: auto;
    padding-top: 30px;
    text-align: center;
  }
  
  &-skip {
    flex: 1 1 auto;
    margin-top: 5px;
  }
}
