<div class="knowledge-box-profile"
     *ngIf="kb && account">

  <div class="section">
    <h2>{{ 'stash.profile' | translate }}</h2>

    <form [formGroup]="kbForm"
          (ngSubmit)="saveKb()">
      <div class="mb-24"
           fxLayout="row">
        <label class="kb-field-name mt-12"
               fxFlex="30%">
          {{ 'generic.uid' | translate }}
        </label>
        <div fxFlex="70%">
          <stf-input formControlName="uid"
                     theme="white"
                     [readonly]="true"
                     [isLessen]="true">
          </stf-input>
        </div>
      </div>

      <div class="mb-24"
           fxLayout="row">
        <label class="kb-field-name mt-12"
               fxFlex="30%">
          {{ 'generic.slug' | translate }}
        </label>
        <div fxFlex="70%">
          <stf-input formControlName="slug"
                     [validator]="kbForm.controls['slug']"
                     [validation_messages]="validationMessages.slug"
                     theme="white"
                     [isLessen]="true">
          </stf-input>
        </div>
      </div>

      <div class="mb-24"
           fxLayout="row">
        <label class="kb-field-name mt-12"
               fxFlex="30%">
          {{ 'generic.name' | translate }}
        </label>
        <div fxFlex="70%">
          <stf-input formControlName="title"
                     theme="white"
                     [isLessen]="true">
          </stf-input>
        </div>
      </div>

      <div fxLayout="row">
        <label class="kb-field-name mt-12"
               fxFlex="30%">
          {{ 'generic.description' | translate }}
        </label>
        <div fxFlex="70%">
          <stf-textarea formControlName="description"
                        color="white"
                        initialHeight="130px">
          </stf-textarea>
        </div>
      </div>

      <div class="mt-40"
           fxLayout="row">
        <div fxFlex="30%"></div>
        <div fxFlex="70%"
             fxLayout="row"
             fxLayoutGap="10px">
          <pa-button type="submit"
                     kind="primary"
                     [disabled]="kbForm.invalid || kbForm.pristine">{{ 'generic.save' | translate }}</pa-button>
          <pa-button *ngIf="!kbForm.pristine"
                     aspect="basic"
                     (click)="initKbForm()">{{ 'generic.cancel' | translate }}</pa-button>
        </div>
      </div>
    </form>
  </div>

</div>
