@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  /* --custom-font-family: Roboto;
  --custom-color-neutral-regular: #707070;
  --custom-color-neutral-light: #c4c4c4;
  --custom-color-neutral-lighter: #e6e6e6;
  --custom-color-neutral-lightest: #f7f7f8;
  --custom-color-primary-stronger: #12007a;
  --custom-color-primary-strong: #1f00cc;
  --custom-color-primary-regular: #003dff;
  --custom-color-primary-light: #674dff;
  --custom-color-primary-lighter: #dcd6ff;
  --custom-color-primary-lightest: #eeebff; */
}
