/* @import url('https://cdn.rag.progress.cloud/fonts/inter.css'); */
/* @import url('https://cdn.rag.progress.cloud/fonts/roboto.css'); */

:root {
  /* --custom-font-family: Inter;
  --custom-color-neutral-regular: #707070;
  --custom-color-neutral-light: #c4c4c4;
  --custom-color-neutral-lighter: #e6e6e6;
  --custom-color-neutral-lightest: #f7f7f8;
  --custom-color-primary-stronger: #12007a;
  --custom-color-primary-strong: #1f00cc;
  --custom-color-primary-regular: #003dff;
  --custom-color-primary-light: #674dff;
  --custom-color-primary-lighter: #dcd6ff;
  --custom-color-primary-lightest: #eeebff; */
}
