<pa-demo-page>
  <pa-demo-title>Spinner</pa-demo-title>
  <pa-demo-description>
    <p>Sistema provide a spinner component which can be displayed in 3 sizes: small, medium and large</p>
  </pa-demo-description>

  <pa-demo-examples>
    <div class="spinners">
      <nsi-spinner size="small"></nsi-spinner>
      <nsi-spinner></nsi-spinner>
      <nsi-spinner size="large"></nsi-spinner>
    </div>
  </pa-demo-examples>

  <pa-demo-code>
    Small spinner:
    <pre><code>{{codeSmall}}</code></pre>

    Default spinner is medium, so those two are equivalent:
    <pre><code>{{codeMedium}}</code></pre>

    Large spinner:
    <pre><code>{{codeLarge}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
