@import 'variables';

.nua-activity {
  padding: 50px var(--app-layout-margin-right) 60px 5%;
  position: relative;
  min-height: 200px;
}

.nua-activity-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  small {
    color: $gray-contrast;
    font-style: italic;
  }
}

.activity-container {
  background: $white;
}

table {
  border-spacing: 0;
  padding: 8px rythm(2);
  width: 100%;

  .cdk-header-cell {
    border-bottom: 1px solid $gray-black;
  }

  .cdk-column-file {
    width: 40%;
  }

  .cdk-cell {
    padding: 8px;
  }
}

.load-more {
  display: flex;
  justify-content: center;
  padding: rythm(1);
}
