<div class="test-panel">
  <div class="form-entry">
    <label for="question">Input</label>
    <pa-textarea
      id="question"
      rows="2"
      resizable
      placeholder="User question"
      externalLabel=""
      [formControl]="question"></pa-textarea>
  </div>
  @if (sessions().length > 0) {
    <div class="form-entry">
      <label for="session">Test session</label>
      <pa-select
        id="session"
        [formControl]="session">
        <pa-option value="new">Create new session</pa-option>
        @for (session of sessions(); track session.id) {
          <pa-option [value]="session.id">
            {{ session.title }}
          </pa-option>
        }
      </pa-select>
    </div>
  }
  <pa-button
    size="small"
    [disabled]="question.invalid"
    (click)="triggerRun()">
    Run test
  </pa-button>

  @if (runningTest()) {
    @if (runningQuestion()) {
      <div class="block-separator"></div>
      <div class="interactions">
        <section class="category-section">
          <app-chip fill>User input</app-chip>
          <blockquote class="user-input">
            {{ runningQuestion() }}
          </blockquote>
        </section>

        <section class="category-section">
          <app-chip fill>Preprocess</app-chip>
          <app-agent-block
            nodeType="rephrase"
            [config]="[
              { content: 'Rebranding and obsolete naming', title: 'Source' },
              { content: 'Rephrase the query using the proper naming', title: 'Prompt' }
            ]"
            [cost]="{ timing: 2221, tokens: 126 }"></app-agent-block>
        </section>

        <section class="category-section">
          <app-chip fill>Context retrieval</app-chip>
          <app-agent-block
            nodeType="context_conditional"
            [config]="[
              { content: 'If the question is about a product', title: 'Prompt' },
              { content: 'Condition true' }
            ]"
            [cost]="{ timing: 325, tokens: 142 }"></app-agent-block>
        </section>
      </div>
    }

    <footer>
      <pa-button
        aspect="basic"
        size="small"
        (click)="triggerStop()">
        Stop
      </pa-button>
    </footer>
  }
</div>
