@import 'variables';

.label {
  align-items: center;
  background-color: $color-light-stronger;
  display: flex;
  height: rhythm(5);
  padding: 0 rhythm(1) 0 rhythm(3);
  width: rhythm(40);

  &.add-new {
    cursor: pointer;
  }

  &-content {
    flex: 1 1 0;
    padding-right: rhythm(1.5);
    min-width: 0; // Allow truncated titles
  }

  &-title {
    @include text-truncate();
  }

  input {
    background-color: $color-light-stronger;
    border: 0;
    border-bottom: 1px solid $color-dark-stronger;
    font-family: inherit;
    padding: rhythm(0.25) rhythm(0.25);
  }

  &-actions {
    align-items: center;
    flex: 0 0 auto;
    display: flex;
    gap: rhythm(1);
  }
}
