<div class="label" *ngIf="label && !editMode">
  <div class="label-content">
    <div class="label-title">{{ label.title }}</div>
  </div>
  <div class="label-actions">
    <pa-button aspect="basic"
               size="small"
               icon="edit"
               iconSize="small"
               paTooltip="generic.edit"
               (click)="edit()">{{'generic.edit' | translate}}</pa-button>
    <pa-button aspect="basic"
               size="small"
               icon="trash"
               iconSize="small"
               paTooltip="generic.delete"
               (click)="delete()">{{'generic.delete' | translate}}</pa-button>
  </div>
</div>

<div *ngIf="addNew && !editMode" class="label add-new" tabindex="0" (click)="edit()" (keyup.enter)="edit()">
  <div class="label-content">
    <div class="label-title">+</div>
  </div>
</div>

<div class="label" *ngIf="editMode" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div class="label-content">
    <input
      type="text"
      [formControl]="title"
      cdkFocusInitial
      (keydown.enter)="title.valid ? save() : null"
      (mousedown)="preventDragAndDrop($event)"
    />
  </div>
  <div class="label-actions">
    <pa-button aspect="basic"
               size="small"
               icon="check"
               iconSize="small"
               paTooltip="generic.save"
               [disabled]="title.invalid || title.value === label?.title"
               (click)="save()">{{'generic.save' | translate}}</pa-button>
    <pa-button aspect="basic"
               size="small"
               icon="cross"
               iconSize="small"
               paTooltip="generic.close"
               (click)="close()">{{'generic.close' | translate}}</pa-button>
  </div>
</div>
