<pa-button class="kb-switch"
           kind="inverted"
           size="small"
           [paPopup]="kbSwitch">
  {{ (kb | async)?.title }}
  <pa-icon *ngIf="(kb | async)?.state === 'PUBLISHED'" size="small" name="unlock"></pa-icon>
</pa-button>

<pa-dropdown #kbSwitch>
  <ng-container *ngFor="let kb of knowledgeBoxes | async; let last=last">
    <pa-option [disabled]="!kb.role_on_kb"
               iconOnRight
               [paTooltip]="kb.title"
               [icon]="kb.state === 'PUBLISHED' ? 'unlock' : ''"
               (selectOption)="goToKb(kb)">{{ kb.title }}</pa-option>
    <pa-separator *ngIf="!last || (last && (showDemo | async))"></pa-separator>
  </ng-container>
  <pa-option *ngIf="showDemo | async"
             class="demo-kb"
             icon="unlock"
             iconOnRight
             (selectOption)="goToDemo()">Demo</pa-option>
</pa-dropdown>
