@use 'apps/dashboard/src/variables' as *;

.account-models {
  .account-models-header {
    margin-bottom: rhythm(4);
  }
  .account-models-content {
    max-width: $width-large-screen;
  }

  pa-tabs {
    display: block;
    margin-bottom: rhythm(4);
  }
  .configs {
    display: flex;
    flex-direction: column;
    gap: rhythm(4);
  }
}
