@use 'apps/dashboard/src/variables' as *;

.account-models {
  .account-models-header {
    margin-bottom: rhythm(4);
  }

  pa-tabs {
    display: block;
    margin-bottom: rhythm(4);
  }

  .configs {
    display: flex;
    flex-direction: column;
    gap: rhythm(2);
  }

  .create {
    align-items: center;
    display: flex;
    gap: rhythm(1);
    justify-content: flex-end;
  }

  .status {
    align-items: center;
    display: flex;
    gap: rhythm(1);
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
