@import 'variables';

.ontology {
  margin: 70px 0 50px 0;
  max-width: 770px;

  h2 {
    margin-bottom: rhythm(3);
  }

  .form-section-container {
    align-items: center;
    display: flex;
    margin-bottom: rhythm(4);

    & > :first-child {
      flex: 1 0 auto;
      width: rhythm(24);
    }
    & > :last-child {
      width: 100%;
    }

    ::ng-deep .pa-field {
      margin-bottom: 0;
    }

    &.classification-label {
      align-items: flex-start;
    }
  }

  .important {
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-weight: var(--stf-font-weight-semibold);
    color: #937f12;
    svg-icon {
      margin-right: rythm(0.5);
    }
    svg {
      display: block;
      fill: currentColor;
    }
  }

  .disabled-color {
    color: var(--stf-gray-lighter-3);
  }

  pa-checkbox {
    display: inline-block;
    margin: rythm(1) rythm(3) 0 0;
  }

  .label-list {
    margin-top: rhythm(4);

    app-label {
      display: block;
      margin-bottom: rhythm(1);
    }

    .cdk-drag-placeholder {
      opacity: 0.4;
    }

    .cdk-drag-animating,
    &.cdk-drop-list-dragging app-label:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .button-container {
    margin-bottom: rhythm(8);

    pa-button {
      margin-right: rhythm(2);
    }
  }

  .danger-zone {
    background: $color-secondary-regular;
    padding: rhythm(3) rhythm(1);
    width: 100%;

    .danger-zone-title {
      font-weight: $font-weight-semi-bold;
      pa-icon {
        margin-right: rhythm(1.5);
      }
    }
    .danger-zone-action-container {
      display: flex;
    }
    .danger-zone-warning {
      flex: 1 1 auto;
      padding-right: rhythm(3);
    }
  }
}
