@import 'variables';

.connector {
  cursor: pointer;
  padding: rhythm(3);
  width: rhythm(32);
  display: flex;
  &:hover {
    background-color: var(--desktop-background);
  }
}
.logo {
  width: rhythm(6);
  margin-right: rhythm(1.5);
  img {
    width: 100%;
    height: auto;
  }
}
.title-xs {
  padding: rhythm(1) 0;
}
