@import 'variables';

.connector {
  cursor: pointer;
  padding: 21px;
  width: 300px;
  display: flex;
  &:hover {
    background-color: var(--desktop-background);
  }
}
.logo {
  width: 48px;
  margin-right: 12px;
  img {
    width: 100%;
    height: auto;
  }
}
.title {
  @include font-size(xl, xl, xl);
  font-weight: bold;
  padding: 8px 0;
}
