@import 'variables';

pa-card {
  margin-right: rhythm(4);
}

.connector {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rhythm(12);
  width: rhythm(12);

  img {
    margin-top: rhythm(1.5);
    width: rhythm(6);
  }
}
