@import 'libs/pastanaga/src/lib/styles/once';
@import 'libs/pastanaga/src/lib/styles/fonts';
@import 'app/styles/css-variables';

html,
body {
  height: 100%;
}

body {
  min-width: var(--app-min-width);
  overflow-x: auto;
  background-color: var(--app-background-color);
}

.user-background {
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pa-toasts-block .stf-toast {
  &.toast-info {
    background-color: var(--stf-gray-lighter) !important;
  }
  &.toast-error {
    background-color: var(--stf-red-pale) !important;
    strong {
      color: var(--stf-red);
    }
    .close-button svg {
      fill: var(--stf-red);
    }
  }
  &.toast-warning {
    background-color: var(--stf-orange-pale) !important;
    strong {
      color: var(--stf-orange);
    }
    .close-button svg {
      fill: var(--stf-orange);
    }
  }
  &.toast-success {
    background-color: var(--stf-green-pale) !important;
    strong {
      color: var(--stf-green);
    }
    .close-button svg {
      fill: var(--stf-green);
    }
  }
}

code.endpoint {
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-all;
}
