@use 'apps/nucliadb-admin/src/variables' as *;

.home-page {
  display: flex;
  gap: rhythm(3);
  align-items: flex-start;

  .check-item {
    display: flex;
    gap: rhythm(1);
    margin-top: calc(-1 * #{rhythm(0.25)});

    & > strong {
      padding-top: rhythm(0.25);
    }
    pa-icon {
      margin-right: rhythm(0.5);
    }
    pa-icon.primary {
      color: $color-primary-regular;
    }
    pa-icon.destructive {
      color: $color-secondary-strong;
    }
  }

  .version-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rhythm(1);
  }
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    align-items: center;
    display: flex;
    gap: rhythm(2);
    justify-content: center;
    pa-icon {
      color: $color-secondary-strong;
    }
  }

  p {
    max-width: rhythm(60);
    text-align: center;
  }
}
