<div class="upload-files">
  <pa-button class="close-button"
             icon="cross"
             aspect="basic"
             (click)="close.emit()">{{'generic.close' | translate}}</pa-button>

  <div mat-dialog-title class="mb-28">
    <h1>{{ (folderMode ? 'modal.upload_folder' : 'modal.upload.title') | translate }}</h1>
  </div>
  <div mat-dialog-content>
    <div class="size-warning" *ngIf="limitsExceeded">
      <pa-icon name="warning"></pa-icon>
      <span>
        <strong>{{ 'upload.size_warning_1' | translate: {
          maxMedia: (maxMediaFileSize | size),
          max: (maxFileSize | size)
        } }}</strong>
        <span>{{ 'upload.size_warning_2' | translate }}</span>
      </span>
    </div>

    <div stfFileDrop
         [class.file-over]="hasBaseDropZoneOver"
         (fileOver)="fileOverBase($event)"
         (atFileDrop)="addFiles($event)"
         (click)="chooseFiles($event)"
         class="dropzone"
         fxLayout="row"
         fxLayoutAlign="center center"
    >
      <span>{{ (folderMode ? 'modal.upload.drop_folder' : 'modal.upload.drop') | translate }}</span>
    </div>
    <input *ngIf="!folderMode"
           type="file"
           stfFileSelect
           (atFileSelect)="addFiles($event)"
           id="upload-file-chooser"
           multiple
           hidden
    />
    <input *ngIf="folderMode"
           type="file"
           (atFileSelect)="addFiles($event)"
           id="upload-file-chooser"
           multiple
           webkitdirectory
           directory
           hidden
    />

    <app-label-field [(selection)]="selectedLabels"></app-label-field>

    <div class="file-list" *ngIf="filesWithoutAudio.length > 0">
      <div class="file-item" *ngFor="let file of filesWithoutAudio">
        <div class="file-name">{{ file.name }}</div>
        <div class="file-size">{{ file.size | size }}</div>
        <div class="file-lang"></div>
        <div class="file-actions">
          <pa-button icon="trash"
                     aspect="basic"
                     size="small"
                     iconSize="small"
                     (click)="removeFile(file)">Remove file
          </pa-button>
        </div>
      </div>
    </div>

    <div class="select-language" *ngIf="filesWithAudio.length > 0">
      <div class="select-language-warning" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <pa-icon name="warning"></pa-icon>
        <div>{{ (filesWithAudio.length === 1 ? 'upload.audio_detected' : 'upload.audios_detected') | translate }}</div>
      </div>

      <div class="file-list">
        <ng-container *ngFor="let file of filesWithAudio; let i = index">
          <div class="file-item">
            <div class="file-select" *ngIf="filesWithAudio.length > 1">
              <stf-checkbox [id]="'upload-file-' + i"
                            [selected]="fileSelection.isSelected(file)"
                            (selectedChange)="fileSelection.toggle(file)"
                            color="dark"
              ></stf-checkbox>
            </div>
            <div class="file-name">
              <label [for]="'upload-file-' + i">{{ file.name }}</label>
            </div>
            <div class="file-size">{{ file.size | size }}</div>
            <div class="file-lang">{{ file.lang || '–' }}</div>
            <div class="file-actions">
              <pa-button icon="trash"
                         aspect="basic"
                         size="small"
                         iconSize="small"
                         (click)="removeFile(file)">Remove file
              </pa-button>
            </div>
          </div>
        </ng-container>
      </div>
      <select stfSelect [formControl]="langMultiSelect" (change)="onSelectLanguageMulti($event)">
        <option value="">{{ 'generic.select_language' | translate }}</option>
        <option [value]="lang" *ngFor="let lang of languageList">{{ 'language.' + lang | translate }}</option>
      </select>
    </div>

    <ncom-hint label="How to upload a file with the API">
      <pre><code class="highlight">curl $$KB_URL$$/upload \
     -X POST \
     -H "authorization: Bearer $$AUTH_TOKEN$$" \
     -T /path/to/file</code></pre>
      <p>
        Note: the authorization token here will expired. If you want a long-term approach, you should use a service
        access token and put it in the <code>X-STF-Serviceaccount</code> header.
      </p>
      <a href="https://docs.nuclia.dev/docs/quick-start/push#api-push-contents-using-the-api" target="_new"
      >Learn more</a
      >
    </ncom-hint>
  </div>

  <div class="mt-28" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <pa-button aspect="basic"
               (click)="close.emit()">{{ 'generic.cancel' | translate }}</pa-button>

    <pa-button kind="primary"
               [paTooltip]="!(files.length > 0 && pendingLangs > 0) ? null : 'upload.audios_detected'"
               [disabled]="files.length === 0 || (files.length > 0 && pendingLangs > 0)"
               (click)="startUpload()">{{ 'generic.add' | translate }}</pa-button>
  </div>
</div>
