@import 'variables';

.upload-files {
  position: relative;
  width: 50vw;
  min-width: 350px;
  max-width: 722px;
  max-height: 85vh;
  padding: rhythm(2) rhythm(3);
}

h1 {
  margin: 0;
  font-size: var(--stf-font-size-title);
  font-weight: var(--stf-font-weight-bold);
}

.size-warning {
  background-color: $color-secondary-regular;
  padding: rhythm(1);
  display: flex;
  margin-bottom: rhythm(3);
  strong {
    font-weight: var(--stf-font-weight-semibold);
  }
  pa-icon {
    margin-right: rhythm(1);
  }
}

.dropzone {
  margin-bottom: rhythm(4);
  border: 2px dashed #ccc;
  color: rgba(0, 0, 0, 0.5);
  min-height: rhythm(12);
  cursor: pointer;
  transition: border-color 0.15s;
  span {
    transition: opacity 0.15s;
  }
  &.file-over {
    border: 2px dashed var(--stf-primary);
    span {
      opacity: 0.3;
    }
  }
}

app-label-field {
  margin-bottom: rhythm(4);
}

.file-list {
  @include scrollbar-style(6px, var(--stf-gray-background), var(--stf-gray-background), #000, #000, 0, 0);
  max-height: 13vh;
  overflow-y: auto;
  margin-bottom: 26px;
}

.file-item {
  display: flex;
  align-items: center;
  height: rhythm(4);
  margin-right: rhythm(1);
  border-bottom: 1px solid rgba(var(--stf-gray-lighter-3-rgb, 0.5));
  &:first-child {
    border-top: 1px solid rgba(var(--stf-gray-lighter-3-rgb, 0.5));
  }
  .file-select {
    flex: 0 0 rhythm(3);
  }
  .file-name {
    flex: 0 1 290px;
    @include text-truncate();
    padding-right: rhythm(2);
  }
  .file-size {
    flex: 0 0 rhythm(10);
  }
  .file-lang {
    flex: 1 0 rhythm(6);
    text-align: center;
  }
  .file-actions {
    flex: 0 0 auto;
  }
}

.select-language {
  &-warning {
    margin-bottom: rhythm(2);
    font-weight: var(--stf-font-weight-semibold);
    svg {
      display: block;
    }
  }

  select {
    min-width: 200px;
    margin-bottom: rhythm(0.5);
  }
}

pa-toggle {
  display: block;
  margin-bottom: rhythm(1);
  ::ng-deep .pa-field .pa-toggle-label-container {
    margin-left: 0 !important;
  }
}
