<div
  class="stash"
  fxLayout="column"
  fxLayoutAlign="start start">
  <h1
    class="go_account"
    (click)="goAccount()"
    *ngIf="account">
    {{ account?.id }}
  </h1>
  <h2>{{ stash?.slug }} - {{ stash?.title }}</h2>
  <form
    [formGroup]="stashTitle"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <span>Change title</span>
    <pa-input formControlName="title">New title</pa-input>
    <pa-button
      icon="check"
      (click)="saveTitle()">
      save
    </pa-button>
  </form>
  <div class="actual-user">
    <form [formGroup]="searchUserForm">
      <h4>Search and Add to Account</h4>
      <div
        class="search-user"
        fxLayout="row"
        fxLayoutAlign="space-between center">
        <pa-input
          formControlName="user"
          (keyUp)="searching($event)"
          (enter)="search()">
          User
        </pa-input>
        <pa-button
          icon="search"
          (click)="search()"></pa-button>
      </div>
      <div *ngIf="userSearchList.length === 0">No results</div>
      <div
        *ngFor="let user of userSearchList"
        class="users_list">
        <span class="user_desc">{{ user['id'] }} - {{ user['email'] }} - {{ user['name'] }}</span>
        <pa-button
          icon="plus"
          aspect="basic"
          (click)="addSeachedUser(user['id'])">
          Add
        </pa-button>
      </div>
    </form>
  </div>
  <div *ngIf="stash">
    <h3>Members</h3>
    <ul>
      <li *ngFor="let member of stash.members">
        <ng-container *ngIf="member">
          {{ member.id }} - {{ member.name }} - {{ member.email }}
          <pa-button
            paTooltip="Update to owner"
            aspect="basic"
            icon="shield-check"
            (click)="updateToOwner(member.id)"></pa-button>
          <pa-button
            icon="edit"
            aspect="basic"
            paTooltip="Update to contributor"
            (click)="updateToContributor(member.id)">
            Update to contributor
          </pa-button>
          <pa-button
            icon="trash"
            aspect="basic"
            kind="destructive"
            (click)="remove(member.id)">
            Delete
          </pa-button>
        </ng-container>
      </li>
    </ul>
    <h3>Owners</h3>
    <ul>
      <li *ngFor="let owner of stash.owners">
        <ng-container *ngIf="owner">
          {{ owner.id }} - {{ owner.name }} - {{ owner.email }}
          <pa-button
            icon="user"
            paTooltip="Update to member"
            aspect="basic"
            (click)="updateToMember(owner.id)"></pa-button>

          <pa-button
            icon="edit"
            aspect="basic"
            paTooltip="Update to contributor"
            (click)="updateToContributor(owner.id)">
            Update to contributor
          </pa-button>
          <pa-button
            icon="trash"
            aspect="basic"
            kind="destructive"
            (click)="remove(owner.id)">
            Delete
          </pa-button>
        </ng-container>
      </li>
    </ul>
    <h3>Contributors</h3>
    <ul>
      <li *ngFor="let contributor of stash.contributors">
        <ng-container *ngIf="contributor">
          {{ contributor.id }} - {{ contributor.name }} - {{ contributor.email }}
          <pa-button
            paTooltip="Update to owner"
            aspect="basic"
            icon="shield-check"
            (click)="updateToOwner(contributor.id)"></pa-button>
          <pa-button
            icon="user"
            paTooltip="Update to member"
            aspect="basic"
            (click)="updateToMember(contributor.id)"></pa-button>
          <pa-button
            icon="trash"
            aspect="basic"
            kind="destructive"
            (click)="remove(contributor.id)">
            Delete
          </pa-button>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
