<app-account-page-layout
  [title]="'generic.configuration' | translate"
  [description]="'account.configuration-description' | translate"
  [backLink]="backLink | async"
  panelId="configuration-section-panel">
  <pa-tabs
    tabs
    class="settings-tabs">
    <pa-tab
      routerLink="nua"
      routerLinkActive
      #rlaNuaKeys="routerLinkActive"
      [active]="rlaNuaKeys.isActive"
      ariaControls="configuration-section-panel">
      {{ 'navbar.nua-keys' | translate }}
    </pa-tab>
    @if (isNuaGuardManagementEnabled | async) {
      <pa-tab
        routerLink="nua-guard"
        routerLinkActive
        #rlaGuard="routerLinkActive"
        [active]="rlaGuard.isActive"
        ariaControls="configuration-section-panel">
        {{ 'navbar.nua-guard' | translate }}
      </pa-tab>
    }
    @if (isModelManagementEnabled | async) {
      <pa-tab
        routerLink="models"
        routerLinkActive
        #rlaModels="routerLinkActive"
        [active]="rlaModels.isActive"
        ariaControls="configuration-section-panel">
        {{ 'navbar.models' | translate }}
      </pa-tab>
    }
  </pa-tabs>
</app-account-page-layout>
