<app-node-box
  [state]="state()"
  [nodeTitle]="'retrieval-agents.workflow.node-types.conditional.title' | translate"
  [origin]="origin()"
  (outputClick)="onOutputClick($event)"
  (trashClick)="onTrashClick()">
  <app-connectable-entry
    type="if"
    noOutput>
    {{ 'retrieval-agents.workflow.node-types.conditional.node.if' | translate }}
  </app-connectable-entry>
  <app-config-block [config]="conditionalConfig()"></app-config-block>
  <app-connectable-entry type="then">
    {{ 'retrieval-agents.workflow.node-types.conditional.node.then' | translate }}
  </app-connectable-entry>
  <app-connectable-entry type="else">
    {{ 'retrieval-agents.workflow.node-types.conditional.node.else' | translate }}
  </app-connectable-entry>
</app-node-box>
