@import 'variables';

.upload-progress {
  position: relative;
  width: 700px;
  padding: rhythm(2) rhythm(3);


  h1 {
    margin: 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  .warning {
    margin-bottom: rhythm(3);
    line-height: 1.25;
    strong {
      font-weight: var(--stf-font-weight-semibold);
    }
  }

  .upload-list {
    max-height: 50vh;
    overflow: auto;
    @include scrollbar-black();
    padding: rhythm(2) rhythm(3);
    background-color: var(--stf-gray-background);
  }

  .upload {
    align-items: center;
    display: flex;
    height: rhythm(4);
    padding-bottom: rhythm(1);
    > div {
      width: 50%;
    }
  }

  .file {
    display: flex;
    font-size: var(--stf-font-size-ssmall);
    &.failed {
      color: var(--stf-gray-lighter-3);
    }
  }

  .file-name {
    flex: 0 1 auto;
    @include text-truncate();
  }

  .file-size {
    flex: 0 0 auto;
    padding-right: 30px;
  }

  .progress-bar {
    height: rhythm(0.5);
    background-color: $color-light-stronger;
    div {
      height: 100%;
      background-color: var(--stf-primary);
      transition: 0.1s width linear;
    }
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rhythm(6);
    font-weight: var(--stf-font-weight-semibold);
  }
}
