<div class="upload-dialog upload-progress">
  <h1>
    {{ 'upload.progress-dialog-title' | translate }}
    <pa-button
      class="close-upload-button"
      icon="cross"
      aspect="basic"
      (click)="close.emit()">
      {{ 'generic.close' | translate }}
    </pa-button>
  </h1>

  <div class="dialog-description">
    <strong>{{ 'upload.takes_time' | translate }}</strong>
    <span>{{ 'upload.once_uploaded' | translate }}</span>
  </div>
  <div
    class="upload-list"
    *ngIf="(files | async)?.length > 0">
    <div
      class="upload-row"
      *ngFor="let file of files | async">
      <div
        class="file body-s"
        [class.failed]="file.failed">
        <span class="file-name">{{ file.file.name }}</span>
        <span class="file-size body-xs">– {{ file.file.size | size }}</span>
      </div>
      <div class="status">
        <pa-icon
          *ngIf="file.uploaded"
          name="check"></pa-icon>

        <div
          class="error body-xs"
          *ngIf="file.conflicts">
          <pa-icon name="warning"></pa-icon>
          {{ 'upload.conflict' | translate }}
        </div>

        <div
          class="error body-xs"
          *ngIf="file.failed && !file.conflicts">
          <pa-icon name="circle-cross"></pa-icon>
          {{ 'upload.error' | translate }}
        </div>

        <div
          class="progress-bar"
          *ngIf="file.progress !== 100">
          <div [style.width.%]="file.progress"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="queue-length">{{ 'modal.upload.queue_length' | translate }}: {{ (files | async)?.length }}</div>
    <pa-button (click)="close.emit()">
      {{ 'generic.close' | translate }}
    </pa-button>
  </div>
</div>
