<div class="upload-bar"
     fxLayout="flex"
     fxLayoutAlign="start center">
  <div class="upload-bar-title"
       fxFlex="0 0 auto"
       [innerHTML]="'upload.uploading_files' | translate"></div>


  <div class="upload-bar-progress"
       fxFlex="1 1 auto">
       <stf-progress-bar track="white"
                         [progress]="progress | async"></stf-progress-bar>
  </div>

  <div class="upload-bar-percentage"
       fxFlex="0 0 auto">
    <strong>{{progress | async}}%</strong> {{ 'upload.completed' | translate }}
  </div>

  <button class="check-files" 
         (click)="checkFiles()">
    {{ 'upload.check_files' | translate }}
  </button>

  <button class="close" 
          (click)="close()">
    <svg-icon src="assets/icons/close.svg"></svg-icon>
  </button>
</div>