<div class="knowledge-box-home page-spacing">
  @if (kbUrl | async; as kbUrl) {
    @if (showLeftColumn | async) {
      <div class="column-container">
        @if (canUpgrade | async) {
          <nsi-home-container class="small-container account-type-container">
            <app-account-status></app-account-status>
          </nsi-home-container>
        }

        @if (isKbContrib | async) {
          <nsi-home-container class="small-container">
            <div class="upload-data">
              <div class="title-m">{{ 'dashboard-home.upload-block.title' | translate }}</div>
              <pa-button
                [routerLink]="kbUrl + '/upload'"
                class="full-width"
                aspect="solid"
                kind="primary"
                iconAndText
                icon="upload"
                (click)="trackNavigationFromHome('upload')">
                {{ 'stash.upload_data' | translate }}
              </pa-button>
              <div>
                {{ 'dashboard-home.upload-block.description' | translate }}
                {{ 'dashboard-home.upload-block.description-desktop' | translate }}
              </div>
              <stf-desktop-sources></stf-desktop-sources>
            </div>
          </nsi-home-container>
        }

        <nsi-home-container class="small-container">
          <app-kb-metrics
            [locale]="locale | async"
            [metrics]="counters | async"></app-kb-metrics>
        </nsi-home-container>
      </div>
    }

    <div class="column-container wide-column">
      <nsi-home-container>
        <div class="kb-details">
          <div class="title-m title-with-action">
            {{ 'dashboard-home.kb-details.title' | translate }}
            @if (isKbAdmin | async) {
              <pa-button
                [routerLink]="kbUrl + '/manage'"
                icon="gear"
                aspect="basic"
                (click)="trackNavigationFromHome('KB settings')">
                {{ 'dashboard-home.go-to.kb-settings' | translate }}
              </pa-button>
            }
          </div>

          <div>
            <div class="title-xxs">{{ 'dashboard-home.kb-details.endpoint' | translate }}</div>
            <div class="details-block">
              @if (clipboardSupported) {
                <pa-button
                  aspect="basic"
                  size="small"
                  [icon]="copyIcon.endpoint"
                  (click)="copyEndpoint()">
                  {{ 'generic.copy' | translate }}
                </pa-button>
              }
              <pre><code>{{ endpoint | async }}</code></pre>
            </div>
          </div>
          <div>
            <div class="title-xxs">{{ 'dashboard-home.kb-details.uid' | translate }}</div>
            <div class="details-block">
              @if (clipboardSupported) {
                <pa-button
                  aspect="basic"
                  size="small"
                  [icon]="copyIcon.uid"
                  (click)="copyUid()">
                  {{ 'generic.copy' | translate }}
                </pa-button>
              }
              <pre><code>{{ uid | async }}</code></pre>
            </div>
          </div>

          <div>
            <div class="title-xxs">{{ 'dashboard-home.kb-details.region' | translate }}</div>
            <div class="body-s">
              {{ zone | async }}
            </div>
          </div>
          @if (configuration | async; as config) {
            @if (config['generative_model']; as model) {
              <div>
                <div class="title-xxs">{{ 'dashboard-home.kb-details.generative-model' | translate }}</div>
                <div class="body-s">
                  {{ model | generativeModel }}
                </div>
              </div>
            }
            @if (config['semantic_model']; as semanticModel) {
              <div>
                <div class="title-xxs">{{ 'kb.ai-models.semantic-model.label' | translate }}</div>
                <div class="body-s">
                  {{ semanticModel }}
                </div>
              </div>
            }
          }
          <div class="title-xxs">
            {{ (stateLabel | async) || '' | translate }}
          </div>
        </div>
      </nsi-home-container>

      <div class="row-container">
        @if ((showLeftColumn | async) === false) {
          <nsi-home-container class="small-container fit-content">
            <app-kb-metrics
              [locale]="locale | async"
              [metrics]="counters | async"></app-kb-metrics>
          </nsi-home-container>
        }

        @if ({ lastUploads: lastUploadedResources | async }; as data) {
          <nsi-home-container
            class="growing-container"
            [class.fit-content]="!data.lastUploads || data.lastUploads.length < 6">
            <div class="kb-content">
              <section>
                <div class="title-m title-with-action">
                  {{ 'dashboard-home.kb-content.latest-resources.title' | translate }}
                  <pa-button
                    icon="list"
                    aspect="basic"
                    [routerLink]="kbUrl + '/resources'"
                    (click)="trackNavigationFromHome('resource list')">
                    {{ 'dashboard-home.go-to.resource-list' | translate }}
                  </pa-button>
                </div>
                @if (data.lastUploads && data.lastUploads.length === 0) {
                  <p class="no-content">
                    {{ 'dashboard-home.kb-content.latest-resources.no-upload' | translate }}
                  </p>
                } @else if (data.lastUploads && data.lastUploads.length > 0) {
                  <ul class="latest-uploaded-list">
                    @for (resource of data.lastUploads; track resource.id) {
                      <li
                        paEllipsisTooltip
                        [routerLink]="kbUrl + '/resources/' + resource.id + '/edit/preview'">
                        @if (resource.icon | mimeIcon; as icon) {
                          <pa-icon [name]="icon"></pa-icon>
                        }
                        {{ resource.title }}
                      </li>
                    }
                  </ul>
                }
              </section>

              <section>
                <div class="title-m title-with-action">
                  {{ 'dashboard-home.kb-content.processing-queue.title' | translate }}
                  <pa-button
                    icon="clock-dash"
                    aspect="basic"
                    [routerLink]="kbUrl + '/resources/pending'"
                    (click)="trackNavigationFromHome('pending resources')">
                    {{ 'dashboard-home.go-to.pending-list' | translate }}
                  </pa-button>
                </div>

                @if ({ pendingCount: pendingResourceCount | async }; as data) {
                  @if (data.pendingCount === 0) {
                    <p class="no-content">
                      {{ 'dashboard-home.kb-content.processing-queue.no-pending' | translate }}
                    </p>
                  } @else if (data.pendingCount === 1) {
                    <p class="body-m">
                      {{ 'dashboard-home.kb-content.processing-queue.pending' | translate }}
                    </p>
                  } @else {
                    <p class="body-m">
                      {{
                        'dashboard-home.kb-content.processing-queue.pendings' | translate: { count: data.pendingCount }
                      }}
                    </p>
                  }
                }
              </section>
            </div>
          </nsi-home-container>
        }

        @if ((isKbContrib | async) && (isAccountManager | async)) {
          <nsi-home-container class="growing-container">
            <div class="usage-charts">
              <div class="title-m title-with-action">
                {{ 'dashboard-home.usage.title' | translate }}

                <pa-button
                  aspect="basic"
                  icon="fullscreen"
                  (click)="openFullscreen()">
                  {{ 'dashboard-home.usage.fullscreen' | translate }}
                </pa-button>
              </div>

              <div class="chart-container">
                <pa-table
                  border
                  columns="repeat(3, 1fr)">
                  <pa-table-header>
                    <pa-table-cell header></pa-table-cell>
                    <pa-table-cell header>
                      <span class="title-xxs header">{{ 'metrics.period.last-30-days' | translate }}</span>
                    </pa-table-cell>
                    <pa-table-cell header>
                      <span class="title-xxs header">{{ 'metrics.period.last-12-months' | translate }}</span>
                    </pa-table-cell>
                  </pa-table-header>
                  @if (searchQueriesCounts | async; as queriesCount) {
                    <pa-table-row last>
                      <pa-table-cell>
                        <span class="body-s">{{ 'metrics.search.title' | translate }}</span>
                      </pa-table-cell>
                      @if (locale | async; as locale) {
                        <pa-table-cell>
                          <span class="body-s">
                            <strong>{{ queriesCount.month | number: '1.0-0' : locale }}</strong>
                          </span>
                        </pa-table-cell>
                        <pa-table-cell>
                          <span class="body-s">
                            <strong>{{ queriesCount.year | number: '1.0-0' : locale }}</strong>
                          </span>
                        </pa-table-cell>
                      }
                    </pa-table-row>
                  }
                  @if (nucliaTokensCounts | async; as tokenCount) {
                    <pa-table-row last>
                      <pa-table-cell>
                        <span class="body-s">{{ 'metrics.nuclia-tokens.title' | translate }}</span>
                      </pa-table-cell>
                      @if (locale | async; as locale) {
                        <pa-table-cell>
                          <span class="body-s">
                            <strong>{{ tokenCount.month | number: '1.0-0' : locale }}</strong>
                          </span>
                        </pa-table-cell>
                        <pa-table-cell>
                          <span class="body-s">
                            <strong>{{ tokenCount.year | number: '1.0-0' : locale }}</strong>
                          </span>
                        </pa-table-cell>
                      }
                    </pa-table-row>
                  }
                </pa-table>
                <div>
                  <nsi-dropdown-button
                    fullWidth
                    aspect="basic"
                    [popupRef]="chartDropdown"
                    [open]="isChartDropdownOpen">
                    {{ currentChart.label | translate }}
                  </nsi-dropdown-button>

                  <pa-dropdown
                    #chartDropdown
                    (onClose)="isChartDropdownOpen = false"
                    (onOpen)="isChartDropdownOpen = true">
                    @for (option of chartDropdownOptions; track option.id) {
                      <pa-option
                        [value]="option.value"
                        (selectOption)="selectChart(option)">
                        {{ option.label | translate }}
                      </pa-option>
                    }
                  </pa-dropdown>
                </div>

                <app-kb-usage-charts
                  smallContainer
                  [chartHeight]="chartHeight"
                  [currentChart]="currentChart"
                  [processingChart]="processingChart | async"
                  [tokenChart]="nucliaTokenChart | async"
                  [searchChart]="searchChart | async"></app-kb-usage-charts>
              </div>
            </div>
          </nsi-home-container>
        }
      </div>
    </div>
  }
</div>

@if ((searchQueriesCounts | async)?.year; as yearCount) {
  <app-knowledge-box-survey [totalSearch]="yearCount"></app-knowledge-box-survey>
}
