@import 'variables';

.knowledge-box-home {
  padding: rhythm(6) var(--app-layout-margin-right);

  $flex-gap: rhythm(3);
  $width-right-column: rhythm(40) + rhythm(1);
  .home-main-layout {
    display: flex;
    width: 100%;
    gap: $flex-gap;
  }

  .left-column {
    flex: 1 1 auto;
    max-width: calc(100% - #{$width-right-column} - #{$flex-gap});
  }

  .right-column {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: rhythm(2);
    width: $width-right-column;
  }

  .container {
    padding: rhythm(1.5) rhythm(2);
    background-color: $color-neutral-lightest;
    border-radius: rhythm(0.5);
  }

  .chart-container {
    padding-bottom: rhythm(5);
    margin-bottom: $flex-gap;
  }

  .chart-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    margin-bottom: rhythm(4);
  }

  .resource-stats {
    dl {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: font-size(m);
      row-gap: rhythm(1);

      dt {
        flex: 1 0 75%;
        font-weight: $font-weight-thin;
      }

      dd {
        flex: 1 0 25%;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
        text-align: right;
      }
    }

    .total-resources {
      margin-bottom: rhythm(2);
    }
  }

  .endpoint-container {
    margin-bottom: rhythm(4);

    .endpoint-text {
      align-items: center;
      display: flex;
      gap: rhythm(2);
    }

    .endpoint {
      font-family: $font-family-monospace;
      font-size: font-size(s);
      white-space: nowrap;
    }
  }

  .upload-data {
    display: flex;
    flex-direction: column;
    gap: rhythm(1.5);
  }

  .total-resources {
    font-size: rhythm(5);
    margin-bottom: rhythm(4);
  }

  .state-container {
    align-items: center;
    display: flex;

    .state {
      flex: 1 0 auto;
    }
  }
}
