<div class="knowledge-box-home">
  <div
    data-cy="home-endpoint-container"
    class="endpoint-container"
    *ngIf="!!(endpoint | async)">
    <div class="title-s">{{ 'stats.endpoint' | translate }}</div>
    <div class="endpoint-text">
      <div class="endpoint">{{ endpoint | async }}</div>
      <pa-button
        *ngIf="clipboardSupported"
        aspect="basic"
        [icon]="copyIcon"
        iconSize="small"
        (click)="copyEndpoint()">
        {{ 'generic.copy' | translate }}
      </pa-button>
    </div>
  </div>

  <div class="home-main-layout">
    <div
      *ngIf="isAccountManager | async"
      class="left-column">
      <div class="container chart-container">
        <div class="chart-header">
          <div class="title-m">{{ 'stats.total_search' | translate }}</div>
          <div
            *ngIf="locale | async as loc"
            class="display-m">
            {{ totalSearch | async | number: '1.0-0' : loc }}
          </div>
        </div>
        <app-empty-chart
          *ngIf="!(search | async)"
          [numLines]="6"></app-empty-chart>
        <app-line-chart [data]="(search | async) || []"></app-line-chart>
      </div>

      <div class="container chart-container">
        <div class="chart-header">
          <div class="title-m">{{ 'stats.processing_time' | translate }}</div>
        </div>
        <app-empty-chart
          *ngIf="!(processing | async)"
          [numLines]="3"></app-empty-chart>
        <app-bar-chart [data]="(processing | async) || []"></app-bar-chart>
      </div>
    </div>

    <div
      *ngIf="isKbAdmin | async"
      class="right-column">
      <div
        class="account-status"
        *ngIf="isAccountManager | async">
        <app-account-status></app-account-status>
      </div>
      <div class="container resource-stats">
        <div *ngIf="locale | async as loc">
          <dl class="total-resources">
            <dt>{{ 'stats.total.title' | translate }}</dt>
            <dd class="display-s">{{ (counters | async)?.resources | number: '1.0-0' : loc }}</dd>
          </dl>
          <dl>
            <dt>{{ 'stats.total.fields' | translate }}</dt>
            <dd>{{ (counters | async)?.fields | number: '1.0-0' : loc }}</dd>

            <dt>{{ 'stats.total.paragraphs' | translate }}</dt>
            <dd>{{ (counters | async)?.paragraphs | number: '1.0-0' : loc }}</dd>

            <dt>{{ 'stats.total.sentences' | translate }}</dt>
            <dd>{{ (counters | async)?.sentences | number: '1.0-0' : loc }}</dd>
          </dl>
        </div>
      </div>

      <div class="container state-container">
        <div class="title-s">
          {{ stateLabel | async }}
        </div>
        <pa-button (click)="toggleKbState()">
          {{ ((isPublished | async) ? 'account.stash.retire' : 'account.stash.publish') | translate }}
        </pa-button>
      </div>

      <div
        class="container go-to-desktop"
        *ngIf="isDownloadDesktopEnabled | async">
        <img
          src="assets/logos/nuclia-desktop.svg"
          alt="Nuclia Desktop" />
        <p>{{ 'stash.desktop.description' | translate }}</p>
        <div class="desktop-button">
          <pa-button (click)="downloadDesktop()">
            {{ 'stash.desktop.button' | translate }}
          </pa-button>
          <p>
            <small>{{ 'stash.desktop.text' | translate }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="(totalSearch | async) > 0">
  <app-knowledge-box-survey [totalSearch]="totalSearch | async"></app-knowledge-box-survey>
</ng-container>
