@import 'apps/dashboard/src/variables';

.knowledge-box-home {
  --width-small-column: #{rhythm(48)};
  --gap-size: #{rhythm(2)};

  display: flex;
  gap: var(--gap-size);

  .column-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);

    &.wide-column {
      flex: 1 1 auto;
      max-width: calc(var(--width-small-column) * 2 + var(--gap-size));
      min-width: var(--width-small-column);
    }
  }
  .row-container {
    display: flex;
    gap: var(--gap-size);
    flex: 1 0 auto;

    .growing-container {
      flex: 1 1 auto;
      width: calc(100% / 2);
    }
  }

  .cell-with-icon {
    align-items: center;
    display: flex;
    gap: rhythm(0.5);

    pa-icon {
      cursor: pointer;
    }
  }
  .title-with-icon {
    align-items: center;
    display: flex;
    gap: rhythm(1);
    overflow-wrap: anywhere;

    .body-s {
      color: $color-neutral-regular;
    }
  }

  .cell-with-icon,
  .title-with-icon {
    pa-icon {
      display: flex;
    }
  }

  .title-with-action {
    align-items: center;
    display: flex;
    justify-content: space-between;

    pa-button {
      margin-right: calc(-1 * #{rhythm(1)});
    }
  }

  .select-container {
    align-items: center;
    display: flex;
    gap: rhythm(1);

    pa-select {
      min-width: 50%;
    }
  }

  .upload-data {
    display: flex;
    flex-direction: column;
    gap: rhythm(2);

    stf-desktop-sources {
      display: block;
      margin-bottom: rhythm(0.5);
    }
  }

  .desktop-container {
    display: flex;
    flex-direction: column;
    gap: rhythm(2);

    img {
      height: rhythm(4);
    }
    small {
      text-align: center;
    }
  }

  .kb-details,
  .kb-storage {
    div.title-xxs {
      color: $color-neutral-regular;
    }
  }

  .kb-details {
    .details-block {
      align-items: center;
      background-color: $color-neutral-lightest;
      border: 1px solid $color-neutral-light;
      border-radius: rhythm(0.5);
      display: flex;
      gap: rhythm(0.5);
      margin-top: calc(-1 * #{rhythm(0.25)});

      pre {
        margin-bottom: 0;
        white-space: normal;
      }
    }
  }

  .kb-storage {
    .index-size-container {
      align-items: center;
      background-color: $color-neutral-lightest;
      border: 1px solid $color-neutral-lighter;
      border-radius: rhythm(0.5);
      display: flex;
      justify-content: space-between;
      padding: rhythm(0.5) rhythm(1);
    }
  }

  .resources-container {
    pa-tab ::ng-deep .pa-tabs-link {
      font-size: font-size(s);
    }

    pa-table a {
      color: $color-dark-stronger;
    }
  }

  .usage-charts {
    .title-xxs.header {
      color: $color-neutral-regular;
    }
  }
}
