@use 'apps/dashboard/src/variables' as *;

h2 {
  margin: 0 0 rhythm(1) 0;
}

.warning {
  color: $color-secondary-stronger;
  display: flex;
  gap: rhythm(1);
}

.create-nua-button {
  margin: rhythm(3) 0 rhythm(6);
}

h4 {
  margin: 0 0 rhythm(0.5) 0;
}

.container {
  max-width: 1024px;
  padding: rhythm(1) rhythm(2) rhythm(2);
}

.client-row {
  align-items: center;
  border-bottom: 1px solid $color-neutral-lighter;
  display: flex;
  gap: rhythm(1);
  height: rhythm(6);

  &:first-of-type {
    border-top: 1px solid $color-dark-stronger;
  }

  .title {
    flex: 1 1 0;
  }

  .date {
    width: rhythm(20);
  }

  .email {
    text-align: center;
    width: 33%;
  }

  .buttons {
    display: flex;
  }
}
