<div class="account-nua">
  <h1>{{ 'account.nua_keys' | translate }}</h1>
  <div class="warning">
    <pa-icon name="warning"></pa-icon>
    {{ 'stash.service_access_description' | translate }}
  </div>

  <pa-button
    class="create-nua-button"
    (click)="openDialog()">
    {{ 'account.create_nua_key' | translate }}
  </pa-button>

  <div
    *ngIf="clients$ | async as clients"
    class="container">
    <h4>{{ 'account.existing_keys' | translate }}</h4>
    <div
      class="client-row"
      *ngFor="let client of clients">
      <div
        class="title"
        paEllipsisTooltip>
        {{ client.title }}
      </div>
      <div class="date">
        <pa-datetime [datetime]="client.created"></pa-datetime>
      </div>
      <div
        class="email"
        paEllipsisTooltip>
        {{ client.contact }}
      </div>
      <div class="buttons">
        <pa-button
          *ngIf="isNuaActivityEnabled | async"
          (click)="goToActivity(client)"
          aspect="basic"
          icon="activity-log"
          size="small"
          paTooltip="account.nua_key_activity">
          {{ 'account.nua_key_activity' | translate }}
        </pa-button>
        <pa-button
          (click)="askConfirmation(client)"
          aspect="basic"
          icon="refresh"
          size="small"
          paTooltip="account.generate_key">
          {{ 'account.generate_key' | translate }}
        </pa-button>
        <pa-button
          (click)="deleteClient(client.client_id)"
          [attr.data-cy]="client.title + '-delete'"
          aspect="basic"
          icon="trash"
          size="small"
          kind="destructive"
          paTooltip="generic.delete">
          {{ 'account.delete' | translate }}
        </pa-button>
      </div>
    </div>
  </div>
</div>
