stf-sidebar {
  top: var(--app-topbar-height) !important;
}

.upload-bar-container {
  position: sticky;
  top: var(--app-topbar-height);
  margin-left: 68px;
  padding: 0 44px 0 var(--app-sidebar-width);
}
