@import 'variables';

.search-page {
  padding: rhythm(5) var(--app-layout-margin-right) rhythm(8) 5%;

  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: rhythm(5);
  }
}
