@import 'variables';

.select-files {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  margin: 0;
}
.header {
  flex: 0 0 auto;
  display: flex;
  margin-top: rhythm(3);
}

.body {
  overflow-y: auto;
}

.footer {
  display: flex;
  gap: rhythm(2);
  padding-top: rhythm(4);
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: rhythm(1);

  pa-input ::ng-deep .pa-field-control {
    height: rhythm(4);
  }

  pa-button {
    margin-left: rhythm(0.5);
  }
}

table {
  width: calc(100% - #{rhythm(2)});
  border-spacing: 0;
  border-top: 2px solid $color-neutral-regular;
}

td {
  height: rhythm(3);
  border-bottom: 1px solid $color-neutral-regular;
}
