@import 'variables';

.select-files {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.body {
  flex: 1 1 0;
  overflow-y: auto;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
  padding-top: rhythm(4);
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: rhythm(8);
}

table {
  width: calc(100% - #{rhythm(2)});
  border-spacing: 0;
  border-top: 2px solid $color-neutral-strong;
}

td {
  height: rhythm(3);
  border-bottom: 1px solid $color-neutral-strong;
  &.checkbox {
    width: rhythm(3);
  }
}
