<div class="select-files">
  <div class="header">
    <h3>{{ 'upload.select.title' | translate}}</h3>
    <form class="search-form"
          #form="ngForm"
          (ngSubmit)="search(form.value.query)">
      <input ngModel
             name="query">
      <stf-button (click)="search(form.value.query)"
                  size="small">{{ 'upload.select.search' | translate }}</stf-button>
    </form>
  </div>
  <div class="body"
       #scroll>
    <table>
      <tr *ngFor="let resource of items">
        <td class="checkbox">
          <stf-checkbox color="dark"
                        [selected]="selection.isSelected(resource)"
                        (selectedChange)="toggle(resource)"></stf-checkbox>
        </td>
        <td>{{ resource.title }}</td>
        <td>{{ resource.type }}</td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <stf-button qa="next"
                color="secondary"
                padding="pd-xl"
                [disabled]="selection.isEmpty()"
                (click)="next.emit()">{{ 'generic.next' | translate }}</stf-button>
  </div>
</div>