<div class="select-files">
  <h2>{{ 'upload.steps.data' | translate }}</h2>
  <div>{{ 'upload.select.description' | translate }}</div>
  <div class="header">
    <pa-checkbox
      *ngIf="!(currentSource | async).permanentSync"
      [value]="isSelectingAll"
      (valueChange)="toggleSelectAll($event)">
      {{ 'upload.select.all' | translate }}
    </pa-checkbox>
    <form
      *ngIf="!isSelectingAll"
      class="search-form"
      #form="ngForm"
      (ngSubmit)="search(form.value.query)">
      <pa-input
        [(ngModel)]="query"
        name="query"></pa-input>
      <pa-button
        size="small"
        kind="primary"
        type="submit">
        {{ 'upload.select.search' | translate }}
      </pa-button>
    </form>
  </div>
  <div
    *ngIf="!isSelectingAll"
    class="body"
    #scroll>
    <table>
      <tr *ngFor="let resource of resources | async">
        <td>
          <pa-checkbox
            [value]="selection.isSelected(resource)"
            (valueChange)="toggle(resource)">
            {{ resource.title }}
          </pa-checkbox>
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <pa-button
      qa="next"
      kind="primary"
      [disabled]="selection.isEmpty()"
      (click)="next.emit()">
      {{ 'generic.save_continue' | translate }}
    </pa-button>
    <pa-button
      qa="cancel"
      aspect="basic"
      (click)="cancel.next()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
  </div>
</div>
