@import '../../../libs/sistema/theme/fonts';
@import '../../../libs/pastanaga-angular/projects/pastanaga-angular/src/styles/core';
@import '../../../libs/pastanaga-angular/projects/pastanaga-angular/src/styles/grid';
@import 'libs/sistema/styles/apps-common';

.form-field-config {
  .state-option {
    display: flex;
    margin: rhythm(1) 0;
  }
  .option {
    margin-right: rhythm(2);

    input {
      margin-right: rhythm(1);
    }
  }
  fieldset {
    margin: rhythm(3) 0;
  }
}
.component {
  display: flex;
  pa-input, pa-select, pa-textarea, ul, form {
    flex: 1;
  }
  li {
    display: flex;
    word-break: break-all;
  }
}
