@use '../../../libs/sistema/theme/fonts';
@use '../../../libs/pastanaga-angular/projects/pastanaga-angular/src/styles/core';
@use 'apps/sistema-demo/src/variables' as *;
@use '../../../libs/pastanaga-angular/projects/pastanaga-angular/src/styles/grid';
@use 'libs/sistema/styles/apps-common';

.form-field-config {
  .state-option {
    display: flex;
    margin: rhythm(1) 0;
  }
  .option {
    margin-right: rhythm(2);

    input {
      margin-right: rhythm(1);
    }
  }
  fieldset {
    margin: rhythm(3) 0;
  }
}
.component {
  display: flex;
  pa-input,
  pa-select,
  pa-textarea,
  ul,
  form {
    flex: 1;
  }
  li {
    display: flex;
    word-break: break-all;
  }
}

.slider-line {
  margin-bottom: rhythm(2);
}
.slider-line + .title-s {
  margin-bottom: rhythm(0.25);
}
