<section>
  <div class="title-xs">{{ 'retrieval-agents.workflow.sidebar.drivers.nuclia' | translate }}</div>
  <pa-button
    aspect="basic"
    size="small">
    {{ 'retrieval-agents.workflow.sidebar.drivers.add-nuclia' | translate }}
  </pa-button>
</section>
<section>
  <div class="title-xs">{{ 'retrieval-agents.workflow.sidebar.drivers.internet' | translate }}</div>
  <pa-button
    aspect="basic"
    size="small">
    {{ 'retrieval-agents.workflow.sidebar.drivers.add-connection-button' | translate }}
  </pa-button>
</section>
<section>
  <div class="title-xs">{{ 'retrieval-agents.workflow.sidebar.drivers.sql' | translate }}</div>
  <pa-button
    aspect="basic"
    size="small">
    {{ 'retrieval-agents.workflow.sidebar.drivers.add-connection-button' | translate }}
  </pa-button>
</section>
<section>
  <div class="title-xs">{{ 'retrieval-agents.workflow.sidebar.drivers.cypher' | translate }}</div>
  <pa-button
    aspect="basic"
    size="small">
    {{ 'retrieval-agents.workflow.sidebar.drivers.add-connection-button' | translate }}
  </pa-button>
</section>
