@import 'variables';

.confirm-files {
  position: relative;
  width: 770px;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

h2 {
  margin: 0 0 1em 0;
  font-weight: var(--stf-font-weight-bold);
}

p {
  margin: 0 0 2em 0;
}

.files {
  max-height: 50vh;
  overflow-y: auto;
  // FIXME include scrollbar mixin in sistema?
  //@include scrollbar-black(--stf-background-color);
}

.file {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  border-top: 1px solid $color-neutral-regular;
  &:last-child {
    border-bottom: 1px solid $color-neutral-regular;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: rhythm(4);
  gap: rhythm(1.5);
}
