<pa-modal-advanced
  fitContent
  fitContentHeight>
  <pa-modal-title>
    <h2>{{ 'billing.budget_calculator' | translate }}</h2>
    <div class="body-s">{{ 'billing.budget_calculator_help' | translate }}</div>
  </pa-modal-title>
  <pa-modal-content>
    <form>
      <div>
        <div class="title-m">{{ 'billing.subscription_tier' | translate }}</div>
        <div>{{ 'billing.tier_select.help' | translate }}</div>
        <pa-radio-group
          name="radio-tier"
          [value]="tier"
          (valueChange)="changeTier($event)">
          <pa-radio value="stash-starter">Starter</pa-radio>
          <pa-radio value="stash-growth">Growth</pa-radio>
        </pa-radio-group>
      </div>
      <div class="section">
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.ingestion' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'media' }"></ng-container>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{
            param: 'paragraphs_processed',
            help: 'billing.paragraphs_per_file'
          }"></ng-container>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.hosting' | translate }}</h3>
        <pa-radio-group
          name="radio-mode"
          [(value)]="mode"
          (valueChange)="onModeChange()">
          <pa-radio value="cloud">NucliaDB Cloud</pa-radio>
          <pa-radio value="on-prem">NucliaDB On-prem</pa-radio>
        </pa-radio-group>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.search' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'searches' }"></ng-container>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'generative' }"></ng-container>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'predict' }"></ng-container>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.storage' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'paragraphs' }"></ng-container>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.train' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'training' }"></ng-container>
        <ng-template
          #sliderTemplate
          let-param="param"
          let-help="help">
          <div *ngIf="asUsageType(param) as usageType">
            <div class="field-block">
              <pa-slider
                [disabled]="disabledParams.includes(param)"
                [min]="prices[tier].usage[usageType].threshold || 0"
                [max]="maxValue(prices[tier].usage[usageType].price, prices[tier].usage[usageType].threshold)"
                [value]="values[usageType]"
                (valueChange)="update(usageType, $event)">
                <span class="title-xxs">{{ 'billing.parameter.' + usageType | translate }}</span>
              </pa-slider>
              <div
                class="price"
                [class.disabled]="disabledParams.includes(param)">
                {{ calculatePrice(usageType) | currency: currency }}
              </div>
            </div>
            <div class="unit-price body-xs">
              {{ prices[tier].usage[usageType].price | currency: currency : 'symbol' : '1.2-6' }} /
              {{ (['media', 'training'].includes(usageType) ? 'billing.hour' : 'billing.unit') | translate }}
              <div *ngIf="help">{{ help | translate }}</div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="overall">
        <div>
          <div class="title-l">
            {{ 'billing.monthly_estimation.title' | translate }}
            <span class="cost">{{ total | currency: currency }} *</span>
          </div>
          <div>*{{ 'billing.monthly_estimation.description' | translate }}</div>
          <div *ngIf="isSpain | async">{{ 'billing.without_vat' | translate }}</div>
        </div>
      </div>
    </form>
  </pa-modal-content>
  <pa-modal-footer *ngIf="(isSubscribed | async) === false">
    <pa-button
      aspect="basic"
      (click)="modal.close()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      (click)="save()">
      {{ 'billing.save_budget' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
