<pa-modal-advanced
  fitContent
  fitContentHeight>
  <pa-modal-title>
    <h2>{{ 'billing.budget_calculator' | translate }}</h2>
    <div class="body-s">{{ 'billing.budget_calculator.help' | translate }}</div>
  </pa-modal-title>
  <pa-modal-content>
    <form>
      <div>
        <div class="title-s">{{ 'billing.subscription_tier' | translate }}</div>
        <div>{{ 'billing.tier_select.help' | translate }}</div>
        <pa-radio-group
          name="radio-tier"
          [value]="tier"
          (valueChange)="changeTier($event)">
          <pa-radio value="stash-starter">Starter</pa-radio>
          <pa-radio value="stash-growth">Growth</pa-radio>
        </pa-radio-group>
      </div>
      <div class="section">
        <h3 class="title-m">{{ 'billing.quotas.ingestion' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'media' }"></ng-container>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'paragraphs_processed' }"></ng-container>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.search_inference' | translate }}</h3>
        <pa-checkbox
          [value]="selfHosted"
          (valueChange)="toggleSelfHosted()">
          Self hosted
        </pa-checkbox>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{
            param: 'searches',
            text: 'billing.quotas.searches'
          }"></ng-container>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{
            param: 'generative',
            text: 'billing.quotas.answers'
          }"></ng-container>
        <div class="separator"></div>
        <h3 class="title-m">{{ 'billing.quotas.train' | translate }}</h3>
        <ng-container
          [ngTemplateOutlet]="sliderTemplate"
          [ngTemplateOutletContext]="{ param: 'training' }"></ng-container>
        <ng-template
          #sliderTemplate
          let-param="param"
          let-text="text">
          <div>
            <div class="field-block">
              <pa-slider
                [min]="prices[tier].usage[param].threshold || 0"
                [max]="maxValue(getUnitPrice(tier, param), prices[tier].usage[param].threshold)"
                [value]="values[param]"
                (valueChange)="update(param, $event)">
                <span class="title-xxs">{{ text || 'billing.parameter.' + param | translate }}</span>
              </pa-slider>
              <div class="price">{{ calculatePrice(param) | currency : currency }}</div>
            </div>
            <div class="unit-price body-xs">
              {{ getUnitPrice(tier, param) | currency : currency : 'symbol' : '1.2-6' }} /
              {{ (['media', 'training'].includes(param) ? 'billing.hour' : 'billing.unit') | translate }}
            </div>
          </div>
        </ng-template>
      </div>
      <div class="section">
        <div>
          <div class="title-l">
            {{ 'billing.monthly_estimation' | translate }}
            <span class="total">{{ total | currency : currency }} *</span>
          </div>
          <div>*{{ 'billing.monthly_estimation.description' | translate }}</div>
          <div *ngIf="isSpain | async">{{ 'billing.without_vat' | translate }}</div>
        </div>
      </div>
    </form>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="modal.close()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      (click)="save()">
      {{ 'billing.save_budget' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
