<pa-modal-advanced>
  <pa-modal-title>
    <h2>{{ 'billing.budget_calculator' | translate }}</h2>
  </pa-modal-title>
  <pa-modal-content>
    <form>
      <div>
        <div class="title-s">{{ 'billing.subscription_tier' | translate }}</div>
        <div>{{ 'billing.tier_select.help' | translate }}</div>
        <pa-radio-group
          name="radio-tier"
          [value]="tier"
          (valueChange)="changeTier($event)">
          <pa-radio value="stash-developer">Starter/developer</pa-radio>
          <pa-radio value="stash-business">Business</pa-radio>
        </pa-radio-group>
      </div>
      <div class="section">
        <div>
          <div class="title-s">{{ 'billing.ingestion_cost' | translate }}</div>
          <div
            class="body-s"
            [innerHTML]="'billing.ingestion_cost.description' | translate"></div>
        </div>
        <div
          class="field-block"
          *ngFor="let param of params">
          <pa-slider
            [min]="prices[tier].usage[param].threshold || 0"
            [max]="2000 / prices[tier].usage[param].price + prices[tier].usage[param].threshold"
            [value]="values[param]"
            (valueChange)="update(param, $event)">
            <span class="title-xxs">{{ 'billing.parameter.' + param | translate }}</span>
          </pa-slider>
          <div class="price">{{ calculatePrice(param) | currency: currency }}</div>
        </div>
      </div>
      <div class="section">
        <div>
          <div class="title-l">
            {{ 'billing.monthly_estimation' | translate }}
            <span class="total">{{ total | currency: currency }} *</span>
          </div>
          <div>*{{ 'billing.monthly_estimation.description' | translate }}</div>
          <div *ngIf="isSpain | async">{{ 'billing.without_vat' | translate }}</div>
        </div>
        <div
          class="contact"
          [innerHTML]="'billing.self_hosted' | translate: { url: 'mailto:billing@nuclia.com' }"></div>
      </div>
    </form>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="modal.close()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      (click)="save()">
      {{ 'billing.save_budget' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
