<div class="select"
     *ngIf="accounts && kbs">
  <div class="select-container"
       fxLayout="column"
       fxFlex="0 0 auto">
    <div class="logo">
      <img src="assets/logos/logo_text.svg" />
    </div>
    <div class="select-content"
         fxFlex="1 1 0"
         [@slideInOut]="selectKb">
      <div class="select-account"
           *ngIf="!selectKb"
           fxLayout="column">
        <div class="select-account-list"
             fxFlex="1 1 0">
          <div class="select-account-item"
               *ngFor="let account of accounts">
            <a class="account" 
               [routerLink]="getAccountUrl(account.slug)" >
              {{ account.title }}
              <svg-icon class="account-arrow"
                        src="assets/icons/chevron-right.svg">
              </svg-icon>
            </a>
          </div>
        </div>
        <div class="select-account-footer"
             fxFlex="0 0 auto" 
             fxLayout="row"
            fxLayoutAlign="center center">
          <stf-button color="gray"
                      minWidth="175px"
                      (click)="logout()">
            {{ 'user.logout' | translate }}
          </stf-button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>