<div class="widget-dialog">
  <h1>{{ (data?.rename ? 'stash.widgets.rename-title' : 'stash.widgets.add') | translate }}</h1>
  <button class="close-button"
          (click)="close()">
    <svg-icon src="assets/icons/close.svg"></svg-icon>
  </button>

  <form [formGroup]="mainForm"
        (ngSubmit)="save()">
    <pa-input formControlName="id"
              [help]="'stash.widgets.add-help' | translate"
              [showAllErrors]="false"
              [errorMessages]="validationMessages">Id</pa-input>

    <div class="buttons">
      <pa-button type="submit"
                 kind="primary"
                 [disabled]="!mainForm.valid || mainForm.pristine">
        {{ 'generic.save' | translate }}
      </pa-button>
      <pa-button (click)="close()">
        {{ 'generic.cancel' | translate }}
      </pa-button>
    </div>
  </form>

</div>