<div class="page-spacing">
  <h1>{{ 'sidenav.activity' | translate }}</h1>
  <pa-tabs
    class="primary-tabs"
    noSlider
    notFullWidth>
    <pa-tab
      (click)="selectTab('resources')"
      [active]="selectedTab === 'resources'">
      {{ 'resource.resources' | translate }}
    </pa-tab>
    <pa-tab
      (click)="selectTab('searches')"
      [active]="selectedTab === 'searches'">
      {{ 'stash.search' | translate }}
    </pa-tab>
  </pa-tabs>
  <div class="activity-container">
    <pa-tabs
      class="secondary-tabs"
      notFullWidth>
      <pa-tab
        *ngFor="let tab of activityTabs[selectedTab]"
        [active]="tab === selectedActivityTab"
        (click)="selectedActivityTab = tab">
        {{ 'activity.type.' + tab.toLowerCase() | translate }}
      </pa-tab>
    </pa-tabs>
    <div class="download-list">
      <div
        *ngFor="let item of activity[selectedActivityTab] | async"
        class="download-item">
        <div class="body-m">{{ item.formatted }}</div>
        <pa-button
          icon="download"
          aspect="basic"
          (click)="download(item.month)"></pa-button>
      </div>
    </div>
  </div>
</div>
