@import 'variables';

.activity {
  padding: rhythm(6) var(--app-layout-margin-right) rhythm(7) var(--app-layout-margin-left);
  position: relative;
  min-height: 200px;
}

.tab-content {
  background: $color-neutral-lightest;
  border-radius: 0 rhythm(0.5) rhythm(0.5) rhythm(0.5);
  height: 70vh;
  overflow-y: auto;
  padding: rhythm(3) rhythm(3) rhythm(4);
  @include scrollbar-black(var(--stf-gray-lighter));
}

.more-results {
  padding-top: rhythm(5);
  text-align: center;
}
