<div class="activity">
  <div class="activity-header">
    <ng-container *ngIf="currentTab$ | async as currentTab">
      <pa-tabs
        noSlider
        notFullWidth>
        <pa-tab
          *ngFor="let tab of tabs"
          (click)="selectTab(tab.type)"
          [active]="currentTab === tab.type">
          {{ tab.title | translate }}
        </pa-tab>
      </pa-tabs>
    </ng-container>
  </div>

  <div class="tab-content">
    <app-activity-list [items]="(data | async)?.['events'] || []"></app-activity-list>
    <div class="more-results">
      <pa-button
        *ngIf="(data | async)?.['pagination']?.last === false"
        kind="inverted"
        (click)="loadMoreEvents()">
        {{ 'search.more_results' | translate }}
      </pa-button>
    </div>
  </div>
</div>
