<div class="page-spacing">
  <h1>{{ 'navbar.activity' | translate }}</h1>
  <pa-tabs
    class="primary-tabs"
    noSlider
    notFullWidth>
    <pa-tab
      (click)="selectTab('resources')"
      [active]="selectedTab === 'resources'">
      {{ 'resource.resources' | translate }}
    </pa-tab>
    <pa-tab
      (click)="selectTab('searches')"
      [active]="selectedTab === 'searches'">
      {{ 'stash.search' | translate }}
    </pa-tab>
  </pa-tabs>
  <div class="activity-container">
    <pa-tabs
      class="secondary-tabs"
      notFullWidth>
      @for (tab of activityTabs[selectedTab]; track tab) {
        <pa-tab
          [active]="tab === selectedActivityTab"
          (click)="selectedActivityTab = tab">
          {{ 'activity.type.' + tab | translate }}
        </pa-tab>
      }
    </pa-tabs>
    <div class="download-list">
      @for (item of activity[selectedActivityTab] | async; track item.month) {
        <div class="download-item">
          <div class="body-m">{{ item.formatted }}</div>
          @if (completedDownloads[selectedActivityTab + '-' + item.month]) {
            <div class="email-sent">
              <pa-icon
                name="check"
                [paPopover]="help"></pa-icon>
              <pa-popover #help>
                {{ 'activity.email-sent' | translate: { email: email | async } }}
              </pa-popover>
            </div>
          } @else {
            <pa-button
              icon="download"
              aspect="basic"
              (click)="download(selectedActivityTab, item.month)"></pa-button>
          }
        </div>
      }
    </div>
  </div>
</div>
