<div class="activity page-spacing">
  <div class="activity-header">
    @if (currentTab$ | async; as currentTab) {
      <pa-tabs
        noSlider
        notFullWidth>
        <pa-tab
          *ngFor="let tab of tabs"
          (click)="selectTab(tab.type)"
          [active]="currentTab === tab.type">
          {{ tab.title | translate }}
        </pa-tab>
      </pa-tabs>
    }
  </div>

  <div class="tab-content">
    <app-activity-list [items]="(data | async)?.['events'] || []"></app-activity-list>
    <div class="more-results">
      @if ((data | async)?.['pagination']?.last === false) {
        <pa-button
          kind="inverted"
          (click)="loadMoreEvents()">
          {{ 'search.more_results' | translate }}
        </pa-button>
      }
    </div>
  </div>
</div>
