@use 'apps/dashboard/src/variables' as *;

.primary-tabs {
  display: block;
  border-bottom: 2px solid $color-light-stronger;
}

.secondary-tabs ::ng-deep {
  .pa-tabs-link {
    background: $color-background-tab-link-active;
    &[aria-expanded='true'] {
      color: $color-tab-slider-active;
      font-weight: $font-weight-tab-item;
    }
  }
}

.activity-container {
  background-color: $color-neutral-lightest;
  width: calc(rhythm(90) + rhythm(24));
}

.download-list {
  padding: rhythm(1) rhythm(3);
}

.download-item {
  align-items: center;
  border-bottom: 1px solid $color-neutral-lighter;
  display: flex;
  height: rhythm(5);
  justify-content: space-between;
  &:last-child {
    border-bottom: 0;
  }
}

.email-sent {
  padding: rhythm(1);
}
