@use 'apps/dashboard/src/variables' as *;

.filters {
  display: flex;
  gap: rhythm(2);
  margin: rhythm(1.5) 0;
  pa-input {
    display: block;
    width: rhythm(48);
  }
}

.clear {
  background: $color-light-stronger;
  border-top: 1px solid $color-neutral-light;
  bottom: 0;
  padding: rhythm(1);
  position: sticky;
  z-index: 1;
}

.container {
  overflow: auto;
  margin: rhythm(0.5) 0;
}

.table {
  max-height: 60vh;
  width: max-content;
  pre {
    margin: 0;
    max-width: rhythm(60);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.show-more {
  cursor: pointer;
  font-weight: $font-weight-bold;
  &:hover {
    color: $color-neutral-regular;
  }
}
