<div class="filters">
  <pa-input (valueChange)="updateTerm($event)">{{ 'activity.filter' | translate }}</pa-input>
  <div>
    <nsi-dropdown-button
      aspect="basic"
      [popupRef]="visibleColumns">
      {{ 'activity.columns' | translate }}
    </nsi-dropdown-button>
    <pa-dropdown #visibleColumns>
      @for (header of headers | async; track header) {
        <pa-option
          [value]="header"
          (selectOption)="selectHeader(header, $event)"
          dontCloseOnSelect>
          <pa-checkbox
            [value]="(displayedHeaders | async)?.includes(header)"
            (change)="this.toggleHeader(header)">
            {{ header }}
          </pa-checkbox>
        </pa-option>
      }
      @if (((displayedHeaders | async) || []).length > 0) {
        <div class="clear">
          <nsi-button-mini
            icon="circle-cross"
            (click)="clearHeaders($event)">
            {{ 'activity.clear' | translate }}
          </nsi-button-mini>
        </div>
      }
    </pa-dropdown>
  </div>
  <pa-button
    aspect="basic"
    icon="download"
    iconAndText
    (click)="downloadCSV()">
    CSV
  </pa-button>
  @if (url) {
    <pa-button
      aspect="basic"
      icon="download"
      iconAndText
      (click)="downloadJSON()">
      {{ 'activity.original-link' | translate }}
    </pa-button>
  }
  @if (((totalPages | async) || 1) > 1) {
    <div class="pagination">
      <pa-button
        aspect="basic"
        (click)="updatePage(-1)"
        [disabled]="(page | async) === 0">
        {{ 'generic.previous' | translate }}
      </pa-button>
      <span class="body-m">
        {{ 'generic.page' | translate }} {{ ((page | async) || 0) + 1 }}/{{ totalPages | async }}
      </span>
      <pa-button
        aspect="basic"
        (click)="updatePage(1)"
        [disabled]="(totalPages | async) === ((page | async) || 0) + 1">
        {{ 'generic.next' | translate }}
      </pa-button>
    </div>
  }
</div>

<div
  #container
  class="container">
  <div class="table">
    <pa-table
      border
      [columns]="
        'fit-content(400px)' +
        ((displayedHeaders | async)?.length
          ? ' repeat(' + (displayedHeaders | async)?.length + ', fit-content(400px))'
          : '')
      ">
      @if ((filteredRows | async)?.length === 0) {
        <pa-table-row>
          <pa-table-cell>N/A</pa-table-cell>
        </pa-table-row>
      } @else {
        <pa-table-header>
          <pa-table-row>
            <pa-table-cell
              header
              borderRight></pa-table-cell>
            @for (title of displayedHeaders | async; track title) {
              <pa-table-cell header>{{ title }}</pa-table-cell>
            }
          </pa-table-row>
        </pa-table-header>
      }
      @for (row of pageRows | async; track row.id; let index = $index) {
        <pa-table-row>
          <pa-table-cell borderRight>
            <div class="body-s">{{ ((page | async) || 0) * pageSize + index + 1 }}</div>
          </pa-table-cell>
          @if ((displayedHeaders | async)?.includes(dateColumn)) {
            <pa-table-cell>
              <div
                class="body-s"
                [paTooltip]="
                  (row.date + 'Z' | date: 'MMM d, h:mm a') + ' (' + ('activity.local-time' | translate) + ')'
                ">
                {{ row.date | date: 'MMM d, h:mm a' }}
              </div>
            </pa-table-cell>
          }
          @if ((displayedHeaders | async)?.includes(idColumn)) {
            <pa-table-cell>
              <div class="body-s">
                {{ row.id }}
              </div>
            </pa-table-cell>
          }
          @for (cell of row.data; track cell[0]) {
            @if ((displayedHeaders | async)?.includes(cell[0])) {
              <pa-table-cell>
                <div class="body-s">
                  @if (cell[1].type === 'object') {
                    <pre>{{ cell[1].displayedValue }}</pre>
                  } @else {
                    {{ cell[1].displayedValue }}
                  }
                  @if (cell[1].showMore) {
                    <span
                      class="show-more"
                      (click)="showMore(cell)">
                      {{ 'generic.show_more' | translate }}
                    </span>
                  }
                </div>
              </pa-table-cell>
            }
          }
        </pa-table-row>
      }
    </pa-table>
  </div>
</div>
