<div class="filters">
  <pa-input (valueChange)="search($event)">{{ 'activity.filter' | translate }}</pa-input>
  <div>
    <nsi-dropdown-button
      aspect="basic"
      [popupRef]="visibleColumns">
      {{ 'activity.columns' | translate }}
    </nsi-dropdown-button>
    <pa-dropdown #visibleColumns>
      @for (header of headers; track header) {
        <pa-option
          [value]="header"
          (selectOption)="selectHeader(header, $event)"
          dontCloseOnSelect>
          <pa-checkbox
            [value]="displayedHeaders.includes(header)"
            (change)="this.toggleHeader(header)">
            {{ header }}
          </pa-checkbox>
        </pa-option>
      }
      @if (displayedHeaders.length > 0) {
        <div class="clear">
          <nsi-button-mini
            icon="circle-cross"
            (click)="clearHeaders($event)">
            {{ 'activity.clear' | translate }}
          </nsi-button-mini>
        </div>
      }
    </pa-dropdown>
  </div>
  <pa-button
    aspect="basic"
    icon="download"
    iconAndText
    (click)="downloadCSV()">
    CSV
  </pa-button>
  @if (url) {
    <pa-button
      aspect="basic"
      icon="download"
      iconAndText
      (click)="downloadJSON()">
      {{ 'activity.original-link' | translate }}
    </pa-button>
  }
</div>

<div class="container">
  <div class="table">
    <pa-table
      border
      [columns]="
        'fit-content(400px)' +
        (displayedHeaders.length ? ' repeat(' + displayedHeaders.length + ', fit-content(400px))' : '')
      ">
      @if (displayedRows.length === 0) {
        <pa-table-row>
          <pa-table-cell>N/A</pa-table-cell>
        </pa-table-row>
      } @else {
        <pa-table-header>
          <pa-table-row>
            <pa-table-cell
              header
              borderRight></pa-table-cell>
            @for (title of displayedHeaders; track title) {
              <pa-table-cell header>{{ title }}</pa-table-cell>
            }
          </pa-table-row>
        </pa-table-header>
      }
      @for (row of displayedRows; track row.id; let index = $index) {
        <pa-table-row>
          <pa-table-cell borderRight>
            <div class="body-s">{{ index + 1 }}</div>
          </pa-table-cell>
          @if (displayedHeaders.includes(dateColumn)) {
            <pa-table-cell>
              <div
                class="body-s"
                [paTooltip]="
                  (row.date + 'Z' | date: 'MMM d, h:mm a') + ' (' + ('activity.local-time' | translate) + ')'
                ">
                <pa-datetime [datetime]="row.date"></pa-datetime>
              </div>
            </pa-table-cell>
          }
          @if (displayedHeaders.includes(idColumn)) {
            <pa-table-cell>
              <div class="body-s">
                {{ row.id }}
              </div>
            </pa-table-cell>
          }
          @for (cell of row.data; track cell[0]) {
            @if (displayedHeaders.includes(cell[0])) {
              <pa-table-cell>
                <div class="body-s">
                  @if (cell[1].type === 'object') {
                    @if (cell[1].value | json; as json) {
                      @if (json.split('\n').length > maxLines) {
                        <pre>{{ json.split('\n').slice(0, maxLines).join('\n') }}…</pre>
                        <span
                          class="show-more"
                          (click)="showMore(cell)">
                          {{ 'generic.show_more' | translate }}
                        </span>
                      } @else {
                        <pre>{{ json }}</pre>
                      }
                    }
                  } @else {
                    @if (cell[1].value.length > maxCharacters) {
                      {{ cell[1].value.slice(0, maxCharacters) }}…
                      <span
                        class="show-more"
                        (click)="showMore(cell)">
                        {{ 'generic.show_more' | translate }}
                      </span>
                    } @else {
                      {{ cell[1].value }}
                    }
                  }
                </div>
              </pa-table-cell>
            }
          }
        </pa-table-row>
      }
    </pa-table>
  </div>
</div>
