<div class="loading-shade"
     *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="account-kbs"
     *ngIf="zones && account && knowledgeBoxes">
  <div class="account-kbs-description">{{ 'account.related_kbs' | translate }}</div>

  <div class="account-kbs-list">
    <div class="account-kb"
         *ngFor="let kb of knowledgeBoxes"
         fxLayoutAlign="space-between center">
      <a class="account-kb-title"
         [class.disabled]="!kb.role_on_kb"
         [routerLink]="kb.role_on_kb ? getKbUrl(account.slug, kb.slug!) : null">
        {{ kb.title }}
      </a>
      <div fxLayout="row"
           fxLayoutAlign="start center">

        <ng-container *ngIf="kb.role_on_kb === 'SOWNER' || kb.role_on_kb === 'SCONTRIBUTOR'">
          <app-button-action *ngIf="isUsersEnabled | async"
                             (click)="manageKbUsers(kb.slug!)"
                             action="users"
                             iconWidth="20px"
                             iconHeight="20px"
                             ariaLabel="account.stash.users"
                             stfTooltip
                             stfTooltipText="account.stash.users">
          </app-button-action>
          <app-button-action (click)="manageKb(kb.slug!)"
                             action="edit"
                             ariaLabel="account.stash.edit"
                             stfTooltip
                             stfTooltipText="account.stash.edit">
          </app-button-action>
        </ng-container>

        <ng-container *ngIf="kb.role_on_kb === 'SOWNER'">
          <stf-button class="account-kbs-retire"
                      *ngIf="kb.state === 'PUBLISHED'"
                      icon="lock"
                      color="white"
                      size="small"
                      (click)="retireKb(kb)">
            {{ 'account.stash.retire' | translate }}
          </stf-button>

          <stf-button class="account-kbs-publish"
                      *ngIf="kb.state === 'PRIVATE'"
                      icon="unlock"
                      color="secondary"
                      size="small"
                      (click)="publishKb(kb)">
            {{ 'account.stash.publish' | translate }}
          </stf-button>

          <stf-button class="account-kbs-delete"
                      icon="delete"
                      color="destructive"
                      size="small"
                      (click)="deleteKb(kb)">
            {{ 'generic.delete' | translate }}
          </stf-button>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="canAddKb | async"
       class="mt-24"
       fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="24px">
    <div class="account-kbs-counter"
         *ngIf="knowledgeBoxes.length > 0">
      {{ knowledgeBoxes.length }} {{ 'generic.of' | translate }} {{ maxKnowledgeBoxes }}
    </div>
    <stf-button (click)="addKb(zones, account)"
                [disabled]="knowledgeBoxes.length >= maxKnowledgeBoxes"
                color="secondary"
                size="small"
                padding="pd-l">
      {{ 'account.stash.add' | translate }}
    </stf-button>

    <!--
    <div *ngIf="stashes.count === stashes.max_stashes">
        <stf-button (click)="goUpgrade()">{{ 'account.stash.upgrade' | translate }}</stf-button>
    </div
    -->
  </div>

  <div class="account-kbs-empty"
       *ngIf="knowledgeBoxes.length === 0 && !(canAddKb | async)">
    {{ 'stash.contact_admin' | translate }}
  </div>
</div>