<div class="loading-shade"
     *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="account-kbs"
     *ngIf="zones && account && knowledgeBoxes">
  <h2>{{ 'account.related_kbs' | translate }}</h2>

  <div class="account-kbs-list">
    <div class="account-kb"
         *ngFor="let kb of knowledgeBoxes"
         fxLayoutAlign="space-between center">
      <a class="account-kb-title"
         [class.disabled]="!kb.role_on_kb && !account.can_manage_account"
         [routerLink]="kb.role_on_kb ? getKbUrl(account.slug, kb.slug!) : null">
        {{ kb.title }}
      </a>
      <div fxLayout="row"
           fxLayoutAlign="start center">

        <ng-container *ngIf="kb.role_on_kb === 'SOWNER' || kb.role_on_kb === 'SCONTRIBUTOR' || account.can_manage_account">
          <pa-button *ngIf="isUsersEnabled | async"
                     class="icon-button"
                     icon="add-user"
                     aspect="basic"
                     paTooltip="account.stash.users"
                     (click)="manageKbUsers(kb.slug!)">{{'account.stash.users' | translate}}</pa-button>

          <pa-button *ngIf="isUsersEnabled | async"
                     class="icon-button"
                     icon="edit"
                     aspect="basic"
                     paTooltip="account.stash.edit"
                     (click)="manageKb(kb.slug!)">{{'account.stash.edit' | translate}}</pa-button>
        </ng-container>

        <ng-container *ngIf="kb.role_on_kb === 'SOWNER' || account.can_manage_account">
          <pa-button  *ngIf="kb.state === 'PUBLISHED'"
                      size="small"
                      icon="lock"
                      aspect="basic"
                      iconAndText
                      (click)="retireKb(kb)">{{ 'account.stash.retire' | translate }}</pa-button>

          <pa-button  *ngIf="kb.state === 'PRIVATE'"
                      size="small"
                      icon="unlock"
                      iconAndText
                      (click)="publishKb(kb)">{{ 'account.stash.publish' | translate }}</pa-button>

          <pa-button  size="small"
                      icon="trash"
                      kind="destructive"
                      iconAndText
                      (click)="deleteKb(kb)">{{ 'generic.delete' | translate }}</pa-button>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="canAddKb | async"
       class="mt-24"
       fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="24px">
    <div class="account-kbs-counter"
         *ngIf="knowledgeBoxes.length > 0">
      {{ knowledgeBoxes.length }} {{ 'generic.of' | translate }} {{ maxKnowledgeBoxes }}
    </div>

    <pa-button size="small"
               [disabled]="knowledgeBoxes.length >= maxKnowledgeBoxes"
               (click)="addKb(zones, account)">{{ 'account.stash.add' | translate }}</pa-button>
  </div>

  <div class="account-kbs-empty"
       *ngIf="knowledgeBoxes.length === 0 && !(canAddKb | async)">
    {{ 'stash.contact_admin' | translate }}
  </div>
</div>
