<div class="classification-container">
  <label class="title-s">{{ 'resource.classification' | translate }}</label>
  <div>
    <app-label-field
      [selection]="currentLabels"
      (selectionChange)="updateLabels($event)"></app-label-field>
  </div>
</div>

<footer class="form-buttons">
  <pa-button
    kind="primary"
    [disabled]="!isModified"
    (click)="save()">
    {{ 'generic.save' | translate }}
  </pa-button>

  <pa-button
    aspect="basic"
    [disabled]="!isModified"
    (click)="cancel()">
    {{ 'generic.cancel' | translate }}
  </pa-button>
</footer>
