<pa-demo-page>
  <pa-demo-title>Back button</pa-demo-title>
  <pa-demo-description>
    <p>Sistema provides a standalone back button component which is wrapping and styling a <code>pa-button</code> link.</p>
    <p><code>nsi-back-button</code> is a small basic icon and text button with a smaller size padding than regular small buttons, as shown below.</p>
  </pa-demo-description>

  <pa-demo-examples>
    <nsi-back-button link=".."></nsi-back-button>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>link</dt>
      <dd>Path to go to when clicking on the button. Navigation is done using <code>routerLink</code> directive</dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    This back button example goes to the parent route:
    <pre><code>{{code}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
