<pa-demo-page>
  <pa-demo-title>Back button</pa-demo-title>
  <pa-demo-description>
    <p>
      Sistema provides a standalone back button component which is a simple styled link wrapping a
      <code>pa-icon</code>
      chevron-left component.
    </p>
    <p>The link’s style is overridden to stay black instead of using primary color.</p>
  </pa-demo-description>

  <pa-demo-examples>
    <nsi-back-button link="..">Back</nsi-back-button>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>link</dt>
      <dd>
        Path to go to when clicking on the button. Navigation is done using
        <code>routerLink</code>
        directive.
        <small>Mandatory</small>
      </dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    This back button example goes to the parent route:
    <pre><code>{{code}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
