@import 'variables';

$height-header: rhythm(7);
$padding-top-page-container: rhythm(6);
$padding-horizontal-header: rhythm(6);
$padding-horizontal-header-xlarge: rhythm(10);
$margin-top-footer: rhythm(5);
$padding-vertical-footer: rhythm(3);
$footer-height: $margin-top-footer + $padding-vertical-footer * 2 + rhythm(5);
