@import 'variables';

$height-header: rhythm(7);
$padding-top-page-container: rhythm(6);
$padding-horizontal-header: rhythm(6);
$padding-horizontal-header-xlarge: rhythm(10);
$padding-vertical-footer: rhythm(3);
$footer-height: $padding-vertical-footer * 2 + rhythm(5);

$header-separator: inset 0 -1px 0 $color-neutral-light;
$footer-separator: inset 0 1px 0 $color-neutral-light;
