@import 'edit-resource.tokens';

.scrollable-area {
  height: calc(100vh - var(--app-topbar-height) - #{$height-header} - #{$padding-top-page-container});
  overflow: auto;
  width: $width-page-content;
}

footer.with-margin {
  margin-top: $footer-margin;
}

@media (min-width: $size-viewport-xlarge-min) {
  .scrollable-area {
    width: $width-page-content-large;
  }
}
