@import 'variables';
@import 'edit-resource.tokens';

.edit-resource {
  header {
    align-items: center;
    background: $color-neutral-lightest;
    display: flex;
    height: $height-header;
    justify-content: space-between;
    padding: 0 $padding-horizontal-header;

    .title-s {
      flex: 1 0 auto;
      padding-left: rhythm(10);
      padding-right: rhythm(1);
    }

    .actions {
      align-items: center;
      display: flex;
      gap: rhythm(1);
    }
  }
  .page-container {
    display: flex;
    gap: rhythm(0.5);
    padding-top: $padding-top-page-container;

    nav {
      margin-top: calc(#{rhythm(0.5)} * -1);
      padding: 0 rhythm(1);
      width: rhythm(32);

      ul {
        padding-left: $padding-horizontal-header;
      }

      li {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: rhythm(1);
        padding: rhythm(1) rhythm(1.5);

        pa-icon {
          display: flex;
        }

        &.active {
          cursor: default;
          font-weight: $font-weight-semi-bold;
        }

        &:not(.active):hover {
          background: $color-neutral-lightest;
        }
      }
    }

    .page-content {
      flex: 1 0 auto;
      max-width: rhythm(90);

      &.has-right-panel {
        max-width: rhythm(64);
      }

      footer {
        box-shadow: $footer-separator;
        display: flex;
        margin-top: $margin-top-footer;
        padding: $padding-vertical-footer 0;

        &.form-buttons,
        .save-actions {
          gap: rhythm(1);
        }
        &.form-field-buttons {
          justify-content: space-between;
        }

        .save-actions {
          display: flex;
        }
      }
    }
  }
}

@media (min-width: $size-viewport-xlarge-min) {
  .edit-resource {
    header {
      padding: 0 $padding-horizontal-header-xlarge;

      .title-s {
        padding-left: rhythm(6);
      }
    }
    .page-container {
      nav ul {
        padding-left: $padding-horizontal-header-xlarge;
      }

      .page-content.has-right-panel {
        max-width: rhythm(90);
      }
    }
  }
}
