@import 'variables';

stf-section-navbar-body {
  margin-top: 70px;
  display: block;

  ::ng-deep {
    form > div {
      align-items: center;
      display: flex;
      gap: rhythm(1);
      margin-bottom: rhythm(2);

      & > :first-child {
        width: rhythm(20);
      }

      & > :last-child {
        width: 100%;
      }

      .pa-field {
        margin-bottom: 0;
      }

      label {
        font-weight: $font-weight-semi-bold;
      }

      &.classification-container {
        margin-top: rhythm(5);
      }

      &.form-buttons {
        margin-top: rhythm(20);

        pa-button {
          margin-right: rhythm(2);
        }
      }

      .thumbnails-container {
        $thumbnail-height: rhythm(14) + rhythm(1);

        display: flex;

        .drop-container {
          display: flex;
          flex-direction: column;

          .drop-image-area {
            align-items: center;
            background-color: $color-light-stronger;
            border: 1px dashed $color-neutral-light;
            color: $color-neutral-light;
            cursor: pointer;
            display: flex;
            flex: 1 0 auto;
            justify-content: center;
            margin-bottom: rhythm(2);
            min-height: $thumbnail-height;
            transition: background-color $transition-hint;
            width: rhythm(28);

            &.file-over {
              background-color: $color-neutral-lightest;
            }
          }

          .radio-placeholder {
            height: rhythm(2);
          }
        }

        pa-radio-group {
          align-items: flex-start;
          column-gap: rhythm(4);
          display: flex !important;
          flex-wrap: wrap;
          row-gap: rhythm(2);
        }

        .radio-thumbnail-container {
          align-items: center;
          display: flex;
          flex-direction: column;

          img {
            margin-bottom: rhythm(2);
            max-height: $thumbnail-height;
          }
        }
      }

      .resource-thumbnail {
        max-height: rhythm(28);
        max-width: rhythm(28);
      }
    }
  }
}

stf-section-navbar-header {
  .back-button {
    position: absolute;
    top: rhythm(2);
    left: rhythm(2);
  }

  h1 {
    margin-bottom: rythm(1);
  }

  .body-s {
    margin-bottom: rythm(2);
  }
}
