@import 'variables';

stf-section-navbar-body {
  margin-top: 70px;
  display: block;
  ::ng-deep {
    form > div {
      align-items: center;
      display: flex;
      margin-bottom: rhythm(2);

      & > :first-child {
        width: 160px;
      }
      & > :last-child {
        width: 100%;
      }
      .pa-field {
        margin-bottom: 0;
      }

      label {
        font-weight: $font-weight-semi-bold;
      }

      &.classification-container {
        margin-top: rhythm(4);
      }
      &.form-buttons {
        margin-top: rhythm(20);

        pa-button {
          margin-right: rhythm(2);
        }
      }
    }
  }
}

stf-section-navbar-header {
  .back-button {
    position: absolute;
    top: rythm(1.5);
    left: 4px;
  }

  h1 {
    margin-bottom: rythm(1);
  }
  .body-s {
    margin-bottom: rythm(2);
  }
}
