<header>
  <pa-button
    iconAndText
    icon="chevron-left"
    aspect="basic"
    size="small">
    {{ 'resource.resources' | translate }}
  </pa-button>
  <div class="title-s">{{ resourceTitle | async }}</div>
  <div class="actions">
    <pa-button
      icon="edit"
      aspect="basic"></pa-button>
    <pa-button
      icon="label"
      aspect="basic"></pa-button>
  </div>
</header>

<div class="page-container">
  <nav>
    <ul>
      <li>
        <pa-icon
          name="file"
          size="small"></pa-icon>
        <span>{{ 'resource.profile' | translate }}</span>
      </li>
    </ul>
  </nav>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
