<h2>{{ 'resource.profile' | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label for="title">{{ 'resource.title' | translate }}</label>
    <stf-input formControlName="title"></stf-input>
  </div>
  <div>
    <label for="authors">{{ 'resource.authorship' | translate }}</label>
    <stf-input formControlName="authors"></stf-input>
  </div>
  <div>
    <div>
      <label for="summary">{{ 'resource.summary' | translate }}</label>
      <div>{{ 'resource.summary.help' | translate }}</div>
    </div>
    <stf-textarea formControlName="summary" initialHeight="120px"></stf-textarea>
  </div>
  <!-- <div>
    <div>
      <label>{{ 'resource.thumbnail' | translate }}</label>
      <div>{{ 'resource.thumbnail.help' | translate }}</div>
    </div>
    <div>
      <div *ngFor="let thumb of (thumbnails | async)">
        <stf-thumbnail [initialImage]="thumb"
                       size="small"></stf-thumbnail>
      </div>
    </div>
  </div> -->
  <div>
    <label>{{ 'resource.classification' | translate }}</label>
    <div>
      <app-label-field [selected]="currentLabels" (selectedChange)="updateLabels($event)"></app-label-field>
    </div>
  </div>
  <div>
    <div></div>
    <div class="form-buttons">
      <stf-button (click)="save()" [disabled]="!form.valid || form.pristine" minWidth="110px">
        {{ 'generic.save' | translate }}
      </stf-button>
      <stf-button (click)="cancel()" [disabled]="form.pristine" color="gray" minWidth="110px">
        {{ 'generic.cancel' | translate }}
      </stf-button>
    </div>
  </div>
</form>
<ncom-hint label="How to modify a resource with the API" [values]="hintValues | async">
  <pre><code class="highlight">curl $$RESOURCE$$ \
 -X PATCH \
 -H "authorization: Bearer $$AUTH_TOKEN$$" \
 --data-raw '$$DATA$$'</code></pre>
  <a href="https://docs.nuclia.dev/docs/api#operation/Modify_Resource_kb__kbid__resource__rid__patch" target="_new"
    >Learn more</a
  >
</ncom-hint>
