@import 'variables';

.nua-activity {
  padding: 50px var(--app-layout-margin-right) 60px 5%;
  position: relative;
  min-height: 200px;
}

.nua-activity-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  small {
    color: $color-neutral-regular;
    font-style: italic;
  }
}

.activity-container {
  background: $color-light-stronger;
}

table {
  border-spacing: 0;
  padding: rhythm(1) rhythm(3);
  width: 100%;

  .cdk-header-cell {
    border-bottom: 1px solid $color-neutral-regular;
  }

  .cdk-column-file {
    width: 40%;
  }

  .cdk-cell {
    padding: rhythm(1);
  }
}

.load-more {
  display: flex;
  justify-content: center;
  padding: rhythm(1);
}
