<pa-demo-page>
  <pa-demo-title>Labels</pa-demo-title>
  <pa-demo-description>
    <p>
      Nuclia's label are done using
      <a routerLink="/chip">Pastanaga's closeable chip</a>
      component.
    </p>
    <p>
      We provide them in different colors defined in
      <code>LABEL_COLORS</code>
      constant.
    </p>
  </pa-demo-description>
  <pa-demo-examples>
    <div style="display: flex; gap: 12px; flex-wrap: wrap">
      @for (color of colors; track color) {
        <nsi-label [color]="color.mainColor">Color {{ $index }}</nsi-label>
      }
    </div>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>color</dt>
      <dd>
        Hexadecimal color coming from
        <code>LABEL_COLORS</code>
        constant.
        <small>(Optional: we use the first color of the const by default)</small>
      </dd>
      <dt>disabled</dt>
      <dd>Disable the chip so the close button doesn't work anymore.</dd>
    </dl>

    <h3>Outputs</h3>
    <dl>
      <dt>removeLabel</dt>
      <dd>Event triggered when clicking on the label’s close button.</dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{code}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
