@import 'variables';

.filter-ontology {
  &-button {
    @include reset-button();
    cursor: pointer;
    margin-bottom: rhythm(1);
    &:last-child {
      margin-bottom: 0;
    }
    pa-icon {
      margin-right: rhythm(0.25);
      transition: transform $transition-response;
    }

    &.open {
      pa-icon {
        transform: rotate(90deg);
      }
    }
  }

  &-counter {
    margin: rhythm(0.25) 0 0 rhythm(0.5);
    font-size: var(--stf-font-size-ssmall);
    font-weight: var(--stf-font-weight-light);
  }

  &-list {
    padding: 0 0 rhythm(1.5) rhythm(2);
  }
}
