<router-outlet></router-outlet>
<div class="resource-list">
  <div
    class="loading-shade"
    *ngIf="isLoading">
    <nsi-spinner *ngIf="isLoading"></nsi-spinner>
  </div>

  <div class="resource-list-header">
    <form
      *ngIf="isMainView; else backButton"
      class="search-bar-container"
      [formGroup]="searchForm"
      (ngSubmit)="search()">
      <label
        for="search-resources"
        class="title-xxs">
        {{ 'stash.search' | translate }}
      </label>
      <pa-select
        dim
        formControlName="searchIn">
        <pa-option value="title">{{ 'resource.search.in-title' | translate }}</pa-option>
        <pa-option value="resource">{{ 'resource.search.in-resource' | translate }}</pa-option>
      </pa-select>
      <pa-input
        id="search-resources"
        externalLabel
        icon="search"
        formControlName="query"></pa-input>
    </form>
    <ng-template #backButton>
      <pa-button
        iconAndText
        icon="chevron-left"
        aspect="basic"
        size="small"
        (click)="displayStatus('PROCESSED')">
        {{ 'resource.processed_resources' | translate }}
      </pa-button>
    </ng-template>

    <div class="upload-container">
      <ng-container *ngIf="isMainView">
        <app-upload-button (uploaded)="onUpload()"></app-upload-button>

        <pa-button
          *ngIf="hasSampleData | async"
          kind="destructive"
          aspect="basic"
          (click)="deleteSampleDataset()">
          {{ 'onboarding.dataset.delete' | translate }}
        </pa-button>
      </ng-container>
    </div>
    <div class="status-buttons-container">
      <div
        class="status-button"
        *ngIf="(statusCount | async)?.pending > 0">
        <pa-button
          icon="clock-dash"
          size="small"
          kind="destructive"
          aspect="basic"
          #pendingPopoverDirective="paPopoverRef"
          [paPopover]="pendingPopover"
          paPopoverOffset="0px"
          [active]="statusDisplayed.value === 'PENDING'"
          (click)="displayStatus('PENDING')">
          {{ 'resource.status-help.pending' | translate }}
        </pa-button>
        <div class="file-count">{{ (statusCount | async).pending }}</div>
      </div>
      <pa-popover #pendingPopover>
        <div class="popover-content">{{ 'resource.pending_resources_popover' | translate }}</div>
      </pa-popover>

      <div
        class="status-button"
        *ngIf="(statusCount | async)?.error > 0">
        <pa-button
          icon="circle-cross"
          size="small"
          kind="destructive"
          aspect="basic"
          #failedPopoverDirective="paPopoverRef"
          [paPopover]="failedPopover"
          paPopoverOffset="0px"
          [active]="statusDisplayed.value === 'ERROR'"
          (click)="displayStatus('ERROR')">
          {{ 'resource.status-help.failed' | translate }}
        </pa-button>
        <div class="file-count">{{ (statusCount | async).error }}</div>
      </div>
      <pa-popover #failedPopover>
        <div class="popover-content">{{ 'resource.failed_resources_popover' | translate }}</div>
      </pa-popover>
    </div>
  </div>

  <div class="resource-list-content">
    <div class="resource-table-header">
      <div
        class="resource-bulk-actions"
        *ngIf="(isAdminOrContrib | async) && selection.selected.length > 0">
        {{ 'resource.selected_count' | translate: { num: selection.selected.length || '' } }}

        <ng-container *ngIf="hasLabelSets | async">
          <app-label-dropdown
            [labelSets]="labelSets$ | async"
            (selectionChange)="updateLabelList($event)"
            (close)="addLabelsToSelection()"
            aspect="basic"
            size="small">
            {{ 'resource.add_labels' | translate }}
          </app-label-dropdown>
        </ng-container>

        <pa-button
          *ngIf="selection.selected.length > 0"
          kind="destructive"
          aspect="basic"
          size="small"
          (click)="bulkDelete()">
          {{ 'generic.delete' | translate }}
        </pa-button>
      </div>
      <div class="table-options">
        <div *ngIf="isMainView">
          <nsi-dropdown-button
            size="small"
            aspect="basic"
            [popupRef]="visibleColumns">
            {{ 'resource.visible_columns_dropdown' | translate }}
          </nsi-dropdown-button>
          <pa-dropdown #visibleColumns>
            <pa-option
              *ngFor="let column of optionalColumns"
              [value]="column.value"
              dontCloseOnSelect>
              <pa-checkbox
                [(value)]="column.visible"
                (valueChange)="columnVisibilityUpdate.next($event)">
                {{ column.label | translate }}
              </pa-checkbox>
            </pa-option>
          </pa-dropdown>
        </div>
        <div *ngIf="pageSizeOptions | async as options">
          <nsi-dropdown-button
            size="small"
            aspect="basic"
            [popupRef]="pageSizeMenu">
            {{ 'resource.resource_page_number' | translate: { num: filters.size } }}
          </nsi-dropdown-button>
          <pa-dropdown #pageSizeMenu>
            <pa-option
              *ngFor="let option of options"
              [value]="option.key"
              (selectOption)="setPageSize(option)">
              {{ option.value }}
            </pa-option>
          </pa-dropdown>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table
        *ngIf="currentKb | async"
        [dataSource]="data"
        cdk-table>
        <ng-container cdkColumnDef="select">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            <pa-checkbox
              [value]="selection.hasValue() && isAllSelected()"
              [paTooltip]="(isAllSelected() ? 'generic.deselect_all' : 'generic.select_all') | translate"
              (change)="masterToggle()"></pa-checkbox>
          </th>
          <td
            cdk-cell
            *cdkCellDef="let row">
            <pa-checkbox
              [value]="selection.isSelected(row.resource)"
              (change)="selection.toggle(row.resource)"></pa-checkbox>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="title">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'resource.title' | translate }}
          </th>
          <td
            cdk-cell
            class="clickable"
            *cdkCellDef="let row"
            (click)="viewResource(row.resource.id)">
            <div class="title-icon">
              <pa-icon
                *ngIf="row.resource.icon | mimeIcon as icon"
                [path]="'assets/icons/' + icon"></pa-icon>
              <div class="title-and-description">
                <div>{{ row.resource.title }}</div>
                <small *ngIf="row.description">{{ row.description }}</small>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="classification">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'resource.classification' | translate }}
          </th>
          <td
            cdk-cell
            class="clickable"
            *cdkCellDef="let row"
            (click)="viewResource(row.resource.id)">
            <div class="label-container">
              <nsi-label
                *ngFor="let label of row.labels"
                [color]="label.color">
                {{ label.label }}
              </nsi-label>
            </div>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="modification">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'generic.date' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let row">
            {{ row.resource.created | formatDate: { default: true } }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'resource.status' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let row">
            {{ row.status }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="language">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'generic.language' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let row">
            {{ row.resource.metadata.language || '–' }}
          </td>
        </ng-container>

        <ng-container
          cdkColumnDef="actions"
          *ngIf="showActions">
          <th
            cdk-header-cell
            *cdkHeaderCellDef>
            {{ 'generic.actions' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let row">
            <pa-button
              icon="more-vertical"
              aspect="basic"
              size="small"
              paTooltip="generic.actions"
              [matMenuTriggerFor]="menu">
              {{ 'generic.actions' | translate }}
            </pa-button>
            <mat-menu
              #menu="matMenu"
              class="resource-actions">
              <button
                mat-menu-item
                *ngIf="isMainView"
                (click)="edit(row.resource.id)"
                [disabled]="!(isAdminOrContrib | async)">
                {{ 'resource.edit' | translate }}
              </button>
              <button
                mat-menu-item
                (click)="delete([row.resource])"
                [disabled]="!(isAdminOrContrib | async)">
                {{ 'generic.delete' | translate }}
              </button>
              <button
                mat-menu-item
                (click)="reindex(row.resource)"
                [disabled]="!(isAdminOrContrib | async)">
                {{ 'generic.reindex' | translate }}
              </button>
              <button
                mat-menu-item
                *ngIf="isMainView"
                (click)="downloadAlgoliaJson(row.resource)">
                {{ 'generic.download_algolia_json' | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns | async"></tr>
        <tr
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns | async"></tr>
      </table>
    </div>

    <div class="pagination">
      <stf-pagination
        [page]="page"
        [total]="totalPages"
        (prev)="prevPage()"
        (next)="nextPage()"></stf-pagination>
    </div>
  </div>
</div>

<div class="viewer-container">
  <div [innerHTML]="viewerWidget | async"></div>
</div>
