<router-outlet></router-outlet>
<div class="resource-list">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="resource-list-content">
    <div class="resource-list-header">
      <div
        class="resource-bulk-actions"
        *ngIf="isAdminOrContrib | async"
        [class.disabled]="selection.selected.length === 0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <pa-checkbox [value]="selection.selected.length > 0"
                     [disabled]="selection.selected.length === 0"
                     [paTooltip]="selection.selected.length === 0 ? null : 'generic.deselect_all'"
                     (change)="clearSelected()"
        ></pa-checkbox>
        <div class="resource-counter" [class.disabled]="selection.selected.length === 0">
          {{ 'resource.selected_count' | translate: {num: selection.selected.length || ''} }}
        </div>
        <pa-button *ngIf="selection.selected.length > 0"
                   kind="destructive"
                   size="small"
                   (click)="bulkDelete()">
          {{ 'generic.delete' | translate }}
        </pa-button>
      </div>
      <div class="resource-number">
        <div>
          <span>{{ 'resource.total' | translate }}: {{ refreshing ? '…' : resultsLength }}</span>
        </div>
        <div *ngIf="(pageSizeOptions | async) as options">
          <span>{{ 'generic.showing' | translate }}</span>

          <nsi-dropdown-button size="small"
                               kind="inverted"
                               [popupRef]="pageSizeMenu">
            {{ 'resource.resource_number' | translate:{num: filters.size} }}
          </nsi-dropdown-button>
          <pa-dropdown #pageSizeMenu>
            <pa-option *ngFor="let option of options"
                       [value]="option.key"
                       (selectOption)="setPageSize($event)">{{option.value}}</pa-option>
          </pa-dropdown>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table *ngIf="currentKb | async" [dataSource]="data" cdk-table>
        <ng-container cdkColumnDef="select">
          <th cdk-header-cell *cdkHeaderCellDef>
            <pa-checkbox [value]="selection.hasValue() && isAllSelected()"
                         (change)="masterToggle()"></pa-checkbox>
          </th>
          <td cdk-cell *cdkCellDef="let row">
            <pa-checkbox [value]="selection.isSelected(row)"
                         (change)="selection.toggle(row)"></pa-checkbox>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="icon">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'resource.type' | translate }}
          </th>
          <td cdk-cell class="clickable" *cdkCellDef="let resource" (click)="viewResource(resource.id)">
            <div fxLayout="row">
              <div *ngIf="resource.icon | mimeIcon as icon">
                <svg-icon src="assets/icons/{{ icon }}"></svg-icon>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="title">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'resource.title' | translate }}
          </th>
          <td cdk-cell class="clickable" *cdkCellDef="let resource" (click)="viewResource(resource.id)">
            {{ resource.title }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="modification">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'generic.date' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let resource">
            {{ resource.created | formatDate: {default: true} }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'resource.status' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let resource" [title]="resource.metadata.status">
            <svg-icon [src]="getStatusIcon(resource.metadata.status)"></svg-icon>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="language">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'generic.language' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let resource">
            {{ resource.metadata.language || '–' }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="actions">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'generic.actions' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let resource">
            <pa-button icon="more-vertical"
                       aspect="basic"
                       size="small"
                       paTooltip="generic.actions"
                       [matMenuTriggerFor]="menu">{{'generic.actions' | translate}}</pa-button>
            <mat-menu #menu="matMenu" class="resource-actions">
              <button mat-menu-item (click)="edit(resource.id)" [disabled]="!(isAdminOrContrib | async)">
                {{ 'generic.edit' | translate }}
              </button>
              <button mat-menu-item (click)="delete([resource])" [disabled]="!(isAdminOrContrib | async)">
                {{ 'generic.delete' | translate }}
              </button>
              <button mat-menu-item (click)="reindex(resource)" [disabled]="!(isAdminOrContrib | async)">
                {{ 'generic.reindex' | translate }}
              </button>
              <button mat-menu-item (click)="downloadAlgoliaJson(resource)">
                {{ 'generic.download_algolia_json' | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns | async"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns | async"></tr>
      </table>
    </div>

    <div class="pagination">
      <stf-pagination [page]="page" [total]="totalPages" (prev)="prevPage()" (next)="nextPage()"></stf-pagination>
    </div>
  </div>
</div>
