.knowledge-box-users {
  padding: 70px var(--app-layout-margin-right);

  h2 {
    margin: 0 0 36px 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  .users-left,
  .users-amount {
    strong {
      margin: 0 4px;
      text-decoration: underline;
    }
  }
  .users-left {
    strong {
      color: var(--stf-primary);
    }
  }

  .add-user {
    width: 775px;
    margin-bottom: 36px;
    input {
      flex: 1 1 0;
    }
  }

  .user-table {
    width: 775px;
    padding: 24px 38px 40px 38px;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

    th {
      padding-bottom: 3px;
      border-bottom: 1px solid #000;
    }

    td {
      height: 55px;
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }

    .cdk-column-name {
      width: 63%;
    }
    .cdk-column-role {
      width: 120px;
      text-align: center;
      select {
        width: 120px;
      }
    }
    .cdk-column-actions {
      text-align: right;
    }
  }
}