<pa-modal-advanced fitContentHeight="">
  <pa-modal-title>{{ 'retrieval-agents.drivers.types.sql' | translate }}</pa-modal-title>
  <pa-modal-content>
    <form [formGroup]="form">
      <div class="form-entry">
        <label for="name">{{ 'retrieval-agents.drivers.form.driver-name' | translate }}</label>
        <pa-input
          id="name"
          externalLabel
          formControlName="name"></pa-input>
      </div>
      <div class="form-entry">
        <label for="dsn">{{ 'retrieval-agents.drivers.form.sql.dsn' | translate }}</label>
        <pa-input
          id="dsn"
          externalLabel
          formControlName="dsn"></pa-input>
      </div>
      <div class="form-entry">
        <label for="sql_schema">{{ 'retrieval-agents.drivers.form.sql.sql-schema' | translate }}</label>
        <pa-textarea
          id="sql_schema"
          externalLabel
          rows="2"
          resizable
          formControlName="sql_schema"></pa-textarea>
      </div>
    </form>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      [disabled]="form.invalid"
      (click)="submit()">
      {{ 'generic.save' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
