<pa-modal-advanced>
  <pa-modal-title>
    {{ 'stash.create' | translate }}
  </pa-modal-title>
  <pa-modal-content>
    <form
      *ngIf="kbForm"
      class="form-container"
      [formGroup]="kbForm"
      (ngSubmit)="save()">
      <ng-container *ngIf="step === 0">
        <pa-input
          id="kb-title"
          formControlName="title"
          [errorMessages]="validationMessages.title">
          {{ 'stash.name' | translate }}
        </pa-input>

        <pa-textarea
          id="kb-description"
          formControlName="description"
          rows="4">
          {{ 'generic.description' | translate }}
        </pa-textarea>

        <div class="kb-add-separator"></div>
        <div
          class="kb-add-zone"
          *ngIf="modal.config.data?.zones">
          <h4>{{ 'generic.zone' | translate }}</h4>
          <div class="mb-24">{{ 'stash.create.zone_description' | translate }}</div>
          <pa-select
            formControlName="zone"
            externalLabel
            [readonly]="modal.config.data.zones.length === 1"
            class="kb-add-zone-select">
            <pa-option
              *ngFor="let zone of modal.config.data.zones"
              [value]="zone.id">
              {{ zone.title }}
            </pa-option>
          </pa-select>
        </div>
      </ng-container>

      <ng-container *ngIf="step === 1">
        <div
          formGroupName="config"
          class="learning-config">
          <div *ngFor="let conf of displayedLearningConfigurations">
            <h3>{{ 'stash.create.' + conf.id | translate }}</h3>
            <p>{{ 'stash.create.' + conf.id + '.help' | translate }}</p>
            <pa-radio-group
              [formControlName]="conf.id"
              [name]="conf.id">
              <pa-radio
                *ngFor="let value of conf.data.options"
                [value]="value.value">
                {{
                  (hasTranslation('stash.config.' + value.value)
                    ? 'stash.config.' + value.value
                    : value.name.toLowerCase()
                  ) | translate
                }}
              </pa-radio>
            </pa-radio-group>
          </div>
        </div>

        <div
          *ngIf="creationInProgress"
          class="saving-spinner">
          <nsi-spinner size="large"></nsi-spinner>
          <p>{{ 'stash.create.in_progress' | translate }}</p>
        </div>
      </ng-container>
    </form>
  </pa-modal-content>

  <pa-modal-footer>
    <div class="kb-creation-footer">
      <div
        *ngIf="error"
        class="error body-m">
        {{ error | translate }}
      </div>
      <div class="footer-buttons">
        <pa-button
          *ngIf="step > 0"
          aspect="basic"
          [disabled]="saving"
          (click)="back()">
          {{ 'generic.back' | translate }}
        </pa-button>

        <pa-button
          *ngIf="step === lastStep"
          type="submit"
          kind="primary"
          [disabled]="saving"
          (click)="save()">
          {{ 'generic.save' | translate }}
        </pa-button>

        <pa-button
          *ngIf="step < lastStep"
          [disabled]="step === 0 && kbForm?.invalid"
          (click)="next()">
          {{ 'generic.next' | translate }}
        </pa-button>
      </div>
      <div class="steps">
        <small>{{ step + 1 }} / {{ totalSteps }}</small>
      </div>
    </div>
  </pa-modal-footer>
</pa-modal-advanced>
