@import 'variables';

.kb-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  padding: rhythm(2) rhythm(4);
  position: relative;

  h1 {
    margin-bottom: rhythm(5);
  }

  h2 {
    margin-bottom: rhythm(1);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
    justify-content: space-between;

    .form-field {
      display: flex;

      label {
        width: 25%;
      }
      div {
        flex: 1 0 auto;
      }
    }
  }

  pa-radio-group {
    display: block;
    margin-bottom: rhythm(2);

    pa-radio {
      display: block;
      margin-bottom: rhythm(1);
    }
  }

  .kb-add-separator {
    border-bottom: 1px solid var(--stf-gray-lighter-2);
    margin: rhythm(4) 0;
  }

  &-field-name {
    margin-top: 12px;
    font-weight: var(--stf-font-weight-semibold);
  }

  &-zone {
    margin-top: 40px;
    &-select {
      min-width: 305px;
    }
  }

  .steps {
    color: $color-neutral-regular;
    margin-top: rhythm(1);
    text-align: center;
  }

  .error {
    background-color: $color-secondary-regular;
    text-align: center;
    padding: rhythm(1);
  }

  .footer-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: rhythm(2);
    margin-top: rhythm(3);
  }

  .saving-spinner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: rhythm(2);
  }
}
