<div class="setup-loader">
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
  <div class="setup-loader-item"></div>
</div>
