<app-node-box
  [state]="state()"
  [nodeTitle]="'retrieval-agents.workflow.node-types.validation.title' | translate"
  [origin]="origin()"
  (outputClick)="onOutputClick($event)"
  (trashClick)="onTrashClick()">
  <!-- So far there is no prompt on the backend model for validation. Waiting for Ramon’s confirmation it's in purpose -->
  <!-- <app-config-block [config]="validationConfig()"></app-config-block> -->
  <app-connectable-entry
    id="then"
    category="postprocess"
    [nodeId]="id">
    {{ 'retrieval-agents.workflow.connectable-entry.then' | translate }}
  </app-connectable-entry>
  <app-connectable-entry
    id="else"
    category="postprocess"
    [nodeId]="id">
    {{ 'retrieval-agents.workflow.connectable-entry.else' | translate }}
  </app-connectable-entry>
</app-node-box>
