<app-node-box
  [state]="state()"
  [nodeTitle]="'retrieval-agents.workflow.node-types.validation.title' | translate"
  [origin]="origin()"
  (outputClick)="onOutputClick($event)"
  (trashClick)="onTrashClick()">
  <app-config-block [config]="validationConfig()"></app-config-block>
  <app-connectable-entry
    id="then"
    type="postprocess">
    {{ 'retrieval-agents.workflow.connectable-entry.then' | translate }}
  </app-connectable-entry>
  <app-connectable-entry
    id="else"
    type="postprocess">
    {{ 'retrieval-agents.workflow.connectable-entry.else' | translate }}
  </app-connectable-entry>
</app-node-box>
