@import 'apps/dashboard/src/variables';

.subscriptions {
  border-collapse: separate;
  border-spacing: rhythm(1.5) 0;
  white-space: nowrap;

  th {
    padding: rhythm(2);
  }

  td {
    padding: rhythm(1) rhythm(2);
    vertical-align: top;
  }

  tr:not(:last-child) td {
    position: relative;
    &::after {
      border-bottom: 1px solid $color-neutral-lighter;
      bottom: 0;
      content: '';
      left: rhythm(2);
      position: absolute;
      right: rhythm(2);
    }
  }

  th:not(:first-child):not(:nth-child(2)),
  td:not(:nth-child(2)) {
    background-color: $color-light-stronger;
  }

  .section-header td {
    font-weight: $font-weight-bold;
    height: rhythm(8);
    vertical-align: bottom;
  }

  .plan {
    vertical-align: top;
    width: rhythm(24);
  }

  .plan-name {
    font-size: $font-size-title-l;
    margin-bottom: rhythm(1);
  }

  .price {
    color: $color-primary-regular;
    font-size: $font-size-title-l;
    margin-bottom: rhythm(2);
  }

  .unit {
    color: $color-neutral-regular;
    font-size: $font-size-body-s;
    font-weight: $font-weight-regular;
  }

  .subscribed {
    color: $color-primary-regular;
  }
}

.notes {
  border-bottom: 1px solid $color-neutral-lighter;
  color: $color-neutral-regular;
  margin: rhythm(6) 0;
  padding-bottom: rhythm(2);
  .on-premise {
    margin-left: rhythm(2);
  }
}
