<h2>{{ 'billing.subscription.title' | translate }}</h2>

<div
  class="field-block"
  *ngIf="!currency">
  <label
    class="title-s"
    for="country">
    {{ 'billing.subscription.country' | translate }}
  </label>
  <pa-typeahead-select
    externalLabel
    id="country"
    (valueChange)="onSelectCountry($event)">
    <pa-option
      *ngFor="let country of countryList"
      [value]="country.code">
      {{ country.name }}
    </pa-option>
  </pa-typeahead-select>
</div>
<div *ngIf="currency">
  <div class="header">
    <p class="body-m">{{ 'billing.subscription.help' | translate }}</p>
    <pa-button
      (click)="openFeatures()"
      kind="secondary"
      aspect="basic">
      {{ 'billing.subscription.show-features' | translate }}
    </pa-button>
  </div>
  <table class="subscriptions">
    <tr>
      <th>{{ 'billing.quotas' | translate }}</th>
      <th class="plan">
        <div class="plan-name">{{ 'billing.trial.title' | translate }}</div>
        <div class="price">{{ 'billing.free' | translate }}</div>
      </th>
      <th class="plan">
        <div class="plan-name">Starter/Developer</div>
        <div class="price">
          {{ (prices | async)?.['stash-developer'].recurring.month.price | currency: currency}}
          <span class="unit">/{{ 'billing.month' | translate }}</span>
        </div>
        <pa-button
          *ngIf="(accountType | async) === 'stash-basic' || (accountType | async) === 'stash-trial'"
          kind="primary"
          routerLink="../checkout"
          [queryParams]="{ type: 'stash-developer' }">
          {{ 'billing.upgrade' | translate }}
        </pa-button>
      </th>
      <th class="plan">
        <div class="plan-name">Business</div>
        <div class="price">
          {{ (prices | async)?.['stash-business'].recurring.month.price | currency: currency}}
          <span class="unit">/{{ 'billing.month' | translate }}</span>
        </div>
        <pa-button
          *ngIf="
            (accountType | async) === 'stash-basic' ||
            (accountType | async) === 'stash-trial' ||
            (accountType | async) === 'stash-developer'
          "
          kind="primary"
          routerLink="../checkout"
          [queryParams]="{ type: 'stash-business' }">
          {{ 'billing.upgrade' | translate }}
        </pa-button>
      </th>
      <th class="plan">
        <div class="plan-name">Enterprise</div>
        <div class="price">
          <span class="unit">{{ 'billing.enterprise_ready' | translate }}</span>
        </div>
        <pa-button
          kind="primary"
          (click)="contact()">
          {{ 'billing.contact' | translate }}
        </pa-button>
      </th>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.kbs' | translate }}</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>-</td>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.files' | translate }}</td>
      <td>
        <div>70</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 5Mb</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-developer'].usage['files'].threshold | number}}</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 5Mb</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-business'].usage['files'].threshold | number}}</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 1.5Gb</div>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.medias' | translate }}</td>
      <td>
        <div>1 hour</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 600Mb</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-developer'].usage['media'].threshold }} {{ 'hours' | translate }}</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 600Mb</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-business'].usage['media'].threshold}} {{ 'hours' | translate }}</div>
        <div class="unit">{{ 'billing.quotas.up-to' | translate }} 1.5Gb</div>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.searches' | translate }}</td>
      <td>
        <div>{{ 1000 | number }}</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-developer'].usage['searches'].threshold | number}}</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-business'].usage['searches'].threshold | number }}</div>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.answers' | translate }}</td>
      <td>
        <div>30</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-developer'].usage['qa'].threshold | number}}</div>
      </td>
      <td>
        <div>{{(prices | async)?.['stash-business'].usage['qa'].threshold | number }}</div>
      </td>
      <td>-</td>
    </tr>
    <tr>
      <td>{{ 'billing.quotas.training' | translate }}</td>
      <td>
        <div>–</div>
      </td>
      <td>
        <div>
          {{(prices | async)?.['stash-developer'].usage['training-hours'].threshold | number}} {{ 'hours' | translate }}
        </div>
      </td>
      <td>
        <div>
          {{(prices | async)?.['stash-business'].usage['training-hours'].threshold | number }} {{ 'hours' | translate }}
        </div>
      </td>
      <td>-</td>
    </tr>
  </table>

  <div>
    <div class="title-s">{{ 'billing.cost_per_usage' | translate }}</div>
    <div class="body-s">
      {{ 'billing.cost_per_usage.description' | translate }}
    </div>
    <div class="calculator">
      <pa-button
        *ngIf="isCalculatorEnabled | async"
        (click)="openCalculator()"
        icon="settings"
        iconAndText>
        {{ 'billing.estimate_cost' | translate }}
      </pa-button>
    </div>
  </div>
</div>
