@import 'variables';

.knowledge-box-processes {
  width: 770px;
  max-width: 100%;
  padding: rhythm(6) rhythm(12);

  section {
    padding: rythm(4) 0;
  }
}

h2 {
  margin: 0;
  font-weight: var(--stf-font-weight-bold);
}

.history {
  margin-top: rhythm(2);
}

.last-run {
  color: $gray-light;
  font-style: italic;
  margin-top: 0;
}

.select {
  margin-bottom: rhythm(2);
  display: flex;
  align-items: center;
  gap: rhythm(2);
}

.selection {
  font-style: italic;
}

.warning {
  color: var(--stf-orange);
}

.running {
  color: $gray-light;
}

.cta-container {
  align-items: center;
  display: flex;
  margin-top: rythm(2);

  .active-training {
    margin-left: rythm(1.5);
  }
}
