@import 'variables';

.knowledge-box-processes {
  width: 770px;
  max-width: 100%;
  margin: rythm(2.5) 0 rythm(6) 0;

  section {
    padding: rythm(4) 0;
  }
}

h2 {
  margin: 0;
  font-weight: var(--stf-font-weight-bold);
}

.last-run {
  color: $gray-light;
  font-style: italic;
  margin-top: 0;
}

.labelset-selection {
  margin-bottom: rhythm(2);
  display: flex;
  align-items: center;
  gap: rhythm(2);
}

.labelset-selection-button {
  ::ng-deep {
    .pa-button {
      min-width: rhythm(16) !important;
    }
    .pa-button-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.selection {
  font-style: italic;
}

.warning {
  color: var(--stf-orange);
}

.running {
  color: $gray-light;
}

.cta-container {
  align-items: center;
  display: flex;
  margin-top: rythm(2);

  .active-training {
    margin-left: rythm(1.5);
  }
}
