@import 'variables';

.edit-widget {
  margin: rhythm(4) 0 rhythm(10) 0;

  section {
    padding: rhythm(6) 0 rhythm(7) 0;
  }

  h2 {
    margin: 0 0 rhythm(4) 0;
    font-weight: var(--stf-font-weight-bold);
    span {
      font-weight: var(--stf-font-weight-light);
      padding-left: rhythm(3);
    }
  }

  .one-col {
    background-color: $color-light-stronger;
    padding: rhythm(3);
    margin-bottom: rhythm(3);
    & > div {
      margin-bottom: rhythm(3);
      display: flex;
    }
  }
  .label {
    font-size: size(xxl);
    font-weight: var(--stf-font-weight-light);
    line-height: rhythm(6);
  }
  .two-cols {
    display: flex;
    & > div:first-child {
      width: 333px;
      flex: 0 0 auto;
    }
    .options {
      background-color: $color-light-stronger;
      margin-right: rhythm(3);
    }
    .snippet {
      background-color: $color-light-stronger;
      flex: 1 1 auto;
      min-width: 0;
    }
  }
}
pre {
  overflow-x: scroll;
}
.snippet .label {
  align-items: center;
  border-bottom: 1px solid var(--stf-gray-lighter-3);
  display: flex;
  justify-content: space-between;
  padding: 0 rhythm(2);
  position: relative;
  height: rhythm(6);
  line-height: rhythm(2);
}

.tabs {
  display: flex;
  & > div {
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: var(--stf-gray-lighter-3);
    &.selected {
      background-color: transparent;
    }
  }
}
.tab-content {
  padding: rhythm(3);
  .label {
    font-size: size(l);
    width: 50%;
    display: inline-block;
  }

  > * {
    display: block;
    margin-bottom: rhythm(2);
  }

  pa-toggle {
    display: block;
    margin-bottom: rhythm(1);
  }
}
.buttons {
  padding: rhythm(3) 0;
  display: flex;
  gap: rhythm(3);
}
