@import 'variables';

.edit-widget {
  width: 770px;
  max-width: 100%;
  margin: rhythm(4) 0 rhythm(10) 0;

  section {
    padding: rhythm(6) 0 rhythm(7) 0;
  }

  h2 {
    margin: 0 0 rhythm(4) 0;
    font-weight: var(--stf-font-weight-bold);
    span {
      font-weight: var(--stf-font-weight-light);
      padding-left: 20px;
    }
  }

  .one-col {
    background-color: $color-light-stronger;
    padding: rhythm(3);
    margin-bottom: rhythm(3);
    & > div {
      margin-bottom: rhythm(3);
      display: flex;
      & > div {
        width: 333px;
      }
    }
  }
  .label {
    font-size: size(xxl);
    font-weight: var(--stf-font-weight-light);
    line-height: rhythm(6);
  }
  .two-cols {
    display: flex;
    & > div:first-child {
      width: 333px;
    }
    .options {
      background-color: $color-light-stronger;
      margin-right: rhythm(3);
    }
    .snippet {
      background-color: $color-light-stronger;
      width: calc(100% - 355px);
    }
  }
}
pre {
  overflow-x: scroll;
}
.snippet .label {
  align-items: center;
  border-bottom: 1px solid var(--stf-gray-lighter-3);
  display: flex;
  justify-content: space-between;
  padding-left: rhythm(2);
  position: relative;
}

.tabs {
  display: flex;
  & > div {
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: var(--stf-gray-lighter-3);
    &.selected {
      background-color: transparent;
    }
  }
}
.tab-content {
  padding: rhythm(3);
  .label {
    font-size: size(l);
    width: 50%;
    display: inline-block;
  }
}
.buttons {
  padding: rhythm(3) 0;
  display: flex;
  gap: rhythm(3);
}
