@import 'variables';

.knowledge-box-home {
  padding: 4.5vw var(--app-layout-margin-right);

  h2 {
    font-size: var(--stf-font-size-xxlarge);
    font-weight: var(--stf-font-weight-light);
  }

  .left-column {
    width: 371px;
  }

  .container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    @media (min-width: 1600px) {
      padding: 25px 30px;
    }
  }
  .chart-container {
    padding-bottom: 40px;
  }

  .search-stats {
    margin-bottom: 30px;

    &-header {
      margin-bottom: 36px;
      line-height: 1;
    }

    h2 {
      margin: 0 0 0 10px;
    }

    &-count {
      font-size: 30px;
      font-weight: var(--stf-font-weight-bold);
    }
  }

  .processing-stats {
    h2 {
      margin: 0 0 25px 0;
    }
  }

  .resource-stats {
    min-height: 387px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 4px;
    h2 {
      margin: 0;
    }
    dl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 12px 0;
      font-size: var(--stf-font-size-xxlarge);
      dt {
        font-weight: var(--stf-font-weight-light);
      }
      dd {
        font-weight: var(--stf-font-weight-bold);
      }
    }
  }

  .get-started {
    padding-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    h2 {
      display: inline-block;
      margin: 0 58px 0 0;
      span {
        font-weight: var(--stf-font-weight-regular);
        margin-right: 8px;
      }
    }
    .endpoint {
      display: inline-block;
      margin-top: 8px;
      font-family: var(--stf-font-family-monospace);
      font-size: 14px;
      white-space: nowrap;
    }
  }
}

.total-resources {
  font-size: rythm(3.5);
  margin-bottom: rythm(2.5);
}

.switch-action {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  a {
    color: var(--stf-black);
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-weight: var(--stf-font-weight-light);
  }
  span {
    flex-grow: 1;
    line-height: 24px;
    ::ng-deep strong {
      font-weight: var(--stf-font-weight-semibold);
    }
  }
  svg-icon ::ng-deep svg {
    width: 24px;
    height: 24px;
  }
}

.state-container {
  display: flex;
  align-items: center;
  & > div {
    font-size: var(--stf-font-size-xxlarge);
    font-weight: var(--stf-font-weight-light);
    flex-grow: 1;
  }
}
.state {
  padding: 0 rythm(2) 0 rythm(0.5);
  font-weight: var(--stf-font-weight-semibold);
}
