@import 'libs/sistema/theme/fonts';
@import 'libs/pastanaga-angular/projects/pastanaga-angular/src/styles/core';

/* You can add global styles to this file, and also import other style files */
@import 'libs/pastanaga/src/lib/styles/once-light';

@include main-layout();

.sidebar-toggle {
    color: var(--stf-white);
    border: 0;
    background-color: transparent;
}

.action_button {
    color: var(--stf-gray-light);
    border: 0;
    background-color: transparent;
}

.breadcrumb {
    color: var(--stf-gray-light);
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumb-element {
    color: var(--stf-white);
}

.accent {
  background-color: var(--stf-blue);
  color: var(--stf-white);
}


.alert {
    background: rgba(255,0,0,0.9);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.user-background {
    background-image: url('./assets/images/background_manager.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

