@use 'apps/dashboard/src/variables' as *;
.budget-input {
  align-items: center;
  color: $color-neutral-regular;
  display: flex;
  gap: rhythm(1);
}
pa-input {
  width: rhythm(14);
}
.action {
  margin-top: rhythm(2);
}
