<div class="usage-container">
  <app-usage-table [usage]="usage | async"></app-usage-table>

  <div class="budget-form">
    <div>
      <h2>{{ 'billing.budget' | translate }}</h2>
      <div [innerHTML]="'billing.budget_description' | translate"></div>
    </div>
    @if (usage | async; as usage) {
      <app-budget
        [currency]="usage.currency"
        (budgetChange)="budget = $event"></app-budget>
      <div class="submit">
        <pa-button
          kind="primary"
          [disabled]="!budget"
          (click)="modifyBudget()">
          {{ 'generic.save' | translate }}
        </pa-button>
      </div>
    }
  </div>
</div>
