@import 'apps/dashboard/src/variables';

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: rhythm(4);
  h2 {
    margin: 0;
  }
  .total {
    color: $color-primary-regular;
  }
}

.cost {
  font-weight: $font-weight-bold;
  text-align: right;
  width: 100%;
}

// pa-table hacks
:host ::ng-deep .pa-table-grid--cell {
  background-color: transparent;
  font-size: $font-size-body-s;
  line-height: $line-height-body-s;
  min-height: rhythm(5);
}
:host ::ng-deep .pa-table-grid--head .pa-table-grid--header {
  background-color: transparent;
  font-size: $font-size-body-xs;
  line-height: $line-height-body-xs;
}
