<ng-container *ngIf="usage">
  <header>
    <div>
      <h2>{{ 'billing.usage.title' | translate }}</h2>
      <div>
        {{
          'billing.usage.interval'
            | translate
              : { from: usage.start_billing_date | date: 'YYYY-MM-dd', to: usage.end_billing_date | date: 'YYYY-MM-dd' }
        }}
      </div>
    </div>

    <div class="total title-l">
      {{ total | currency: usage.currency }}
    </div>
  </header>

  <pa-table columns="300px auto auto auto auto">
    <pa-table-header>
      <pa-table-cell header>{{ 'billing.usage.consumables' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'billing.usage.tier_included' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'billing.usage.consumption' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'billing.usage.over_consume' | translate }}</pa-table-cell>
      <pa-table-cell header>
        <div class="cost">{{ 'billing.usage.over_cost' | translate }}</div>
      </pa-table-cell>
    </pa-table-header>
    <pa-table-row *ngFor="let item of invoiceItems">
      <pa-table-cell>{{ 'billing.parameter.' + item[0] | translate }}</pa-table-cell>
      <pa-table-cell>{{ item[1].threshold | number }}</pa-table-cell>
      <pa-table-cell>{{ item[1].current_usage | number }}</pa-table-cell>
      <pa-table-cell>{{ item[1].over_usage | number }}</pa-table-cell>
      <pa-table-cell>
        <div class="cost">{{ item[1].over_cost | currency: usage.currency }}</div>
      </pa-table-cell>
    </pa-table-row>
  </pa-table>
</ng-container>
