<div class="usage-container">
  <app-usage-table [usage]="usage | async"></app-usage-table>

  <div class="budget-form">
    <div>
      <h2>{{ 'billing.budget' | translate }}</h2>
      <div [innerHTML]="'billing.budget_description' | translate"></div>
    </div>
    <div class="budget-input">
      <pa-input
        type="number"
        externalLabel
        [formControl]="budget"></pa-input>
      <span class="title-m">
        {{ (usage | async)?.currency === 'USD' ? '$' : '€' }}
      </span>
    </div>
    <pa-button
      kind="primary"
      [disabled]="budget.pristine || budget.invalid"
      (click)="saveBudget()">
      {{ 'generic.save' | translate }}
    </pa-button>
  </div>
</div>
