@import 'variables';

.usage-container {
  max-width: calc(rhythm(90) + rhythm(6));
}

.budget-form {
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
  margin-top: rhythm(6);

  h2 {
    margin: 0;
  }

  .budget-input {
    align-items: center;
    display: flex;
    gap: rhythm(1);
    pa-input {
      display: block;
      width: rhythm(14);
    }
  }
}
