@use 'apps/dashboard/src/variables' as *;

.container {
  max-width: calc(rhythm(90) + rhythm(6));
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: rhythm(4);
  h2 {
    margin: 0 0 rhythm(0.5) 0;
  }
  .total {
    color: $color-primary-regular;
  }
}

.cost {
  font-weight: $font-weight-bold;
  text-align: right;
  width: 100%;
}

// pa-table hacks
:host ::ng-deep .pa-table-grid--cell {
  font-size: $font-size-body-m;
  line-height: $line-height-body-m;
}
:host ::ng-deep .pa-table-grid--head .pa-table-grid--header {
  font-size: $font-size-body-xs;
  line-height: $line-height-body-xs;
}

.notes {
  color: $color-neutral-regular;
  margin-top: rhythm(2);
}
