@use 'apps/dashboard/src/variables' as *;

.usage-container {
  max-width: calc(rhythm(90) + rhythm(6));
}

.budget-form {
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
  margin-top: rhythm(6);

  h2 {
    margin: 0;
  }
}
