@import 'variables';

stf-section-navbar-body {
  margin-top: 70px;
  display: block;
  ::ng-deep {
    form > div {
      display: flex;
      & > :first-child {
        width: 160px;
      }
      & > :last-child {
        padding-left: rythm(1);
        width: 100%;
      }
      label {
        font-weight: bold;
        line-height: 54px;
      }
      .form-buttons {
        margin-top: rythm(2);
        :first-child {
          margin-right: rythm(1);
        }
      }
      app-label-field {
        margin-top: rythm(1.5);
        display: block;
      }
    }
  }
}

stf-section-navbar-header {
  ::ng-deep {
    a {
      position: absolute;
      top: rythm(1.5);
      color: var(--stf-black);
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      font-size: size(xxl);
      font-weight: bold;
      margin: 0 0 rythm(1) 0;
    }
    h3 {
      margin: 0 0 rythm(2) 0;
      overflow-wrap: break-word;
    }
  }
}
