<div class="plans">
  <h2>{{ 'billing.plans_available' | translate }}</h2>

  <div class="container">
    <div class="parameters">
      <div class="parameters-header">
        <div><strong>{{ 'billing.monthly_consumibles' | translate }}</strong></div>
        <div>{{ 'billing.automatically_renewed' | translate }}</div>
      </div>
      <div>
        <div *ngFor="let group of parameters"
             class="parameter-group">
          <div *ngFor="let param of group"
                class="parameter">
            {{ 'billing.parameter.' + param | translate }}
          </div>
        </div>
      </div>
    </div>
  
    <div class="plan plan-teams">
      <div class="plan-header-teams">
        <h2 class="plan-title-teams">
          <span>{{ 'billing.upgrade_to' | translate }} <strong>{{ 'billing.teams_account' | translate }}</strong></span>
        </h2>
        <div class="switch">
          <button [class.active]="mode === 'monthly'"
                  (click)="toggleMode()">
            {{ 'billing.monthly' | translate }}
          </button>
          <button [class.active]="mode === 'annual'"
                  (click)="toggleMode()">
            {{ 'billing.annual' | translate }}
          </button>
        </div>
        <div class="total">
          {{ mode === 'monthly' ? teamPlan.monthly : teamPlan.annual }}€
        </div>
      </div>
      <div>
        <div *ngFor="let group of parameters"
             class="parameter-group">
          <div *ngFor="let param of group"
                class="parameter-value parameter-value-teams">
            <span *ngIf="teamPlan.parameters[param] as param">
              <span *ngIf="param.value !== 'True'">
                {{ param.value }}
              </span>
              <svg-icon *ngIf="param.value === 'True'"
                        src="assets/icons/check.svg"></svg-icon>
            </span>
            <span *ngIf="!teamPlan.parameters[param]">-</span>
            <span class="overspend">{{ teamPlan.parameters[param] && teamPlan.parameters[param].overspend || '' }}</span>
          </div>
        </div>
      </div>
      <pa-button kind="primary"
                 (click)="upgrade()">
        {{'billing.upgrade' | translate}}
      </pa-button>
    </div>

    <div class="plan plan-basic">
      <div class="plan-header-basic">
        <h2>{{ 'billing.free_account' | translate }}</h2>
        <div class="total">{{ basicPlan.monthly }}€</div>
      </div>
      <div>
        <div *ngFor="let group of parameters"
             class="parameter-group">
          <div *ngFor="let param of group"
               class="parameter-value">
            <span>{{ basicPlan.parameters[param] && basicPlan.parameters[param].value || '-' }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
