@import 'variables';

.client-dialog {
  position: relative;
  padding: 16px 35px;

  h1 {
    margin: 0 0 42px 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  h2 {
    margin: 0 0 6px 0;
    font-weight: var(--stf-font-weight-bold);
  }

  label {
    margin-top: 12px;
    font-weight: var(--stf-font-weight-semibold);
  }

  .info {
    color: $color-neutral-regular;
    margin-left: rhythm(1);
    vertical-align: text-bottom;
  }

  .zone {
    width: 90%;
    &-select {
      min-width: 305px;
    }
  }
  .hint {
    margin-top: rythm(0.5);
  }
}
