@import 'variables';

.container {
  display: flex;
}
.connectors-list {
  display: flex;
  flex-wrap: wrap;
  padding: rhythm(1);
  margin-bottom: rhythm(8);
}

form {
  width: 100%;
}

.field {
  margin-bottom: rhythm(2);
}

.select-field-container {
  display: flex;
  margin-bottom: $margin-bottom-field;

  pa-select {
    flex: 1 0 auto;
  }
  pa-button {
    margin-left: rhythm(2);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: rhythm(5);

  pa-button {
    margin: 0 rhythm(1);
  }
}
