<div class="connectors-list"
     *ngIf="!fields">
  <nde-connector *ngFor="let connector of connectors"
                 [title]="connector.title"
                 [logo]="connector.logo"
                 [description]="connector.description"
                 (click)="onSelectConnector(connector.id)"></nde-connector>
</div>
<form *ngIf="!!fields && !!form"
      [formGroup]="form"
      qa="fields-form"
      (ngSubmit)="validate()">
  <div *ngFor="let field of fields"
       class="field">
    <pa-input *ngIf="field.type === 'text'"
              [formControlName]="field.id">{{ field.label }}</pa-input>

    <pa-select *ngIf="field.type === 'select'"
               [formControlName]="field.id"
               [label]="field.label">
      <pa-option *ngFor="let option of field.options"
                 [disabled]="option.disabled"
                 [value]="option.value">{{ option.label }}</pa-option>
    </pa-select>
    <nde-folder-upload *ngIf="field.type === 'folder'"
                       [formControlName]="field.id"></nde-folder-upload>
  </div>

  <div class="buttons">
    <pa-button qa="cancel"
               kind="inverted"
               (click)="cancel.next()">{{ 'generic.cancel' | translate }}</pa-button>
    <pa-button *ngIf="!!fields && !!form"
               qa="validate"
               type="submit"
               kind="primary"
               [disabled]="form.invalid || form.pristine">
      {{ (type === 'sources' ? 'generic.next' : 'Upload') | translate }}
    </pa-button>
  </div>
</form>
