@import 'variables';

.service-access-container {
  h3 {
    margin: 0 0 rhythm(0.5) 0;
    font-size: var(--stf-font-size-medium);
    font-weight: var(--stf-font-weight-semibold);
  }

  form {
    max-width: 1000px;
    padding: rhythm(1) rhythm(2) rhythm(2);
    margin-bottom: rhythm(2);
    background-color: $color-light-stronger;
  }

  input {
    width: 250px;
    margin-right: rhythm(2);
  }

  select {
    margin-right: rhythm(2);
  }

  .container {
    max-width: 1000px;
    padding: rhythm(2) rhythm(2) rhythm(3);
    background-color: $color-light-stronger;
  }

  .service-access-list {
    border-top: 1px solid $color-dark-stronger;
  }

  .service-access {
    border-bottom: 1px solid $color-neutral-light;

    .service-access-header {
      min-height: rhythm(4);
    }

    .service-access-title {
      button {
        @include reset-button();
        cursor: pointer;
        &[disabled] {
          cursor: default;
        }
        text-align: left;
      }
      .service-access-title-arrow {
        transition: transform $transition-response;
        &.expanded {
          transform: rotate(90deg);
        }
      }
    }

    .service-access-actions {
      display: flex;
      gap: rhythm(1);
    }

    .service-access-keys {
      padding: 0 0 rhythm(1.5) rhythm(2);
    }
    .service-access-key {
      height: rhythm(3);
      font-size: var(--stf-font-size-ssmall);
      width: 100%;

      .service-access-key-actions {
        text-align: right;
      }
    }

    .delete-key {
      margin-right: rhythm(0.25);
    }
  }
}
