@use 'apps/dashboard/src/variables' as *;

h3 {
  margin-bottom: rhythm(2);
}

.add-user {
  align-items: center;
  display: flex;
  gap: rhythm(3);
  margin-bottom: rhythm(7);

  pa-input {
    width: rhythm(48);
  }
}

.users-list-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rhythm(1.5);
}

.actions {
  text-align: right;
  width: 100%;
}

.email-container {
  align-items: center;
  display: flex;
  gap: rhythm(1);
  justify-content: space-between;
  width: 100%;
  pa-icon {
    color: $color-secondary-strong;
  }
}
