<div
  class="mb-28"
  *ngIf="account | async as account">
  <div class="users-amount">
    {{ 'account.users_amount' | translate }}
    <strong>{{ account.current_users }}</strong>
  </div>
  <div
    class="users-left"
    *ngIf="account.max_users != null">
    {{ 'account.users_left' | translate }}
    <strong>{{ account.max_users - account.current_users }}</strong>
  </div>
</div>

<ng-container *ngIf="kb && (isAccountManager | async)">
  <div
    class="add-user"
    *ngIf="canAddUsers | async">
    <form
      (ngSubmit)="addUser()"
      [formGroup]="addForm">
      <pa-input
        type="email"
        formControlName="email">
        {{ 'accounts.add_user_input' | translate }}
      </pa-input>
      <pa-select
        formControlName="role"
        label="{{ 'generic.role' | translate }}">
        <pa-option
          *ngFor="let role of initialRoles"
          [value]="role">
          {{ roleTitles[role] | translate }}
        </pa-option>
      </pa-select>

      <pa-button
        type="submit"
        size="small"
        kind="secondary"
        [disabled]="addForm.invalid">
        {{ 'account.add_user' | translate }}
      </pa-button>
    </form>
  </div>
</ng-container>

<table
  cdk-table
  [dataSource]="(usersKb | async) || []"
  class="user-table">
  <ng-container cdkColumnDef="name">
    <th
      cdk-header-cell
      *cdkHeaderCellDef>
      {{ 'generic.user' | translate }}
    </th>
    <td
      cdk-cell
      *cdkCellDef="let user">
      {{ user.name }} – {{ user.email }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="role">
    <th
      cdk-header-cell
      *cdkHeaderCellDef>
      {{ 'stash.users.role' | translate }}
    </th>
    <td
      cdk-cell
      *cdkCellDef="let user">
      <pa-select
        (valueChange)="changeRole(user.id, $event)"
        [value]="user.role"
        [disabled]="
          (isAccountManager | async) === false || (user.role === 'SOWNER' && (hasSeveralOwners | async) === false)
        "
        dim>
        <pa-option
          *ngFor="let role of roles"
          [value]="role">
          {{ roleTitles[role] | translate }}
        </pa-option>
      </pa-select>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="actions">
    <th
      cdk-header-cell
      *cdkHeaderCellDef></th>
    <td
      cdk-cell
      *cdkCellDef="let user">
      <pa-button
        *ngIf="(isAccountManager | async) === true"
        aspect="basic"
        icon="trash"
        size="small"
        [disabled]="
          (usersKb | async)?.length || 0 < 2 || (user.role === 'SOWNER' && (hasSeveralOwners | async) === false)
        "
        (click)="deleteUser(user)">
        {{ 'generic.delete' | translate }}
      </pa-button>
    </td>
  </ng-container>

  <tr
    cdk-header-row
    *cdkHeaderRowDef="columns"></tr>
  <tr
    cdk-row
    *cdkRowDef="let row; columns: columns"></tr>
</table>
