<ng-container *ngIf="(isAccountManager | async) && (canAddUsers | async)">
  <h3>{{ 'stash.users.new_user' | translate }}</h3>
  <form
    class="add-user"
    (ngSubmit)="addUser()"
    [formGroup]="addForm">
    <pa-input
      type="email"
      formControlName="email">
      {{ 'accounts.add_user_input' | translate }}
    </pa-input>
    <pa-select
      formControlName="role"
      label="{{ 'generic.role' | translate }}"
      dim>
      <pa-option
        *ngFor="let role of initialRoles"
        [value]="role">
        {{ roleTitles[role] | translate }}
      </pa-option>
    </pa-select>
    <pa-button
      type="submit"
      kind="primary"
      size="large"
      [disabled]="addForm.invalid">
      {{ 'generic.add' | translate }}
    </pa-button>
  </form>
</ng-container>

<div class="users-list-header">
  <h3>{{ 'stash.users.users_list' | translate }}</h3>
  <div>
    <nsi-dropdown-button
      aspect="basic"
      [popupRef]="orderUsers"
      [open]="orderOpen">
      {{ 'stash.users.sort_by_' + (order | async) | translate }}
    </nsi-dropdown-button>
    <pa-dropdown
      #orderUsers
      (onClose)="orderOpen = false"
      (onOpen)="orderOpen = true">
      <pa-option
        value="role"
        (selectOption)="changeOrder('role')">
        {{ 'stash.users.sort_by_role' | translate }}
      </pa-option>
      <pa-option
        value="name"
        (selectOption)="changeOrder('name')">
        {{ 'stash.users.sort_by_name' | translate }}
      </pa-option>
    </pa-dropdown>
  </div>
</div>

<pa-table columns="1fr 1fr 1fr 1fr">
  <pa-table-header>
    <pa-table-cell header>
      <span class="title-xxs">{{ 'generic.name' | translate }}</span>
    </pa-table-cell>
    <pa-table-cell header>
      <span class="title-xxs">{{ 'generic.email' | translate }}</span>
    </pa-table-cell>
    <pa-table-cell header>
      <span class="title-xxs">{{ 'generic.role' | translate }}</span>
    </pa-table-cell>
    <pa-table-cell header></pa-table-cell>
  </pa-table-header>

  <pa-table-row *ngFor="let user of usersKb | async">
    <pa-table-cell>
      <span class="title-s">{{ user.name }}</span>
    </pa-table-cell>
    <pa-table-cell>
      <span class="body-s">{{ user.email }}</span>
    </pa-table-cell>
    <pa-table-cell>
      <nsi-dropdown-button
        size="small"
        aspect="basic"
        [popupRef]="roleDropdown"
        [disabled]="
          (isAccountManager | async) === false || (user.role === 'SOWNER' && (hasSeveralOwners | async) === false)
        ">
        {{ roleTitles[user.role] | translate }}
      </nsi-dropdown-button>
      <pa-dropdown #roleDropdown>
        <pa-option
          *ngFor="let role of roles"
          [value]="role"
          (selectOption)="changeRole(user.id, role)">
          {{ roleTitles[role] | translate }}
        </pa-option>
      </pa-dropdown>
    </pa-table-cell>
    <pa-table-cell>
      <div class="actions">
        <pa-button
          *ngIf="(isAccountManager | async) === true"
          aspect="basic"
          icon="trash"
          size="small"
          [disabled]="
            ((userCount | async) || 0) < 2 || (user.role === 'SOWNER' && (hasSeveralOwners | async) === false)
          "
          (click)="deleteUser(user)">
          {{ 'generic.delete' | translate }}
        </pa-button>
      </div>
    </pa-table-cell>
  </pa-table-row>
</pa-table>
