@import 'variables';

$column-header: 128px;

.plans {
  padding: 70px 0;
}

.check-icon {
  color: $color-primary-regular;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto;
  align-items: flex-start;
  max-width: 1020px;
}

.parameters {
  min-width: 260px;
  padding: rhythm(2);
  background-color: $color-light-stronger;
  @media (min-width: $size-viewport-xlarge-min) {
    padding: rhythm(3);
  }
}

.parameters-header {
  height: $column-header;
  line-height: 1.25;
}

.parameter-group {
  border-bottom: 1px solid $color-neutral-strong;
  &:last-child {
    border-bottom: 0;
  }
}

.parameter {
  height: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-neutral-lighter;
  &:last-child {
    border-bottom: 0;
  }
}

.plan {
  padding: rhythm(2);
  text-align: center;
  background-color: $color-light-stronger;
  @media (min-width: $size-viewport-xlarge-min) {
    padding: rhythm(3);
  }

  &.plan-teams {
    position: relative;
    top: -46px;
    border: 1px solid $color-primary-regular;
    border-radius: 15px;
  }
}

.plan-header-teams {
  height: calc($column-header + 46px);
}

.plan-header-basic {
  height: $column-header;
}

.plan-title-teams {
  font-size: var(--stf-font-size-title);
  font-weight: var(--stf-font-weight-light);
  line-height: 1;
}

.switch {
  display: inline-block;
  border-radius: 40px;
  background-color: $color-neutral-lightest;
  border: 4px solid transparent;
  button {
    @include reset-button();
    width: 100px;
    height: 26px;
    cursor: pointer;
    &.active {
      font-weight: var(--stf-font-weight-semibold);
      background-color: $color-light-stronger;
      border-radius: 24px;
    }
  }
}

.total {
  margin-top: rhythm(1);
  font-size: var(--stf-font-size-title);
  color: $color-primary-regular;
}

.parameter-value {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $color-neutral-lighter;
  &:last-child {
    border-bottom: 0;
  }
}

.parameter-value-teams {
  position: relative;
  justify-content: flex-start;

  font-weight: var(--stf-font-weight-semibold);
  @media (min-width: $size-viewport-xlarge-min) {
    justify-content: center;
  }
  .overspend {
    position: absolute;
    right: 0;
    font-size: var(--stf-font-size-ssmall);
    font-weight: var(--stf-font-weight-light);
    color: $color-neutral-strong;
  }
}

pa-button {
  margin-top: rhythm(2);
}
