@import '../../../variables';

.knowledge-box-profile {
  padding: rhythm(6) rhythm(12);

  h2 {
    margin: 0 0 rhythm(4) 0;
  }

  form > div {
    align-items: center;
    display: flex;
    margin-bottom: rhythm(2);

    label {
      width: rhythm(28);
    }

    pa-input,
    pa-textarea {
      width: rhythm(56);
    }
  }

  footer {
    margin-left: rhythm(28);
    margin-top: rhythm(7);
  }
}
