<div class="account-wrapper">
  <div
    class="account"
    gdGap="20px"
    gdColumns="300px 400px 400px"
    gdAreas="header  header  header | sidebar content content | footer  footer  footer">
    <div
      class="header"
      gdArea="header">
      <form [formGroup]="accountTitleForm">
        <h1>Account: {{ accountTitleForm.controls.id.value }}</h1>
      </form>
      <div
        class="actions"
        *ngIf="edit">
        <pa-button
          kind="primary"
          (click)="sendtoac3mt()">
          Start three months trial
        </pa-button>
        <div>
          {{ acmessage }}
        </div>
      </div>
    </div>

    <div gdArea="sidebar">
      <form [formGroup]="accountForm">
        <div class="section">
          <h3>Config</h3>
          <pa-input
            type="email"
            required
            formControlName="email"
            placeholder="bob@example.org">
            Email address
          </pa-input>
          <pa-select
            required
            label="Type"
            formControlName="type">
            <pa-option value="stash-basic">Basic</pa-option>
            <pa-option
              *ngIf="isRoot"
              value="stash-team">
              Teams
            </pa-option>
            <pa-option
              *ngIf="isRoot"
              value="stash-enterprise">
              Enterprise
            </pa-option>
            <pa-option
              *ngIf="isRoot"
              value="stash-business">
              Business
            </pa-option>
            <pa-option
              *ngIf="isRoot"
              value="stash-developer">
              Developer
            </pa-option>
            <pa-option
              *ngIf="isRoot"
              value="stash-startup">
              Startup
            </pa-option>
          </pa-select>
          <pa-input
            type="number"
            formControlName="kbs"
            placeholder="Knowledge boxes">
            Available Knowledge boxes
          </pa-input>
          <pa-input
            type="number"
            formControlName="indexer_slow_replicas"
            placeholder="Indexer slow replicas">
            Replicas indexer slow
          </pa-input>
          <pa-select
            required
            formControlName="zone"
            label="Zone">
            <pa-option
              *ngFor="let zone of zones"
              [value]="zone.id">
              {{ zone.title }}
            </pa-option>
          </pa-select>
        </div>

        <div
          class="section"
          *ngIf="edit">
          <h3>State</h3>
          <div>{{ currentState }}</div>

          <form
            class="blocked-features-form"
            [formGroup]="blockedFeaturesForm"
            (ngSubmit)="updateBlockedFeatures()">
            <div>
              <h5>Blocked features</h5>
              <pa-checkbox
                *ngFor="let feature of blockedFeaturesForm.controls | keyvalue"
                [formControlName]="feature.key"
                [value]="feature.value">
                {{ feature.key }}
              </pa-checkbox>
            </div>
            <pa-button
              type="submit"
              kind="primary"
              [disabled]="blockedFeaturesForm.pristine">
              Update blocked features
            </pa-button>
          </form>

          <h3>Info</h3>
          <pa-input
            formControlName="creator"
            placeholder="Creator">
            Creator
          </pa-input>
          <pa-input
            formControlName="url"
            placeholder="Url">
            Api URL
          </pa-input>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="end center">
          <pa-button
            kind="primary"
            (click)="save()">
            Save
          </pa-button>
        </div>
      </form>
    </div>

    <div
      *ngIf="edit"
      gdArea="content"
      style="position: relative">
      <pa-tabs notFullWidth>
        <pa-tab
          [active]="selectedTab === 'users'"
          (click)="onTabSelection('users')">
          Users
        </pa-tab>
        <pa-tab
          [active]="selectedTab === 'kbs'"
          (click)="onTabSelection('kbs')">
          Knowledge boxes
        </pa-tab>
        <pa-tab
          [active]="selectedTab === 'limits'"
          (click)="onTabSelection('limits')">
          Limits
        </pa-tab>
      </pa-tabs>

      <div
        *ngIf="selectedTab === 'users' && !!account?.id"
        fxLayout="column"
        fxLayoutAlign="start start"
        class="content_area">
        <h3>Account Users</h3>

        <div class="actual-user">
          <form [formGroup]="searchUserForm">
            <h4>Search and Add to Account</h4>
            <div
              class="search-user"
              fxLayout="row"
              fxLayoutAlign="space-between center">
              <pa-input formControlName="user">User</pa-input>
              <pa-button
                icon="search"
                aspect="basic"
                (click)="search()"></pa-button>
            </div>
            <div *ngIf="userSearchList.length === 0">No results</div>
            <div
              *ngFor="let user of userSearchList"
              class="users_list">
              <span class="user_desc">
                {{ user['id'] }} - {{ user['email'] }} - {{ user['name'] }} - {{ user['provider'] }}
              </span>
              <pa-button
                icon="plus"
                (click)="addSeachedUser(user['id'])"></pa-button>
            </div>
          </form>
        </div>

        <h4>Actual Account Users</h4>
        <ul>
          <li *ngFor="let user of account.users">
            <pa-button
              icon="trash"
              aspect="basic"
              kind="destructive"
              (click)="deleteUser(user.id)"></pa-button>
            <pa-button
              icon="edit"
              aspect="basic"
              [routerLink]="['/users/' + user.id]"></pa-button>
            <pa-button
              *ngIf="account.managers.indexOf(user.id) === -1"
              aspect="basic"
              icon="user"
              (click)="setAdminStashifyUser(user.id)"></pa-button>

            <pa-button
              *ngIf="account.managers.indexOf(user.id) >= 0"
              aspect="basic"
              icon="shield-check"
              (click)="delAdminStashifyUser(user.id)"></pa-button>

            <span>{{ user.name }} {{ user.email }}</span>
          </li>
        </ul>
      </div>

      <div
        *ngIf="selectedTab === 'kbs' && !!account && !!account.stashes"
        fxLayout="column"
        fxLayoutAlign="start start"
        class="content_area">
        <h3>Knowledge boxes {{ account.type }} max:{{ account.stashes.max_stashes }}</h3>

        <ul class="stash">
          <li *ngFor="let stash of account.stashes.items">
            {{ stash.slug }}
            <div class="body-s">
              {{ stash.title }} –
              <small>{{ stash.id }}</small>
              <ng-container *ngIf="kbResourceCount[stash.id] !== undefined">
                <br />
                {{ kbResourceCount[stash.id] }} resources
              </ng-container>
            </div>

            <pa-button
              aspect="basic"
              size="small"
              icon="edit"
              (click)="goToStash(stash.id)">
              Edit
            </pa-button>
          </li>
        </ul>

        <div class="new_stash">
          <h5>Create new KB</h5>
          <form [formGroup]="newStashForm">
            <pa-input formControlName="id">Id</pa-input>
            <pa-input formControlName="title">Title</pa-input>

            {{ stashmessage }}
            <pa-button
              style="margin-top: 16px"
              kind="primary"
              [disabled]="account.stashes.max_stashes <= account.stashes.items.length"
              (click)="newStash()">
              New
            </pa-button>
          </form>
        </div>
      </div>

      <div
        *ngIf="selectedTab === 'limits' && !!account"
        class="content_area limits">
        <form [formGroup]="limitsForm">
          <div class="section">
            <h3>Limits</h3>
            <div formGroupName="upload">
              <h4>Upload</h4>
              <pa-input
                type="number"
                required
                formControlName="upload_limit_max_media_file_size">
                Media file max size (bytes)
              </pa-input>

              <pa-input
                type="number"
                required
                formControlName="upload_limit_max_non_media_file_size">
                Non-media file max size (bytes)
              </pa-input>
            </div>
            <div formGroupName="processing">
              <h4>Processing</h4>
              <pa-input
                type="number"
                required
                help="Max number of processed characters monthly"
                formControlName="monthly_limit_chars_processed">
                Processed characters
              </pa-input>

              <pa-input
                type="number"
                required
                help="Media files max processing time monthly (seconds)"
                formControlName="monthly_limit_media_seconds_processed">
                Media processing time
              </pa-input>
              <pa-input
                type="number"
                required
                help="Non-media files max processing time monthly (seconds)"
                formControlName="monthly_limit_non_media_files_processed">
                Non-media processing time
              </pa-input>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="box"
      gdArea="footer"></div>
  </div>
</div>
