@import 'variables';

.entity {
  margin: 20px;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;

  textarea,
  input,
  mat-form-field {
    min-width: 250px;
  }
}
h3 {
  font-weight: 800;
}

.content_area .stash {
  min-width: 752px;
}
.new_stash {
  margin: 24px 0;
  padding-top: 16px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

form .section pa-input {
  display: block;
  margin-bottom: 24px;
}

.limits {
  width: 400px;
}

.actual-user {
  min-width: 300px;
}

.content_area {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      gap: 8px;
    }
  }

  ul.stash li {
    border-bottom: 1px solid $color-neutral-lighter;
    justify-content: space-between;

    .body-s {
      color: $color-neutral-regular;
      flex: 1 0 auto;
      text-align: right;
    }
  }
}

.users_list {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  .user_desc {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.account-wrapper {
  width: 100%;
  margin: 0 auto;
}
.account {
  height: auto;
  margin: 0 auto;
  width: 1100px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  overflow-x: hidden;
  mat-form-field {
    width: 100%;
  }
  .header {
    mat-form-field {
      width: 80%;
    }
  }
  .section {
    border: 1px dashed #ccc;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: 12px 0;

    h3 {
      margin: 0;
    }
  }
  .new-user {
    width: 100%;
  }
}

.blocked-features-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h5 {
    margin-bottom: 8px;
  }
}
