@import 'apps/dashboard/src/variables';

$dock-max-width: rhythm(7);
$padding-side: rhythm(12);
$width-configuration: rhythm(56);
.widget-generator {
  padding: rhythm(6) $padding-side;

  .warning {
    background: $color-secondary-regular;
    display: flex;
    gap: rhythm(1);
    margin-bottom: rhythm(4);
    padding: rhythm(1);

    .warning-content {
      display: flex;
      gap: rhythm(0.5);
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    gap: rhythm(2);
  }

  .snippet-configuration-container {
    display: flex;
    gap: rhythm(3);
    margin-top: rhythm(3);

    section {
      background: $color-neutral-lightest;
      border-radius: rhythm(0.5);
      padding: rhythm(2) rhythm(3);

      h3 {
        font-weight: $font-weight-body;
      }
    }

    section.snippet-configuration {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: rhythm(2);
      width: $width-configuration;

      .widget-features {
        display: flex;
        flex-direction: column;
        gap: rhythm(2);
      }
    }

    section.snippet {
      flex: 1 0 auto;
      max-width: calc(100vw - #{$width-configuration} - #{$padding-side}* 2 - #{rhythm(2)} - #{$dock-max-width});

      h3 {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      pre {
        margin: 0;
        word-break: break-all;
      }
    }
  }
}
