<app-setup-container>
  <div class="setup-step1">
    <app-setup-header [step]="step" [isSignup]="isSignup"></app-setup-header>

    <h2 class="setup-step1-title">{{ 'setup.set_password' | translate }}</h2>

    <form [formGroup]="passwordForm" (submit)="submit()" id="password-form">
      <div class="mb-8">
        <stf-input
          type="password"
          formControlName="password"
          theme="border"
          [validator]="passwordForm.controls['password']"
          [validation_messages]="validationMessages.password"
        >
          {{ 'login.password' | translate }}
        </stf-input>
      </div>
      <stf-input
        type="password"
        formControlName="passwordConfirm"
        theme="border"
        [validator]="passwordForm.controls['passwordConfirm']"
        [validation_messages]="validationMessages.passwordConfirm"
      >
        {{ 'generic.confirm_password' | translate }}
      </stf-input>
    </form>

    <div class="setup-step1-actions">
      <stf-button minWidth="175px" color="secondary" type="submit" form="password-form">
        {{ 'generic.next_step' | translate }}
      </stf-button>
    </div>
  </div>
</app-setup-container>
