@use 'apps/dashboard/src/variables' as *;

pa-modal-content {
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
}

h2 {
  margin: 0;
}

.button-container {
  text-align: center;
  width: 100%;
}
