@use 'apps/dashboard/src/variables' as *;
@use 'libs/common/src/lib/account/account';

.page-subtitle {
  margin: 0;
  text-align: center;
}

pa-modal-content {
  display: flex;
  flex-direction: column;
  gap: rhythm(4);
}

.price,
pa-datetime {
  color: $color-primary-regular;
}
