<pa-demo-page>
  <pa-demo-title>Table</pa-demo-title>

  <pa-demo-description>
    <pa-demo-common-table-description></pa-demo-common-table-description>
  </pa-demo-description>

  <pa-demo-examples>
    <div style="margin-bottom: 48px">
      <p>noHeader example:</p>
      <pa-table noHeader columns="repeat(3, 1fr)">
        <pa-table-row>
          <pa-table-cell>Cell 1</pa-table-cell>
          <pa-table-cell>Cell 2</pa-table-cell>
          <pa-table-cell>Cell 3</pa-table-cell>
        </pa-table-row>
        <pa-table-row>
          <pa-table-cell>Cell 1</pa-table-cell>
          <pa-table-cell>Cell 2</pa-table-cell>
          <pa-table-cell>Cell 3</pa-table-cell>
        </pa-table-row>
      </pa-table>
    </div>


    <p>Full example:</p>
    <pa-table
      columns="minmax(240px, 8fr) minmax(210px, 7fr) minmax(210px, 7fr) minmax(156px, 5fr) minmax(102px, 3fr) 60px">
      <pa-table-header>
        <pa-table-sortable-header-cell [active]="sorted" [isDescending]="isDescending" (sort)="sortBy()">Name
        </pa-table-sortable-header-cell>
        <pa-table-cell header>Tags</pa-table-cell>
        <pa-table-cell header>Shared with</pa-table-cell>
        <pa-table-cell header>Last updated</pa-table-cell>
        <pa-table-cell header>Size</pa-table-cell>
        <pa-table-cell-menu header></pa-table-cell-menu>
      </pa-table-header>
      <pa-table-row *ngFor="let item of [data[0],data[1],data[2]]" [class.pa-selected]="rowSelected === item.id"
                    (click)="clickRow(item.id)" clickable>
        <pa-table-cell header>{{item.name}}</pa-table-cell>
        <pa-table-cell>{{item.tags}}</pa-table-cell>
        <pa-table-cell>{{item.shared}}</pa-table-cell>
        <pa-table-cell>{{item.lastUpdate}}</pa-table-cell>
        <pa-table-cell>{{item.size}}</pa-table-cell>
        <pa-table-cell-menu>
          <pa-button icon="more-vertical" aspect="basic" size="small" (click)="openMenu($event)">Menu button</pa-button>
        </pa-table-cell-menu>
      </pa-table-row>
      <pa-table-row-header>{{subHeader}}</pa-table-row-header>
      <pa-table-row *ngFor="let item of [data[3],data[4],data[5]]" [class.pa-selected]="rowSelected === item.id"
                    (click)="clickRow(item.id)" clickable>
        <pa-table-cell header noWrap><span class="pa-ellipsis">{{item.name}}</span></pa-table-cell>
        <pa-table-cell>{{item.tags}}</pa-table-cell>
        <pa-table-cell>{{item.shared}}</pa-table-cell>
        <pa-table-cell>{{item.lastUpdate}}</pa-table-cell>
        <pa-table-cell>{{item.size}}</pa-table-cell>
        <pa-table-cell-menu>
          <pa-button icon="more-vertical" aspect="basic" size="small" (click)="openMenu($event)">Menu button</pa-button>
        </pa-table-cell-menu>
      </pa-table-row>
    </pa-table>
  </pa-demo-examples>

  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>columns</dt>
      <dd>Define the <code>grid-template-columns</code> CSS attribute value. <small>(optional, default is
        <code>auto</code>)</small></dd>

      <dt>noAutoColumnStyle</dt>
      <dd>By default, the table set <code>grid-template-columns: auto</code> when <code>columns</code> property is not
        filled.
        To prevent this behavior, set <code>noAutoColumnStyle</code> property on your table. <small>(optional, false by
          default)</small></dd>

      <dt>noHeader</dt>
      <dd>If true, table header is not displayed. <small>(optional)</small></dd>
    </dl>
  </pa-demo-usage>

  <pa-demo-code>
    <pre><code>{{ code }}</code></pre>
  </pa-demo-code>
</pa-demo-page>
