<div class="topbar">
  <button class="topbar-logo" (click)="goToHome()" tourAnchor="step1">
    <svg-icon src="assets/logos/logo-beta.svg" class="topbar-logo-expanded"></svg-icon>
    <svg-icon *ngIf="isStage" src="assets/icons/experimenting.svg" class="is-stage"></svg-icon>
    <svg-icon src="assets/logos/symbol.svg" class="topbar-logo-collapsed"></svg-icon>
  </button>

  <div class="search-widget">
    <ng-container *ngIf="searchEnabled | async">
      <span tourAnchor="step2">{{ 'searchbar.help' | translate }}</span>
      <div tourAnchor="step3" [innerHtml]="searchWidget | async"></div>
    </ng-container>
  </div>

  <a class="topbar-report" href="https://github.com/nuclia/support" rel="noopener noreferrer" target="_blank">
    <svg-icon src="assets/icons/bug.svg"></svg-icon>
    <span>{{ 'generic.report_bug' | translate }}</span>
  </a>

  <div class="topbar-separator"></div>

  <app-kb-switch class="topbar-kb"></app-kb-switch>

  <app-user-menu tourAnchor="step4" [userInfo]="userInfo | async"></app-user-menu>

</div>
