@import 'variables';

.topbar {
  align-items: center;
  background-color: $color-light-stronger;
  border-bottom: 1px solid $color-neutral-lighter;
  display: flex;
  height: var(--app-topbar-height);
  left: 0;
  padding: 0 var(--app-layout-margin-right) 0 rhythm(2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--app-zindex-topbar);

  .is-stage {
    position: absolute;
    height: rhythm(4);
    width: rhythm(4);
    left: rhythm(16);
    top: rhythm(1.5);
  }
  .topbar-logo {
    @include reset-button();
    cursor: pointer;

    &-expanded svg {
      display: block;
      width: 104px;
      height: auto;
      @include media-breakpoint('lt-md') {
        display: none;
      }
    }
    &-collapsed svg {
      display: block;
      width: 33px;
      height: auto;
      @include media-breakpoint('gt-sm') {
        display: none;
      }
    }
  }

  .search-widget {
    align-items: center;
    display: flex;
    margin-left: rhythm(10);
    margin-right: auto;

    // widget customisation
    --custom-input-widget-padding: 2px;
    --custom-input-widget-border-width: 0 0 1px 0;
    --custom-input-widget-border-style: solid;
    --custom-input-widget-border-color: $color-dark-stronger;
    --custom-input-widget-border-radius: 0;
    --custom-input-widget-placeholder-color: transparent;

    div {
      width: 300px;
    }
  }

  .topbar-separator {
    background-color: $color-neutral-lighter;
    height: 100%;
    margin: 0 rhythm(3);
    width: 1px;
  }

  .topbar-account {
    margin-right: rhythm(2);
  }

  .topbar-kb {
    margin-right: rhythm(4);
  }
}
