@import 'variables';

.new-link {
  min-width: 350px;
  max-width: 672px;
  margin-top: rhythm(3);
  width: 50vw;
}

pa-input,
pa-textarea {
  display: block;
  margin-bottom: rhythm(3);
}

.link-input {
  min-width: 300px;
  width: 100%;
}

.link-actions {
  margin-top: rhythm(4);
}
