@import 'variables';

.create-link {
  position: relative;
  padding: rhythm(2) rhythm(3);
}

h1 {
  margin: 0 0 rhythm(3) 0;
}

.new-link {
  min-width: 350px;
  max-width: 672px;
  width: 50vw;

  stf-input {
    display: block;
    margin-bottom: rhythm(3);
  }
}

.link-input {
  min-width: 300px;
  width: 100%;
}

.message {
  padding: rhythm(1) rhythm(1) 0 rhythm(1);
  color: var(--stf-primary);
}

.link-actions {
  margin-top: rhythm(4);
}
