<div class="create-link">
  <h1>{{ 'modal.create_link.title' | translate }}</h1>
  <pa-button
    class="close-button"
    icon="cross"
    aspect="basic"
    (click)="close()">
    {{ 'generic.close' | translate }}
  </pa-button>

  <form
    class="link-input"
    id="link-form"
    [formGroup]="linkForm"
    (ngSubmit)="add()">
    <div class="new-link">
      <pa-input
        *ngIf="!linkForm.value.multiple"
        formControlName="link"
        [errorMessages]="validationMessages.link">
        {{ 'modal.create_link.input' | translate }}
      </pa-input>
      <pa-textarea
        *ngIf="linkForm.value.multiple"
        formControlName="links"
        rows="5"
        [errorMessages]="validationMessages.link">
        {{ 'modal.create_link.textarea' | translate }}
      </pa-textarea>
      <pa-toggle formControlName="multiple">{{ 'modal.create_link.multiple' | translate }}</pa-toggle>
      <app-label-field [(selection)]="selectedLabels"></app-label-field>
    </div>

    <nsi-spinner
      *ngIf="pending"
      size="small"></nsi-spinner>
    <div
      class="link-actions"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="12px">
      <pa-button
        aspect="basic"
        (click)="close()">
        {{ 'generic.cancel' | translate }}
      </pa-button>

      <pa-button
        type="submit"
        kind="primary"
        [disabled]="!linkForm.valid || pending">
        {{ 'generic.add' | translate }}
      </pa-button>
    </div>
  </form>
</div>
