@import 'variables';

.label-set-selection {
  text-transform: capitalize;

  ul {
    list-style: none;
    margin-bottom: rhythm(3);
    padding: 0;

    li {
      align-items: center;
      display: flex;
      gap: rhythm(1);
    }
  }
}
