<div class="main-container">
  <div
    *ngIf="(hasLabels | async) === true; else noLabel"
    class="search-box-container">
    <pa-input
      [icon]="searchQuery ? 'cross' : 'search'"
      [class.can-reset]="!!searchQuery"
      [(ngModel)]="searchQuery"
      (click)="onSearchInputClick($event)"
      (keyup.enter)="triggerSearch()">
      {{ 'resource.field.search' | translate }}
    </pa-input>
  </div>
  <ng-template #noLabel>
    <p *ngIf="labelLoaded">
      {{ 'resource.classification.no-paragraph-labelset' | translate }}
      <a [routerLink]="(kbUrl | async) + '/label-sets'">
        {{ 'resource.classification-page-link' | translate }}
      </a>
    </p>
  </ng-template>

  <div
    *ngIf="(hasLabels | async) === true"
    class="scrollable-area with-search-and-footer paragraphs-container"
    [class.disabled]="!currentLabel">
    <pa-infinite-scroll (reachAnchor)="loadMore()">
      <div
        class="paragraph-container"
        *ngFor="let paragraph of paragraphs | async">
        <p (click)="addLabelOnParagraph(paragraph)">{{ paragraph.text }}</p>
        <div class="labels-container">
          <pa-chip-closeable
            *ngFor="let label of paragraph.generatedClassifications"
            [backgroundColor]="(availableLabels | async)?.[label.labelset]?.color"
            (closed)="cancelGeneratedLabel(paragraph, label)">
            {{ label.label }}
          </pa-chip-closeable>
          <ng-container *ngFor="let label of paragraph.userClassifications">
            <pa-chip-closeable
              *ngIf="!label.cancelled_by_user"
              [backgroundColor]="(availableLabels | async)?.[label.labelset]?.color"
              (closed)="removeUserLabel(paragraph, label)">
              {{ label.label }}
            </pa-chip-closeable>
          </ng-container>
        </div>
      </div>
    </pa-infinite-scroll>
  </div>

  <div
    class="right-panel-container"
    *ngIf="(hasLabels | async) === true">
    <app-label-dropdown
      single
      [labelSets]="availableLabels | async"
      (selectionChange)="updateSelection($event)">
      {{ currentLabel ? currentLabel.labelset + ' – ' + currentLabel.label : ('generic.select_tags' | translate) }}
    </app-label-dropdown>
  </div>
</div>

<footer
  class="form-buttons"
  *ngIf="(hasLabels | async) === true">
  <pa-button
    kind="primary"
    [disabled]="!isModified || isSaving"
    (click)="save()">
    {{ 'generic.save' | translate }}
  </pa-button>

  <pa-button
    aspect="basic"
    [disabled]="!isModified || isSaving"
    (click)="cancel()">
    {{ 'generic.cancel' | translate }}
  </pa-button>
</footer>
