@use 'apps/dashboard/src/variables' as *;

.nua-activity {
  position: relative;
}

.title-and-back {
  align-items: center;
  display: flex;
  gap: rhythm(1);

  h1 {
    margin-bottom: 0;
  }
}
.nua-activity-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rhythm(3);

  small {
    color: $color-neutral-regular;
    font-style: italic;
  }
}

.activity-container {
  background: $color-light-stronger;
}

.load-more {
  display: flex;
  justify-content: center;
  padding: rhythm(1);
}
