<h3>Here is the interface to manage stashify!</h3>
<div class="card-container">
  <pa-card
    [routerLink]="['/zones']"
    *ngIf="isRoot">
    <h4>Zones</h4>
    <div>
      <p>Nuclia zones</p>
      <p>Add new zone</p>
    </div>
  </pa-card>

  <pa-card
    [routerLink]="['/users']"
    *ngIf="isRoot">
    <h4>Users</h4>
    <div>
      <p>Nuclia users</p>
      <p>Add new user</p>
    </div>
  </pa-card>

  <pa-card
    [routerLink]="['/accounts']"
    *ngIf="isDealer || isRoot">
    <h4>Accounts</h4>
    <div>
      <p>Nuclia accounts</p>
      <p>Add new account</p>
    </div>
  </pa-card>
</div>
