<form
  [formGroup]="passwordForm"
  (submit)="submit()">
  @if (showUsername) {
    <pa-input
      formControlName="username"
      [errorMessages]="validationMessages['username']"
      autocapitalize="off">
      {{ 'login.full_name' | translate }}
    </pa-input>
  }
  <pa-input
    formControlName="password"
    type="password"
    [noAutoComplete]="true"
    [errorMessages]="validationMessages['password']">
    {{ 'login.password' | translate }}
  </pa-input>
  <pa-input
    formControlName="passwordConfirm"
    type="password"
    [errorMessages]="validationMessages['passwordConfirm']">
    {{ 'generic.confirm_password' | translate }}
  </pa-input>
  <div class="actions">
    <pa-button
      [disabled]="passwordForm.invalid"
      type="submit">
      {{ submitText | translate }}
    </pa-button>
  </div>
</form>
