<div class="kb-metrics">
  <h3>{{ 'dashboard-home.kb-metrics.title' | translate }}</h3>

  @if (locale) {
    <dl class="body-m">
      <dt>{{ 'dashboard-home.kb-metrics.total.title' | translate }}</dt>
      <dd class="title-m">{{ metrics?.resources | number: '1.0-0' : locale }}</dd>

      <dt>{{ 'dashboard-home.kb-metrics.total.fields' | translate }}</dt>
      <dd class="title-m">{{ metrics?.fields | number: '1.0-0' : locale }}</dd>

      <dt>{{ 'dashboard-home.kb-metrics.total.paragraphs' | translate }}</dt>
      <dd class="title-m">{{ metrics?.paragraphs | number: '1.0-0' : locale }}</dd>

      <dt>{{ 'dashboard-home.kb-metrics.total.sentences' | translate }}</dt>
      <dd class="title-m">{{ metrics?.sentences | number: '1.0-0' : locale }}</dd>
    </dl>
  }
</div>
