@import 'apps/dashboard/src/variables';

.kb-metrics {
  h3 {
    margin-bottom: rhythm(1);
  }
  dl {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    dt {
      flex: 1 0 60%;
      font-weight: $font-weight-thin;
    }

    dd {
      flex: 1 0 40%;
      font-weight: $font-weight-bold;
      margin-bottom: 0;
      text-align: right;
    }
  }
}
