@import 'variables';

.training-history {
  padding: rhythm(6) rhythm(12);
}

nsi-back-button {
  display: inline-flex;
  margin-bottom: rhythm(3);
}

h2 {
  margin-bottom: rhythm(4);
}

// pa-table hacks
.training-history ::ng-deep .pa-table-grid--cell {
  font-size: $font-size-body-s;
  line-height: $line-height-body-s;
  min-height: rhythm(7);
}
.training-history ::ng-deep .pa-table-grid--head .pa-table-grid--header {
  font-size: $font-size-body-xs;
  line-height: $line-height-body-xs;
}
