<div class="training-history">
  <nsi-back-button
    class="select-kb-back"
    link=".."
    text="stash.side.trainings">
    {{ 'stash.side.trainings' | translate }}
  </nsi-back-button>
  <h1>{{ 'training.history' | translate }}</h1>

  <pa-infinite-scroll
    *ngIf="executions$ | async as executions"
    (reachAnchor)="fetchNextPage()">
    <pa-table columns="auto 120px 120px auto 1fr 80px">
      <pa-table-header>
        <pa-table-cell header>{{ 'training.training' | translate }}</pa-table-cell>
        <pa-table-cell header>{{ 'generic.date' | translate }}</pa-table-cell>
        <pa-table-cell header>{{ 'generic.time' | translate }}</pa-table-cell>
        <pa-table-cell header>ID</pa-table-cell>
        <pa-table-cell header>{{ 'training.status.header' | translate }}</pa-table-cell>
        <pa-table-cell header>{{ 'generic.result' | translate }}</pa-table-cell>
      </pa-table-header>
      <pa-table-row
        *ngFor="let execution of executions"
        [disabled]="execution.status === status.failed">
        <pa-table-cell>{{ 'stash.settings.processes.' + execution.task | translate }}</pa-table-cell>
        <pa-table-cell>{{ execution.start | date: 'YYYY-MM-dd' }}</pa-table-cell>
        <pa-table-cell>{{ execution.duration }}</pa-table-cell>
        <pa-table-cell>{{ execution.id }}</pa-table-cell>
        <pa-table-cell>{{ 'training.status.' + execution.status | translate }}</pa-table-cell>
        <pa-table-cell>
          <!--          <pa-button-->
          <!--            *ngIf="execution.status === status.succeeded"-->
          <!--            size="small"-->
          <!--            icon="image"-->
          <!--            aspect="basic"></pa-button>-->
          <!--          <pa-button-->
          <!--            *ngIf="execution.status === status.failed"-->
          <!--            size="small"-->
          <!--            icon="activity-log"-->
          <!--            aspect="basic"></pa-button>-->
        </pa-table-cell>
      </pa-table-row>
    </pa-table>
  </pa-infinite-scroll>
</div>
