<div class="upload-text">
  <h1>{{ 'upload.upload_from_csv' | translate }}</h1>
  <pa-button
    class="close-button"
    icon="cross"
    aspect="basic"
    (click)="close()">
    {{ 'generic.close' | translate }}
  </pa-button>

  <p class="body-s">
    <span [innerHtml]="'upload.csv_description' | translate"></span>
    <br />
    <span [innerHtml]="'upload.csv_format' | translate"></span>
  </p>

  <ncom-hint label="CSV format details">
    <ul class="csv-format">
      <li>Use commas as field delimiter</li>
      <li>Fields containing commas or line breaks must be enclosed in double quotes</li>
      <li>Double quotes appearing inside a quoted field must be prefixed with an additional double quote</li>
      <li>Don't include a header line</li>
    </ul>
  </ncom-hint>

  <div class="select-csv">
    <pa-button
      type="submit"
      kind="primary"
      (click)="fileUpload.click()">
      {{ 'upload.select_csv' | translate }}
    </pa-button>
    <input
      (change)="readCSV($event)"
      #fileUpload
      type="file"
      accept="text/csv"
      hidden />
  </div>

  <app-label-field
    *ngIf="resources.length > 0"
    size="small"
    [(selection)]="selectedLabels"></app-label-field>

  <div
    class="resource-list"
    *ngIf="resources.length > 0">
    <div
      *ngFor="let resource of resources"
      class="resource">
      <span paEllipsisTooltip>{{ resource[0] }}</span>
      <code>{{ resource[2] }}</code>
    </div>
  </div>

  <nsi-spinner
    *ngIf="isUploading"
    size="small"></nsi-spinner>

  <div class="buttons">
    <pa-button
      aspect="basic"
      (click)="close()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      type="submit"
      kind="primary"
      (click)="upload()"
      [disabled]="resources.length === 0 || isUploading">
      {{ 'generic.add' | translate }}
    </pa-button>
  </div>
</div>
