<app-configuration-form
  [form]="form"
  (cancel)="cancel.emit()"
  (triggerSubmit)="submit()">
  <ng-container [formGroup]="configForm">
    <div class="form-entry field-list">
      <div class="form-entry">
        <label for="source">{{ 'retrieval-agents.workflow.node-types.sql.form.source' | translate }}</label>
        <pa-select
          id="source"
          formControlName="source"
          externalLabel=""
          [options]="sourceOptions()"></pa-select>
      </div>

      @if (sourceOptions()?.length === 0) {
        <nsi-info-card type="warning">
          {{ 'retrieval-agents.workflow.node-types.sql.form.no-source' | translate }}
        </nsi-info-card>
        <pa-button
          aspect="basic"
          size="small"
          [routerLink]="driversPath()">
          {{ 'retrieval-agents.workflow.node-types.sql.form.go-to-drivers' | translate }}
        </pa-button>
      }
    </div>

    <div class="form-entry">
      <label for="prompt">{{ 'retrieval-agents.workflow.node-types.sql.form.prompt' | translate }}</label>
      <nsi-expandable-textarea
        id="prompt"
        formControlName="prompt"
        externalLabel=""
        rows="2"
        modalTitle="retrieval-agents.workflow.node-types.sql.form.prompt"
        resizable=""></nsi-expandable-textarea>
    </div>
    <div class="form-entry">
      <label for="retries">{{ 'retrieval-agents.workflow.node-types.sql.form.retries' | translate }}</label>
      <pa-input
        id="retries"
        formControlName="retries"
        externalLabel=""></pa-input>
    </div>
    <app-rules-field
      [form]="configForm"
      [config]="config"></app-rules-field>
  </ng-container>
</app-configuration-form>
