<pa-modal-advanced>
  <pa-modal-title>
    {{ (editMode() ? 'account.nua-guard.edit-policy' : 'account.nua-guard.create-policy') | translate }}
  </pa-modal-title>

  <pa-modal-content>
    <form
      class="policy-form"
      [formGroup]="policyForm"
      (ngSubmit)="save()">
      <pa-input
        formControlName="name"
        [errorMessages]="validationMessages.name">
        {{ 'account.nua-guard.field.name' | translate }}*
      </pa-input>

      <pa-textarea
        formControlName="description"
        help="account.nua-guard.field.description-help"
        resizable=""
        [rows]="2"
        [errorMessages]="validationMessages.description">
        {{ 'account.nua-guard.field.description' | translate }}
      </pa-textarea>

      <pa-textarea
        formControlName="instruction"
        help="account.nua-guard.field.instruction-help"
        resizable=""
        [rows]="2"
        [errorMessages]="validationMessages.instruction">
        {{ 'account.nua-guard.field.instruction' | translate }}*
      </pa-textarea>

      <pa-textarea
        formControlName="query"
        help="account.nua-guard.field.query-help"
        resizable=""
        [rows]="2"
        [errorMessages]="validationMessages.query">
        {{ 'account.nua-guard.field.query' | translate }}*
      </pa-textarea>

      <!-- Region selection is single select for policies -->
      <pa-select
        formControlName="zone"
        [options]="zoneOptions()"
        [readonly]="editMode() || zoneOptions().length <= 1"
        [label]="'account.nua-guard.field.zone-help' | translate"
        [errorMessages]="validationMessages.zone"></pa-select>

      <pa-toggle
        formControlName="blocking"
        labelOnRight>
        {{ 'account.nua-guard.field.blocking' | translate }}
      </pa-toggle>
    </form>
  </pa-modal-content>

  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="close()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      type="submit"
      [disabled]="policyForm.pristine || policyForm.invalid"
      (click)="save()">
      {{ 'generic.save' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
