<section>
  <h3>Authentication</h3>
  <div *ngIf="!(isAuthenticated | async)">
    <form
      (ngSubmit)="login(form.value)"
      #form="ngForm">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        ngModel />
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel />
      <button
        [disabled]="pending"
        type="submit">
        Login
      </button>
    </form>
    <p *ngIf="!!loginError">Login error: {{ loginError }}</p>
  </div>
  <div *ngIf="isAuthenticated | async">
    <button
      [disabled]="pending"
      (click)="logout()">
      Logout
    </button>
  </div>
</section>
<section *ngIf="isAuthenticated | async">
  <h3>Accounts</h3>
  <ul>
    <li *ngFor="let account of accounts | async">
      <a
        href="#"
        (click)="selectAccount(account.slug, $event)">
        {{ account.title }}
      </a>
    </li>
  </ul>
  <div *ngIf="currentAccount">
    <div>Current account: {{ currentAccount }}</div>
    <form (submit)="createKB()">
      <h4>Add a new KB</h4>
      <label for="slug">
        Slug
        <input
          name="slug"
          [(ngModel)]="newKbSlug"
          type="text" />
      </label>
      <button type="submit">Add</button>
    </form>
    <p>Knowledge boxes:</p>
    <ul>
      <li *ngFor="let kb of kbs">
        {{ kb.title }}
        <button (click)="selectKB(kb.slug)">Select</button>
      </li>
    </ul>
    <div *ngIf="currentKb">
      Current Knowledge box: {{ currentKb.slug }}
      <button (click)="deleteKB()">Delete KB</button>
      <nav>
        <button (click)="mode = 'resource'">Go to resource</button>
        <button (click)="mode = 'entities'">Go to entities</button>
        <button (click)="mode = 'labels'">Go to labels</button>
        <button (click)="mode = 'widgets'">Go to widgets</button>
        <button (click)="mode = 'upload'">Go to upload</button>
      </nav>
      <div *ngIf="mode === 'resource'">
        <form (submit)="createResource()">
          <h4>Index a new resource</h4>
          <label for="title">
            title
            <input
              name="title"
              [(ngModel)]="newTitle"
              type="text" />
          </label>
          <label for="body">
            Body
            <textarea
              [(ngModel)]="newBody"
              name="body"></textarea>
          </label>
          <p>OR</p>
          <label for="link">
            link
            <input
              name="link"
              [(ngModel)]="newLink"
              type="text" />
          </label>
          <div><button type="submit">Add</button></div>
        </form>
        <form (submit)="getResource()">
          <h4>Get a resource</h4>
          <label for="title">
            UUID
            <input
              name="uuid"
              [(ngModel)]="currentRessourceUUID"
              type="text" />
          </label>
          <button type="submit">Get</button>
        </form>
        <div *ngIf="currentResource">
          <h4>Current resource</h4>
          {{ currentResource.title }}
          <button (click)="deleteResource()">Delete resource</button>
          <button (click)="addKeywords()">Add keywords</button>
          <h5>Upload file</h5>
          <p>
            <label for="file">
              File
              <input
                #fileInput
                type="file" />
            </label>
            <button (click)="uploadFile()">Upload</button>
            <button (click)="TUSuploadFile()">TUS Upload</button>
          </p>
          <p>
            <label for="file">
              Directory
              <input
                #dirInput
                type="file"
                multiple
                webkitdirectory
                directory />
            </label>
            <button (click)="TUSuploadDirectory()">TUS directory</button>
          </p>
          <p>Progress: {{ progress ? progress + '%' : '' }}</p>
        </div>
      </div>
      <div *ngIf="mode === 'entities'">
        <h4>Entities</h4>
        <p>{{ entities | json }}</p>
        <div><button (click)="createEntity()">Create entity</button></div>
      </div>
      <div *ngIf="mode === 'labels'">
        <h4>Labels</h4>
        <p>{{ labels | json }}</p>
        <div><button (click)="createLabels()">Create labels</button></div>
      </div>
      <div *ngIf="mode === 'widgets'">
        <h4>Widgets</h4>
        <p>{{ widgets | json }}</p>
        <div><button (click)="createWidget()">Create widget</button></div>
      </div>
      <div *ngIf="mode === 'upload'">
        <h4>TUS Upload</h4>
        <p>
          <label for="file">
            Directory
            <input
              #kbDirInput
              type="file"
              multiple
              webkitdirectory
              directory />
          </label>
          <button (click)="KBTUSuploadDirectory()">TUS directory</button>
        </p>
        <p>Progress: {{ progress ? progress + '%' : '' }}</p>
      </div>
    </div>
  </div>
</section>
