@import 'libs/pastanaga/src/lib/styles/stf';

.label-select {
  min-width: 500px;
  max-height: 250px;
  padding: 18px 15px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: var(--stf-shadow-dropdown);
  @include scrollbar-black(var(--stf-gray-background));

  &-header {
    margin-bottom: 6px;
    button {
      @include reset-button();
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        display: block;
        width: 13px;
        height: auto;
        margin-right: 6px;
      }
    }
  }

  &-title {
    font-weight: var(--stf-font-weight-semibold);
    @include text-truncate();
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 12px 19px;
  }

  &-item {
    width: 25%;
    padding-bottom: 3px;
  }
}
