@use 'apps/dashboard/src/variables' as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.endpoint {
  border: 1px solid $color-neutral-lighter;
  display: flex;
  flex-direction: column;
  gap: rhythm(3);
  padding: rhythm(2) rhythm(3);

  pre {
    margin-bottom: 0;
    white-space: normal;
    word-break: break-all;
  }
}

.how-to {
  margin-top: rhythm(1);
}
