<div class="top-bar">
  <svg-icon
    src="assets/logos/logo-beta.svg"
    class="logo"></svg-icon>
</div>

<div class="setup-account">
  <header *ngIf="user | async as user">
    <h1>{{ 'setup.create_account' | translate: { user } }}</h1>
  </header>
  <main>
    <div class="col-left">
      <div class="box">
        <h2 [class.mute]="!!createdKb">{{ 'setup.account_preferences' | translate }}</h2>
        <form
          *ngIf="!createdKb"
          [formGroup]="accountForm"
          (ngSubmit)="save()">
          <div class="field">
            <div class="description">
              <strong>{{ 'setup.name_account' | translate }}</strong>
            </div>
            <pa-input
              id="account"
              name="account"
              formControlName="account"
              hasFocus
              [errorMessages]="validationMessages.account">
              {{ 'account.title' | translate }}
            </pa-input>
          </div>
          <div class="field">
            <div
              class="description"
              [innerHtml]="'setup.kb_created' | translate"></div>
            <pa-input
              name="kb"
              formControlName="kb"
              [errorMessages]="validationMessages.kb">
              {{ 'stash.name' | translate }}
            </pa-input>
          </div>
          <div class="field">
            <div class="description">
              <strong>{{ 'setup.data_storage' | translate }}</strong>
            </div>
            <pa-radio-group formControlName="zone">
              <pa-radio
                *ngFor="let zone of zones"
                [value]="zone.id">
                {{ zone.title }}
              </pa-radio>
            </pa-radio-group>
          </div>
          <pa-button
            type="submit"
            kind="primary"
            [disabled]="loading">
            {{ 'generic.create' | translate }}
          </pa-button>
        </form>
      </div>
      <div class="box">
        <h2 [class.mute]="!createdKb">{{ 'setup.push_data' | translate }}</h2>
        <div *ngIf="!!createdKb">
          <pa-button (click)="uploadFile()">
            {{ 'setup.upload_file' | translate }}
          </pa-button>
          <a
            href="https://docs.nuclia.dev/docs/quick-start/push#api-push-contents-using-the-api"
            target="_blank"
            class="doc-link"
            rel="noopener noreferrer">
            {{ 'setup.upload_using_api' | translate }}
          </a>
          <p>
            …or just visit a
            <a
              class="demo-link"
              [routerLink]="'/at/' + createdAccount + '/__demo'"
              target="_blank">
              <strong>demo knowledge box</strong>
            </a>
            with existing contents.
          </p>
        </div>
      </div>
    </div>
    <div class="col-right">
      <div class="box docs"></div>
    </div>
  </main>
</div>
