@import 'variables';

.synonym-add {
  @include reset-button();
  width: 28px;
  height: 28px;
  color: var(--stf-gray-lighter-3);
  border: 1px solid rgba(var(--stf-gray-lighter-3-rgb), 0.5);
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    border-color: currentColor;
  }
}

.entity-autocomplete {
  width: 200px;
  padding: 12px;
  background-color: #fff;
  box-shadow: var(--stf-shadow-dropdown);

  label {
    display: block;
    font-size: 10px;
    font-weight: var(--stf-font-weight-light);
  }

  input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  &-list {
    padding-top: 6px;
    max-height: 200px;
    overflow-y: auto;
    @include scrollbar-black(var(--stf-gray-lighter));
  }

  &-item {
    @include reset-button();
    cursor: pointer;
    display: block;
    text-align: left;
    line-height: 1.2;
    padding: 6px 10px 6px 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
