<button
  (click)="toggle()"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  fxFlex="0 0 auto"
  class="synonym-add"
  [attr.aria-label]="'generic.add' | translate"
>
  <span>+</span>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="openAutocomplete"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="-10"
  [cdkConnectedOverlayOffsetX]="16"
  (backdropClick)="toggle()"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
>
  <div class="entity-autocomplete" cdkTrapFocus cdkTrapFocusAutoCapture>
    <label [for]="id">{{ 'entity.search_synonym' | translate }}</label>
    <input type="text" [formControl]="filterInput" cdkFocusInitial [id]="id" />
    <div class="entity-autocomplete-list" *ngIf="items$ | async as items">
      <button (click)="addSynonym(item)" class="entity-autocomplete-item" *ngFor="let item of items">
        {{ item.value }}
      </button>
    </div>
  </div>
</ng-template>
