<div class="main-container">
  <h1>{{ 'onboarding.aws.create-kb.title' | translate }}</h1>

  <stf-kb-creation-form
    [accountId]="accountId"
    [zones]="zones"
    [creationInProgress]="creationInProgress"
    (kbConfig)="updateKbConfig($event)"
    (learningConfig)="updateLearningConfig($event)"></stf-kb-creation-form>

  <footer>
    <pa-button
      aspect="basic"
      (click)="back.emit()">
      {{ 'generic.back' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      [disabled]="invalidKbConfig || !learningConfig || saving"
      (click)="createKb()">
      {{ 'onboarding.aws.get-started.next-button' | translate }}
    </pa-button>
  </footer>
</div>
