<div class="db-dialog">
  <h1>{{ (editMode ? 'account.edit_db' : 'account.create_db') | translate }}</h1>
  <button class="close-button" (click)="close()">
    <svg-icon src="assets/icons/close.svg"></svg-icon>
  </button>

  <form [formGroup]="dbForm" (ngSubmit)="save()">

    <div class="mb-12" fxLayout="row">
      <label for="db-title" fxFlex="24%" class="db-dialog-field-name">
        {{ 'account.title' | translate }}
      </label>
      <div fxFlex="70%">
        <stf-input
          id="db-title"
          formControlName="title"
          [validator]="dbForm.controls['title']"
          [validation_messages]="validationMessages.title"
          [isLessen]="true">
        </stf-input>
      </div>
    </div>

    <div class="mb-12" fxLayout="row">
      <label for="db-email" fxFlex="24%" class="db-dialog-field-name">
        {{ 'generic.email' | translate }}
      </label>
      <div fxFlex="70%">
        <stf-input
          id="db-email"
          formControlName="email"
          [validator]="dbForm.controls['email']"
          [validation_messages]="validationMessages.email"
          [isLessen]="true">
        </stf-input>
      </div>
    </div>

    <div class="mb-40" fxLayout="row">
      <label for="db-description" fxFlex="24%" class="db-dialog-field-name">
        {{ 'generic.description' | translate }}
      </label>
      <div fxFlex="70%">
        <stf-textarea
          id="db-description"
          formControlName="description"
          initialHeight="100px">
        </stf-textarea>
      </div>
    </div>

    <div class="db-dialog-zone" *ngIf="data.zones">
      <h2>{{ 'generic.zone' | translate }}</h2>
      <div class="mb-24">{{ 'account.db_zone_description' | translate }}</div>  
      <select stfSelect formControlName="zone" class="db-dialog-zone-select">
        <option *ngFor="let zone of data.zones" [value]="zone.id">{{ zone.title }}</option>
      </select>
    </div>

    <div class="mt-40" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <stf-button
        type="submit"
        minWidth="110px">
        {{ 'generic.save' | translate }}
      </stf-button>
      <stf-button
        (click)="close()"
        type="button"
        color="gray"
        minWidth="110px">
        {{ 'generic.cancel' | translate }}
      </stf-button>
    </div>
  </form>
</div>