<div
  class="label"
  [class.no-handle]="noHandle">
  <div
    *ngIf="!noHandle"
    class="label-handle">
    <pa-icon name="draggable"></pa-icon>
  </div>
  <div
    class="label-content"
    [class.unsaved-label]="!label">
    <input
      type="text"
      pattern="[^/\{\}]+"
      cdkFocusInitial
      [class.unsaved-label]="!label"
      [formControl]="title"
      (keydown.enter)="save()"
      (keydown.tab)="save()"
      (blur)="save()" />
  </div>
  <pa-button
    *ngIf="!!label"
    aspect="basic"
    size="small"
    icon="trash"
    iconSize="small"
    paTooltip="generic.delete"
    (click)="delete()">
    {{ 'generic.delete' | translate }}
  </pa-button>
</div>
<div
  *ngIf="!!title.errors?.pattern || errorMessage"
  class="error-message">
  <ng-container *ngIf="errorMessage">{{ errorMessage | translate }}</ng-container>
  <ng-container *ngIf="!errorMessage">{{ 'label-set.form.labels.naming-constraint' | translate }}</ng-container>
</div>
