
// Entity table dimensions

$entity-table-color-flex: 0 0 28px;
$entity-table-name-flex: 0 0 275px;
$entity-table-synonyms-flex: 1 0 112px;
$entity-table-description-flex: 0 0 128px;
$entity-table-presence-flex: 0 0 112px;
$entity-table-actions-flex: 0 0 175px;