<div class="user-menu"
     @dropdownTopRight>
  <!--
  <button class="user-menu-item" (click)="goProfile()">
    <svg-icon src="assets/icons/usuari.svg"></svg-icon>
    <span>{{'generic.user_preferences' | translate}}</span>
  </button>
  -->
  <button class="user-menu-item"
          *ngIf="account && account.can_manage_account"
          (click)="manageAccount()">
    <svg-icon src="assets/icons/gear.svg"></svg-icon>
    <span>{{'generic.manage_account' | translate}}</span>
  </button>
  <button class="user-menu-item"
          *ngIf="accounts.length > 1"
          (click)="switchAccount()">
    <svg-icon src="assets/icons/switch.svg"></svg-icon>
    <span>{{'generic.switch_account' | translate}}</span>
  </button>
  <button class="user-menu-item"
          (click)="logout()">
    <svg-icon src="assets/icons/logout.svg"></svg-icon>
    <span>{{'generic.logout' | translate}}</span>
  </button>
</div>