<div class="upload-files">
  <button class="close-button"
          (click)="close.emit()">
    <svg-icon src="assets/icons/close-modal.svg"></svg-icon>
  </button>

  <div mat-dialog-title
       class="mb-28">
    <h1>{{ (folderMode ? 'modal.upload_folder' : 'modal.upload.title') | translate }}</h1>
  </div>
  <div mat-dialog-content>
    <div class="size-warning" *ngIf="limitsExceeded">
      <svg-icon src="assets/icons/toast-warning.svg"></svg-icon>
      <span>
        <strong>
          {{ 'upload.size_warning_1' | translate:
            { 
              maxMedia: (maxMediaFileSize | size),
              max: (maxFileSize | size)
            }
          }}
        </strong>
        <span>{{ 'upload.size_warning_2' | translate }}</span>
      </span>
    </div>

    <div stfFileDrop
         [class.file-over]="hasBaseDropZoneOver"
         (fileOver)="fileOverBase($event)"
         (atFileDrop)="addFiles($event)"
         (click)="chooseFiles($event)"
         class="dropzone"
         fxLayout="row"
         fxLayoutAlign="center center">
      <span>{{ (folderMode ? 'modal.upload.drop_folder' : 'modal.upload.drop') | translate }}</span>
    </div>
    <input *ngIf="!folderMode"
           type="file"
           stfFileSelect
           (atFileSelect)="addFiles($event)"
           id="upload-file-chooser"
           multiple
           hidden />
    <input *ngIf="folderMode"
           type="file"
           (atFileSelect)="addFiles($event)"
           id="upload-file-chooser"
           multiple
           webkitdirectory
           directory
           hidden />

    <app-label-field [(selected)]="selectedLabels"></app-label-field>

    <div class="file-list"
         *ngIf="filesWithoutAudio.length > 0">
      <div class="file-item"
           *ngFor="let file of filesWithoutAudio">
        <div class="file-name">{{ file.name }}</div>
        <div class="file-size">{{ file.size | size }}</div>
        <div class="file-lang"></div>
        <div class="file-actions">
          <button (click)="removeFile(file)">
            <svg-icon src="assets/icons/delete.svg"></svg-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="select-language"
         *ngIf="filesWithAudio.length > 0">
      <div class="select-language-warning"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="8px">
        <svg-icon src="assets/icons/warning.svg"></svg-icon>
        <div>{{ (filesWithAudio.length === 1 ? 'upload.audio_detected' : 'upload.audios_detected') | translate }}</div>
      </div>

      <div class="file-list">
        <ng-container *ngFor="let file of filesWithAudio; let i = index;">
          <div class="file-item">
            <div class="file-select"
                 *ngIf="filesWithAudio.length > 1">
              <stf-checkbox [id]="'upload-file-' + i"
                            [externalLabel]="true"
                            [selected]="fileSelection.isSelected(file)"
                            (selectedChange)="fileSelection.toggle(file)"
                            color="dark">
              </stf-checkbox>
            </div>
            <div class="file-name">
              <label [for]="'upload-file-' + i">{{ file.name }}</label>
            </div>
            <div class="file-size">{{ file.size | size }}</div>
            <div class="file-lang">{{ file.lang || '-' }}</div>
            <div class="file-actions">
              <button (click)="removeFile(file)">
                <svg-icon src="assets/icons/delete.svg"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <select stfSelect
              [formControl]="langMultiSelect"
              (change)="onSelectLanguageMulti($event)">
        <option value="">{{ 'generic.select_language' | translate }}</option>
        <option [value]="lang"
                *ngFor="let lang of languageList">{{ 'language.' + lang | translate }}</option>
      </select>

    </div>
  </div>

  <div class="mt-28"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="16px">
    <span stfTooltip
          stfTooltipText="upload.audios_detected"
          [stfTooltipDisabled]="!(files.length > 0 && pendingLangs > 0)">
      <stf-button (click)="startUpload()"
                  [disabled]="files.length === 0 || (files.length > 0 && pendingLangs > 0)"
                  color="primary"
                  minWidth="110px">
        {{ 'generic.add' | translate }}
      </stf-button>
    </span>

    <stf-button (click)="close.emit()"
                color="gray"
                minWidth="110px">
      {{ 'generic.cancel' | translate }}
    </stf-button>
  </div>
</div>