<header>
  <img
    width="128"
    [src]="assetsPath + '/logos/logo-white.svg'"
    [alt]="brandName + ' Manager'" />

  <nav
    class="title-m"
    *ngIf="isRoot">
    <ul>
      <li
        routerLink="accounts"
        routerLinkActive="active">
        Accounts
      </li>
      <li
        routerLink="users"
        routerLinkActive="active">
        Users
      </li>
      <li
        routerLink="zones"
        routerLinkActive="active">
        Zones
      </li>
    </ul>
  </nav>
  <pa-avatar
    size="small"
    [avatar]="avatar | async"
    [paPopup]="userMenu"></pa-avatar>
</header>

<pa-dropdown #userMenu>
  <pa-option
    icon="log-out"
    (click)="logout()">
    {{ 'generic.logout' | translate }}
  </pa-option>
</pa-dropdown>
<div class="page-container">
  <div
    *ngIf="!isRoot"
    class="forbidden-message">
    You don't have enough permissions to use the manager.
  </div>

  <router-outlet *ngIf="isRoot"></router-outlet>
</div>
