<div class="topbar">
  <img
    class="logo"
    [src]="logoPath"
    [alt]="brandName" />
</div>
<div class="container">
  <div class="test-page page-spacing">
    <header>
      <h1 class="page-title">{{ 'test-page.title' | translate }}</h1>
    </header>
    @if (((widgets | async) || []).length > 0) {
      <pa-select
        [(value)]="selected"
        [readonly]="(widgets | async)?.length === 1"
        (valueChange)="showWidget($event)"
        [label]="'test-page.select-widget' | translate">
        @for (widget of widgets | async; track widget.slug) {
          <pa-option [value]="widget.slug">{{ widget.name }}</pa-option>
        }
      </pa-select>
    }
    @if (widgetPreview | async; as widgetPreview) {
      <div [class.dark-mode]="darkMode">
        <h3>{{ 'test-page.search' | translate }}</h3>
        <div
          id="preview"
          class="preview-content"
          [innerHtml]="widgetPreview.preview"></div>
      </div>
    }
  </div>
</div>
