<div class="entities">
  <h1>{{ 'entity.name_entities_management' | translate }}</h1>

  <div class="entities-actions">
    <div class="entities-search">
      <pa-input id="entity-search"
                [formControl]="searchInput"
                (keydown.enter)="search()">{{ 'entity.entity_search' | translate }}</pa-input>

      <pa-button icon="search"
                 aspect="basic"
                 (click)="search()">{{'generic.search' | translate}}</pa-button>
    </div>

    <pa-button *ngIf="(canAddEntities | async) === true"
               paTooltip="Add entity group"
               icon="plus"
               (click)="addEntityGroup()"
    >{{'entity.add_group' | translate}}</pa-button>
  </div>


  <ng-container *ngIf="searchTerm | async as term">
    <div *ngIf="noResults | async" class="entities-no-results">
      <span [innerHtml]="'generic.no_results_for' | translate"></span>
      <span>&nbsp;</span>
      <strong>{{ term }}</strong>
    </div>
  </ng-container>

  <div class="entity-table">
    <div class="entity-table-header">
      <div class="entity-table-header-cell cell-color"></div>
      <div class="entity-table-header-cell cell-name">{{ 'entity.entity' | translate }}</div>
      <div class="entity-table-header-cell cell-synonyms">{{ 'entity.synonym' | translate }}</div>
      <div class="entity-table-header-cell cell-description">{{ 'generic.description' | translate }}</div>
      <div class="entity-table-header-cell cell-presence">{{ 'generic.presence' | translate }}</div>
      <div class="entity-table-header-cell cell-actions"></div>
    </div>

    <div *ngFor="let group of groups | async; trackBy: trackByFn">
      <app-entity-group [group]="group" [searchTerm]="searchTerm | async"></app-entity-group>
    </div>
  </div>
</div>
