@import "variables";
// Entity table dimensions

$entity-table-color-flex: 0 0 rhythm(3);
$entity-table-name-flex: 0 0 rhythm(32);
$entity-table-synonyms-flex: 1 0 rhythm(32);
$entity-table-description-flex: 0 0 rhythm(16);
$entity-table-presence-flex: 0 0 rhythm(14);
$entity-table-actions-flex: 0 0 rhythm(22);

$entity-fallback-color: $color-neutral-regular;
