@import 'libs/sistema/theme/fonts';
@import 'libs/pastanaga-angular/projects/pastanaga-angular/src/styles/core';
@import 'libs/sistema/styles/apps-common';

:root {
  --app-background-color: $color-light-stronger;
}

.user-background {
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
