@import 'libs/sistema/theme/fonts';
@import 'libs/pastanaga-angular/projects/pastanaga-angular/src/styles/core';
@import 'app/styles/css-variables';
// To be removed once dashboard app will be entirely migrated to pastanaga-angular
@import 'libs/pastanaga/src/lib/styles/once-light';

@import 'libs/sistema/styles/apps-common';

.user-background {
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
