@import 'variables';

.billing {
  display: flex;
  min-height: calc(100vh - var(--app-topbar-height));
  width: 100%;

  .sidebar-menu {
    background-color: $color-light-stronger;
    flex-shrink: 0;
    padding: rhythm(7) rhythm(2) 0 rhythm(6);
    width: rhythm(28);
  }

  .main-content {
    background-color: $color-neutral-lightest;
    flex-grow: 1;
    padding: rhythm(8) rhythm(10);
  }
}
