@import 'variables';

:host {
  display: block;
}

.help-box {
  width: 237px;
  padding: 10px 12px 16px 16px;
  position: relative; // to position the arrow
  background-color: #000;
  color: #fff;
  &-step {
    margin-bottom: 6px;
    font-size: var(--stf-font-size-ssmall);
    font-weight: var(--stf-font-weight-bold);
  }
  &-title {
    width: 90%;
    margin-bottom: 6px;
    font-weight: var(--stf-font-weight-bold);
    line-height: 1.267;
  }
  &-content {
    margin-bottom: 16px;
    font-size: var(--stf-font-size-ssmall);
    line-height: 1.25;
  }

  &-dismiss {
    @include reset-button();
    cursor: pointer;
    height: var(--stf-button-small-height);
    background-color: #303030;
    color: #fff;
    font-weight: var(--stf-font-weight-semibold);
    border-radius: var(--stf-border-radius-button);
    transition: background-color var(--stf-transition-button);
    &:active {
      background-color: lighten(#303030, 15);
    }
  }

  &::before {
    content: '';
    position: absolute;
  }

  &.arrow-top-left::before {
    top: -9px;
    left: 15px;
    @include arrow(top, 9px, 9px, #000);
  }
  &.arrow-top-left-edge::before {
    top: -14px;
    left: 0px;
    width: 0;
    left: 0;
    border-left: 13px solid #000;
    border-top: 14px solid transparent;
  }
  &.arrow-top-right::before {
    top: -9px;
    right: 15px;
    @include arrow(top, 9px, 9px, #000);
  }
  &.arrow-left-top::before {
    top: 15px;
    right: -9px;
    @include arrow(right, 9px, 9px, #000);
  }
  &.arrow-left-bottom::before {
    bottom: 15px;
    right: -9px;
    @include arrow(right, 9px, 9px, #000);
  }
  &.arrow-right-top::before {
    top: 15px;
    left: -9px;
    @include arrow(left, 9px, 9px, #000);
  }
  &.arrow-right-bottom::before {
    bottom: 15px;
    left: -9px;
    @include arrow(left, 9px, 9px, #000);
  }
}

::ng-deep .mat-menu-panel.tour-step {
  max-width: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  overflow: visible;
}
