<div *ngIf="step" class="help-box" [ngClass]="arrowClass()">
  <div class="help-box-step">{{ current() + '/' + total() }}</div>
  <div class="help-box-title" *ngIf="step.title">{{ step.title | translate }}</div>
  <div class="help-box-content" *ngIf="step.content">{{ step.content | translate }}</div>
  <div class="help-box-buttons pa-dual-buttons">
    <pa-button *ngIf="hasNext(); else empty"
               aspect="basic"
               kind="inverted"
               size="small"
               (click)="dismiss()">
      {{ 'generic.dismiss' | translate }}
    </pa-button>
    <ng-template #empty>
      <div fxFlex="1 1 50%"></div>
    </ng-template>
    <pa-button size="small"
               kind="primary"
               (click)="hasNext() ? next() : dismiss()">
      {{ (hasNext() ? 'generic.next' : 'generic.done') | translate }}
    </pa-button>
  </div>
</div>
