<div *ngIf="step" class="help-box" [ngClass]="arrowClass()">
  <div class="help-box-step">{{ current() + '/' + total() }}</div>
  <div class="help-box-title" *ngIf="step.title">{{ step.title | translate }}</div>
  <div class="help-box-content" *ngIf="step.content">{{ step.content | translate }}</div>
  <div class="help-box-buttons" fxLayout="row" fxLayoutGap="8px">
    <button class="help-box-dismiss" *ngIf="hasNext(); else empty" (click)="dismiss()" fxFlex="1 1 50%">
      {{ 'generic.dismiss' | translate }}
    </button>
    <ng-template #empty>
      <div fxFlex="1 1 50%"></div>
    </ng-template>
    <stf-button (click)="hasNext() ? next() : dismiss()" size="small" fxFlex="1 1 50%" [fullWidth]="true">
      {{ (hasNext() ? 'generic.next' : 'generic.done') | translate }}
    </stf-button>
  </div>
</div>
