@import 'apps/manager-v2/src/variables';

:host {
  .manager-container {
    text-align: center;
    width: 100%;
  }

  .add-member {
    margin-bottom: rhythm(3);
    max-width: rhythm(40);
  }
  pa-dropdown ::ng-deep .pa-popup .pa-popup-wrapper {
    max-width: unset;
  }
}
