<pa-demo-page>
  <pa-demo-title>Button mini</pa-demo-title>
  <!-- prettier-ignore -->
  <pa-demo-description>
    Sistema provides a specific mini button component: <code>nsi-button-mini</code>.
  </pa-demo-description>
  <pa-demo-examples>
    <div style="display: flex; gap: 16px">
      <nsi-button-mini>No icon</nsi-button-mini>
      <nsi-button-mini icon="download">Save</nsi-button-mini>
      <nsi-button-mini icon="code">Code</nsi-button-mini>
      <nsi-button-mini icon="edit">Edit</nsi-button-mini>
      <nsi-button-mini icon="undo">Reset</nsi-button-mini>
    </div>
  </pa-demo-examples>
  <pa-demo-usage>
    <h3>Inputs</h3>
    <dl>
      <dt>icon</dt>
      <dd>
        Icon name to be displayed on the left of the button label.
        <small>Optional</small>
      </dd>
    </dl>
  </pa-demo-usage>
  <pa-demo-code>
    <pre><code>{{code}}</code></pre>
  </pa-demo-code>
</pa-demo-page>
