<h2 class="page-subtitle">{{ 'account.nua_keys' | translate }}</h2>
<p class="page-description">{{ 'api-key-management.description' | translate }}</p>

@if (clients$ | async; as clients) {
  @if (clients.length > 0) {
    <div class="container">
      <h3 class="title-s">{{ 'account.existing_keys' | translate }}</h3>
      <pa-table
        border
        columns="1.5fr 160px 1fr 1fr 120px 150px">
        <pa-table-header>
          <pa-table-cell header>{{ 'generic.name' | translate }}</pa-table-cell>
          <pa-table-cell header>{{ 'generic.date' | translate }}</pa-table-cell>
          <pa-table-cell header>{{ 'generic.email' | translate }}</pa-table-cell>
          <pa-table-cell header>{{ 'generic.zone' | translate }}</pa-table-cell>
          <pa-table-cell header>{{ 'account.nua_key_tokens_limit' | translate }}</pa-table-cell>
          <pa-table-cell-menu header>{{ 'generic.actions' | translate }}</pa-table-cell-menu>
        </pa-table-header>
        @for (client of clients; track client.client_id) {
          <pa-table-row>
            <pa-table-cell class="body-s">
              <span paEllipsisTooltip>{{ client.title }}</span>
            </pa-table-cell>
            <pa-table-cell class="body-s">
              <pa-datetime [datetime]="client.created"></pa-datetime>
            </pa-table-cell>
            <pa-table-cell class="body-s">
              <span paEllipsisTooltip>{{ client.contact }}</span>
            </pa-table-cell>
            <pa-table-cell class="body-s">{{ client.zone }}</pa-table-cell>
            <pa-table-cell class="body-s">
              {{ client.tokens_limit ? (client.tokens_limit | number) : ('billing.unlimited' | translate) }}
            </pa-table-cell>
            <pa-table-cell-menu>
              @if (isNuaActivityEnabled | async) {
                <pa-button
                  (click)="goToActivity(client)"
                  aspect="basic"
                  icon="activity-log"
                  size="small"
                  paTooltip="account.nua_key_activity">
                  {{ 'account.nua_key_activity' | translate }}
                </pa-button>
              }
              <pa-button
                (click)="editClient(client)"
                aspect="basic"
                icon="edit"
                size="small"
                paTooltip="generic.edit">
                {{ 'generic.edit' | translate }}
              </pa-button>
              <pa-button
                (click)="askConfirmation(client)"
                aspect="basic"
                icon="refresh"
                size="small"
                paTooltip="account.generate_key">
                {{ 'account.generate_key' | translate }}
              </pa-button>
              <pa-button
                (click)="deleteClient(client)"
                [attr.data-cy]="client.title + '-delete'"
                aspect="basic"
                icon="trash"
                size="small"
                kind="destructive"
                paTooltip="generic.delete">
                {{ 'account.delete' | translate }}
              </pa-button>
            </pa-table-cell-menu>
          </pa-table-row>
        }
      </pa-table>
    </div>
  }

  <pa-button
    kind="primary"
    class="create-nua-button"
    data-cy="open-create-nua-key-dialog"
    (click)="createClient()">
    {{ 'account.create_nua_key' | translate }}
  </pa-button>
}
