<app-configuration-form
  [form]="form"
  (cancel)="cancel.emit()"
  (triggerSubmit)="submit()">
  <ng-container [formGroup]="configForm">
    <div class="form-entry">
      <label for="prompt">{{ 'retrieval-agents.workflow.node-types.rephrase.form.prompt.label' | translate }}</label>
      <pa-textarea
        id="prompt"
        formControlName="prompt"
        externalLabel
        [placeholder]="'retrieval-agents.workflow.node-types.rephrase.form.prompt.placeholder' | translate"
        rows="2"
        resizable=""></pa-textarea>
    </div>
    <div class="form-entry">
      <label for="askTo">{{ 'retrieval-agents.workflow.node-types.rephrase.form.ask-to.label' | translate }}</label>
      <pa-select
        id="askTo"
        formControlName="kb"
        externalLabel
        [placeholder]="'retrieval-agents.workflow.node-types.rephrase.form.ask-to.placeholder' | translate"
        [options]="sourceOptions"></pa-select>
    </div>
    <pa-toggle
      formControlName="extend"
      withBackground>
      {{ 'retrieval-agents.workflow.node-types.rephrase.form.extend' | translate }}
    </pa-toggle>

    <pa-toggle
      formControlName="synonyms"
      withBackground
      [help]="'retrieval-agents.workflow.node-types.rephrase.form.synonyms.help' | translate">
      {{ 'retrieval-agents.workflow.node-types.rephrase.form.synonyms.label' | translate }}
    </pa-toggle>
    <pa-toggle
      formControlName="history"
      withBackground
      [help]="'retrieval-agents.workflow.node-types.rephrase.form.history.help' | translate">
      {{ 'retrieval-agents.workflow.node-types.rephrase.form.history.label' | translate }}
    </pa-toggle>
    <pa-toggle
      formControlName="userInfo"
      withBackground
      [help]="'retrieval-agents.workflow.node-types.rephrase.form.user-info.help' | translate">
      {{ 'retrieval-agents.workflow.node-types.rephrase.form.user-info.label' | translate }}
    </pa-toggle>
  </ng-container>
</app-configuration-form>
