apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-config"
  labels:
    app: app
    version: "{{ .Values.hash }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  SITE_KEY: "{{ .Values.site_key }}"
  APP_NAME: {{ .Values.app_name }}
  CDN: "{{ .Values.cdn }}"
  SENTRY_ENV: {{ .Values.sentry_environment }}
  SENTRY_URL: "{{ .Values.sentry_url }}"
  EDITOR_URL: "{{ .Values.editor_url }}"
  STF_VERSION: "{{ .Chart.Version }}"
  EMAIL_DOMAIN: "{{ .Values.email_domain }}"
  SAML_ENABLED: "{{ .Values.saml_enabled }}"
