<form
  [formGroup]="form"
  (ngSubmit)="save()">
  <label
    class="title-xs"
    for="link">
    URL
  </label>
  <pa-input
    id="link"
    formControlName="link"
    externalLabel></pa-input>

  <footer class="form-field-buttons">
    <div class="save-actions">
      <pa-button
        kind="primary"
        [disabled]="!form.valid || form.pristine || isSaving"
        (click)="save()">
        {{ 'generic.save' | translate }}
      </pa-button>

      <pa-button
        aspect="basic"
        [disabled]="form.pristine || isSaving"
        (click)="cancel()">
        {{ 'generic.cancel' | translate }}
      </pa-button>
    </div>
    <pa-button
      kind="destructive"
      (click)="deleteField()">
      {{ 'resource.field.delete' | translate }}
    </pa-button>
  </footer>
</form>
