<pa-modal-dialog>
  <pa-modal-title>
    {{ 'account.delete_account_confirm_title' | translate }}
  </pa-modal-title>
  <pa-modal-content>
    <div>
      <pa-checkbox
        noEllipsis
        [(value)]="deleteAccount">
        {{ 'account.delete_account_confirm' | translate }}
      </pa-checkbox>
    </div>
    <div
      class="delete-user"
      *ngIf="canKeepUser | async">
      <label for="group-keep-user">{{ 'account.delete.keep_user_title' | translate }}</label>
      <pa-radio-group
        [(value)]="keepUser"
        id="group-keep-user">
        <pa-radio value="yes">{{ 'generic.yes' | translate }}</pa-radio>
        <pa-radio value="no">{{ 'generic.no' | translate }}</pa-radio>
      </pa-radio-group>
    </div>
  </pa-modal-content>
  <pa-modal-footer>
    <div class="pa-modal-footer pa-dual-buttons">
      <pa-button
        aspect="basic"
        (click)="modal.close()">
        {{ 'pastanaga.cancel' | translate }}
      </pa-button>
      <pa-button
        kind="destructive"
        [disabled]="!deleteAccount || ((canKeepUser | async) && keepUser === undefined) || loading"
        (click)="delete()">
        {{ 'generic.delete' | translate }}
      </pa-button>
    </div>
  </pa-modal-footer>
</pa-modal-dialog>
