@use 'apps/dashboard/src/variables' as *;

label {
  display: block;
  margin-bottom: rhythm(1);
}

.delete-user {
  margin: rhythm(4) 0 rhythm(3) 0;
}

pa-radio {
  display: inline-block;
  margin-right: rhythm(5);
}

pa-modal-footer {
  gap: rhythm(2);
}
