<pa-modal-dialog>
  <pa-modal-title>
    <h1>{{ 'account.delete_account_confirm_title' | translate }}</h1>
  </pa-modal-title>
  <pa-modal-content>
    <div>
      <pa-checkbox
        noEllipsis
        [(value)]="deleteAccount">
        {{ 'account.delete_account_confirm' | translate: { account: (account | async)?.title } }}
      </pa-checkbox>
    </div>
    <div
      class="delete-user"
      *ngIf="showDeleteUser">
      <label for="group-delete-user">{{ 'account.delete_user_confirm' | translate }}</label>
      <pa-radio-group
        [(value)]="deleteUser"
        id="group-delete-user">
        <pa-radio value="yes">{{ 'generic.yes' | translate }}</pa-radio>
        <pa-radio value="no">{{ 'generic.no' | translate }}</pa-radio>
      </pa-radio-group>
    </div>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="modal.close()">
      {{ 'pastanaga.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="destructive"
      [disabled]="!deleteAccount || (showDeleteUser && deleteUser === undefined)"
      (click)="modal.close({ deleteUser: deleteUser === 'yes' })">
      {{ 'generic.delete' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-dialog>
