<div
  class="section-navbar"
  fxLayout="row">
  <div
    class="section-navbar-sidebar"
    fxFlex="0 0 auto"
    #navigation>
    <div
      class="section-navbar-sidebar-container"
      fxLayout="column">
      <header fxFlex="0 1 auto">
        <h2 *ngIf="title">{{ title | translate }}</h2>
        <ng-content select="stf-section-navbar-header"></ng-content>
      </header>

      <div
        fxFlex="1 1 0"
        class="section-navbar-items">
        <div
          class="section-navbar-item"
          *ngFor="let item of navItems; let i = index">
          <button
            [class.active]="i === activeIndex"
            (click)="onClick(i)">
            {{ item.title | translate }}
          </button>
        </div>
      </div>

      <footer fxFlex="0 0 auto">
        <ng-content select="stf-section-navbar-footer"></ng-content>
      </footer>
    </div>
  </div>
  <div
    fxFlex="1 1 0"
    class="section-navbar-content">
    <ng-content select="stf-section-navbar-body"></ng-content>
  </div>
</div>
