@import 'variables';

.knowledge-box-keys {
  padding: 70px var(--app-layout-margin-right) 70px var(--app-layout-margin-left);

  h2 {
    margin: 0 0 rhythm(0.25) 0;
  }

  .warning {
    margin-bottom: 30px;
    font-style: italic;
  }
}
