@import 'variables';
.splash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: $gray-black;
}

.container {
  position: relative;
  top: 10vh;
  width: 600px;
  height: 80vh;
  margin: 0 auto;
  padding: 62px 100px;
  border-radius: 8px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
