@import 'variables';
.splash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: $color-dark-stronger;
}

img {
  width: 300px;
}

.container {
  position: relative;
  top: 10vh;
  width: 600px;
  height: 80vh;
  margin: 0 auto;
  padding: rhythm(7) rhythm(12);
  border-radius: rhythm(1.5);
  background-color: $color-light-stronger;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
