@use '../../../../variables' as *;

.color-success-stronger {
  background-color: $color-success-stronger;
}
.color-success-strong {
  background-color: $color-success-strong;
}
.color-success-regular {
  background-color: $color-success-regular;
}
.color-success-light {
  background-color: $color-success-light;
}
.color-success-lighter {
  background-color: $color-success-lighter;
}
.color-success-lightest {
  background-color: $color-success-lightest;
}
