<pa-demo-page>
  <pa-demo-title>Palette</pa-demo-title>

  <pa-demo-description>
    <p>Color variables used in Nuclia Sistema are defined following the tables below:</p>
    <ul>
      <li>
        All color token start with
        <code>$color-</code>
      </li>
      <li>
        then the title from the row in the table below (like
        <code>neutral</code>
        )
      </li>
      <li>
        finally the title from the column in the table below (like
        <code>strong</code>
        )
      </li>
    </ul>
  </pa-demo-description>

  <pa-demo-usage>
    <div class="grid-7 center-items">
      <div></div>
      <div>Stronger</div>
      <div>Strong</div>
      <div>Regular</div>
      <div>Light</div>
      <div>Lighter</div>
      <div>Lightest</div>

      <div class="title">
        <div><strong>Dark</strong></div>
      </div>
      <div>
        <div class="color-dark-stronger"></div>
        <small>$color-dark-stronger</small>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>

      <div class="title">
        <div><strong>Light</strong></div>
      </div>
      <div class="inverted">
        <div class="color-light-stronger"></div>
        <small>$color-light-stronger</small>
      </div>
      <div class="inverted"></div>
      <div class="inverted"></div>
      <div class="inverted"></div>
      <div class="inverted"></div>
      <div class="inverted"></div>

      <div class="title">
        <div><strong>Neutral</strong></div>
      </div>
      <div></div>
      <div></div>
      <div>
        <div class="color-neutral-regular"></div>
        <small>$color-neutral-regular</small>
      </div>
      <div>
        <div class="color-neutral-light"></div>
        <small>$color-neutral-light</small>
      </div>
      <div>
        <div class="color-neutral-lighter"></div>
        <small>$color-neutral-lighter</small>
      </div>
      <div>
        <div class="color-neutral-lightest"></div>
        <small>$color-neutral-lightest</small>
      </div>

      <div class="title">
        <div><strong>Primary</strong></div>
      </div>
      <div>
        <div class="color-primary-stronger"></div>
        <small>$color-primary-stronger</small>
      </div>
      <div>
        <div class="color-primary-strong"></div>
        <small>$color-primary-strong</small>
      </div>
      <div>
        <div class="color-primary-regular"></div>
        <small>$color-primary-regular</small>
      </div>
      <div>
        <div class="color-primary-light"></div>
        <small>$color-primary-light</small>
      </div>
      <div>
        <div class="color-primary-lighter"></div>
        <small>$color-primary-lighter</small>
      </div>
      <div>
        <div class="color-primary-lightest"></div>
        <small>$color-primary-lightest</small>
      </div>

      <div class="title">
        <div><strong>Secondary</strong></div>
      </div>
      <div>
        <div class="color-secondary-stronger"></div>
        <small>$color-secondary-stronger</small>
      </div>
      <div>
        <div class="color-secondary-strong"></div>
        <small>$color-secondary-strong</small>
      </div>
      <div>
        <div class="color-secondary-regular"></div>
        <small>$color-secondary-regular</small>
      </div>
      <div>
        <div class="color-secondary-light"></div>
        <small>$color-secondary-light</small>
      </div>
      <div>
        <div class="color-secondary-lighter"></div>
        <small>$color-secondary-lighter</small>
      </div>
      <div>
        <div class="color-secondary-lightest"></div>
        <small>$color-secondary-lightest</small>
      </div>

      <div class="title">
        <div><strong>Tertiary</strong></div>
      </div>
      <div>
        <div class="color-tertiary-stronger"></div>
        <small>$color-tertiary-stronger</small>
      </div>
      <div>
        <div class="color-tertiary-strong"></div>
        <small>$color-tertiary-strong</small>
      </div>
      <div>
        <div class="color-tertiary-regular"></div>
        <small>$color-tertiary-regular</small>
      </div>
      <div>
        <div class="color-tertiary-light"></div>
        <small>$color-tertiary-light</small>
      </div>
      <div>
        <div class="color-tertiary-lighter"></div>
        <small>$color-tertiary-lighter</small>
      </div>
      <div>
        <div class="color-tertiary-lightest"></div>
        <small>$color-tertiary-lightest</small>
      </div>

      <div class="title">
        <div><strong>Success</strong></div>
      </div>
      <div>
        <div class="color-success-stronger"></div>
        <small>$color-success-stronger</small>
      </div>
      <div>
        <div class="color-success-strong"></div>
        <small>$color-success-strong</small>
      </div>
      <div>
        <div class="color-success-regular"></div>
        <small>$color-success-regular</small>
      </div>
      <div>
        <div class="color-success-light"></div>
        <small>$color-success-light</small>
      </div>
      <div>
        <div class="color-success-lighter"></div>
        <small>$color-success-lighter</small>
      </div>
      <div>
        <div class="color-success-lightest"></div>
        <small>$color-success-lightest</small>
      </div>
    </div>
  </pa-demo-usage>
</pa-demo-page>
