@import 'variables';

.quick-start {
  padding: 40px 44px 32px 36px;

  h2 {
    margin: 0 0 2px 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  h3 {
    margin: 0 0 10px 0;
    font-size: var(--stf-font-size-xxlarge);
    font-weight: var(--stf-font-weight-light);
    line-height: 1.25;
  }

  &-subtitle {
    width: 80%;
  }

  .achievement {
    position: relative;
    padding: 10px 20px 10px  15px;
    background-color: #fff;
    &-title {
      margin-bottom: 2px;
      font-weight: var(--stf-font-weight-bold);
    }
    &-desc {
      margin-bottom: 14px;
      font-size: var(--stf-font-size-ssmall);
      line-height: 1.2;
    }
    &-close {
      @include reset-button();
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      svg {
        display: block;
        width: 12px;
        height: 12px;
      }
    }
  }

  .achievement-completed {
    padding: 10px 14px 10px 18px;
    background-color: #fff;
    font-weight: var(--stf-font-weight-bold);
  }

}