<div class="top-bar">
  <div class="logo">
    <a routerLink="/">
      <img
        src="assets/nuclia-desktop-white.svg"
        alt="Nuclia Desktop" />
    </a>
  </div>
  <div class="status">
    <pa-button
      size="small"
      [kind]="(isServerDown | async) ? 'destructive' : 'inverted'"
      aspect="basic">
      <a routerLink="/server">
        {{ ((isServerDown | async) ? 'upload.server.server_down' : 'upload.server.server_up') | translate }}
      </a>
    </pa-button>
  </div>
  <div class="accounts">
    <pa-button
      *ngIf="account$ | async as account"
      size="small"
      kind="inverted"
      (click)="goSelect()">
      {{ account.title }}
    </pa-button>
  </div>
  <div class="separator"></div>

  <pa-avatar
    [avatar]="avatar | async"
    [paPopup]="userMenu"></pa-avatar>
</div>

<pa-dropdown #userMenu>
  <pa-option
    icon="reload"
    (selectOption)="goSelect()">
    {{ 'action.switch_account' | translate }}
  </pa-option>
  <pa-separator></pa-separator>
  <pa-option
    icon="log-out"
    (selectOption)="logout()">
    {{ 'action.logout' | translate }}
  </pa-option>
</pa-dropdown>
