@import 'variables';

.account-home {
  padding: 4.5vw var(--app-layout-margin-right);

  .container {
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    h2 {
      margin: 0;
      font-size: var(--stf-font-size-xxlarge);
      font-weight: var(--stf-font-weight-light);
    }
  }
  .left-column {
    width: 371px;
  }
  .processing-stats {
    h2 {
      margin: 0 0 25px 0;
    }
  }
  .totals {
    font-size: var(--stf-font-size-xxlarge);
    font-weight: var(--stf-font-weight-light);
    ::ng-deep strong {
      margin-left: 10px;
    }
  }
  .total-queries {
    font-size: rythm(3.5);
    font-weight: var(--stf-font-weight-bold);
  }
  .chart-header {
    display: flex;
    align-items: baseline;
    h2 {
      margin-bottom: 60px;
    }
    span {
      font-weight: var(--stf-font-weight-light);
      flex-grow: 1;
      text-align: right;
      font-style: italic;
    }
  }

  .activity {
    h2 {
      margin-bottom: rythm(1.5);
    }
  }

  .activity-header {
    display: flex;
    align-items: center;
    font-size: var(--stf-font-size-ssmall);
    font-weight: var(--stf-font-weight-light);
    padding-bottom: rythm(0.5);
    border-bottom: 1px solid #000;
    margin-bottom: rythm(1);
  }
  
  .activity-items {
    max-height: 310px;
    overflow-y: auto;
    @include scrollbar-black();
  }

  .activity-item {
    display: flex;
    align-items: center;
    height: rythm(3);
    border-bottom: 1px solid #000;
  }
  
  .title {
    flex: 1 1 0;
    padding-right: rythm(3);
    @include text-truncate();
  }

  .user,
  .date {
    flex: 0 0 250px;
    max-width: 20%;
  }

  .user {
    @include text-truncate();
  }
}
