@import 'variables';

.upload-bar {
  @include dark-mode();
  height: rhythm(6);
  padding: 0 var(--app-layout-margin-right) 0 rhythm(6);
  position: relative;

  &-title {
    margin-right: rhythm(3);
    font-weight: var(--stf-font-weight-semibold);
  }

  &-progress {
    margin-right: rhythm(1.5);
  }

  &-percentage {
    margin-right: rhythm(3);
  }

  .close-button {
    right: rhythm(2);
    top: 50%;
    transform: translateY(-50%);
  }
}
