@import 'variables';

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 900;
  background-color: $gray-black;
  display: flex;
  align-items: center;
}
.logo {
  cursor: pointer;
  margin-left: rythm(2);
}
