<div class="top-bar">
  <div class="logo"
       (click)="goHome()">
    <img src="assets/nuclia-desktop-white.svg" alt="Nuclia Desktop">
  </div>
  <div class="accounts">
    <pa-button *ngIf="(account | async) as account"
               size="small"
               kind="inverted"
               (click)="goSelect()">{{ account.title }}</pa-button>
  </div>
  <div class="separator"></div>
  <div class="user"
       (click)="menuOpen = true"
       cdkOverlayOrigin
       #trigger="cdkOverlayOrigin"
       tabindex="0">{{ initials | async }}</div>
</div>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="menuOpen"
             [cdkConnectedOverlayHasBackdrop]="true"
             [cdkConnectedOverlayOffsetY]="6"
             (backdropClick)="menuOpen = false"
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop">
  <div class="user-menu"
       @dropdownTopRight>
    <a class="user-menu-item"
       (click)="logout()">
      <svg-icon src="assets/icons/logout.svg"></svg-icon>
      <span>{{'generic.logout' | translate}}</span>
    </a>
  </div>
</ng-template>
