<form
  [formGroup]="limitsForm"
  (ngSubmit)="save()">
  <section
    formGroupName="upload"
    *ngIf="(limitsForm.controls.upload.controls | keyvalue).length > 0">
    <h3>Upload limits</h3>
    <pa-input
      type="number"
      *ngFor="let limit of limitsForm.controls.upload.controls | keyvalue"
      [formControlName]="limit.key">
      {{ limit.key }}
    </pa-input>
  </section>
  <section
    formGroupName="usage"
    *ngIf="(limitsForm.controls.usage.controls | keyvalue).length > 0">
    <h3>Usage limits</h3>
    <pa-input
      type="number"
      *ngFor="let limit of limitsForm.controls.usage.controls | keyvalue"
      [formControlName]="limit.key">
      {{ limit.key }}
    </pa-input>
  </section>
  <nma-form-footer
    [disabled]="limitsForm.pristine || limitsForm.invalid || isSaving"
    (cancel)="reset()"></nma-form-footer>
</form>
