<div
  class="upload-history"
  [class.show-active]="showActive | async">
  <header *ngIf="(showActive | async) === false">
    <h2>{{ 'history.title' | translate }}</h2>
  </header>
  <header *ngIf="showActive | async">
    <nsi-back-button link="/history">{{ 'history.back' | translate }}</nsi-back-button>
  </header>

  <pa-table columns="repeat(3, 1fr) 200px 1fr">
    <pa-table-header>
      <pa-table-cell header>{{ 'history.date' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'history.source' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'history.knowledge_box' | translate }}</pa-table-cell>
      <pa-table-cell header></pa-table-cell>
      <pa-table-cell header>{{ 'history.data' | translate }}</pa-table-cell>
    </pa-table-header>
    <pa-table-row *ngFor="let upload of uploads | async">
      <pa-table-cell>{{ upload.date }}</pa-table-cell>
      <pa-table-cell>{{ upload.from }}</pa-table-cell>
      <pa-table-cell>{{ upload.to }}</pa-table-cell>
      <pa-table-cell>
        <stf-progress-bar
          *ngIf="!upload.completed"
          [progress]="upload.progress"></stf-progress-bar>
        <pa-icon
          *ngIf="upload.completed && !upload.errors"
          name="check"
          color="#f06"></pa-icon>
        <pa-icon
          *ngIf="upload.completed && upload.errors"
          name="circle-cross"
          color="#f06"
          [paTooltip]="upload.errors"></pa-icon>
      </pa-table-cell>
      <pa-table-cell>{{ upload.total }}</pa-table-cell>
    </pa-table-row>
  </pa-table>
</div>
