<div class="upload-history">
  <header>
    <h2>{{ 'history.title' | translate }}</h2>
    <pa-button
      aspect="basic"
      kind="destructive"
      (click)="cleanHistory()">
      {{ 'history.clear' | translate }}
    </pa-button>
  </header>

  <pa-table columns="1fr 1fr 304px 1fr 48px">
    <pa-table-header>
      <pa-table-cell header>{{ 'history.date' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'history.source' | translate }}</pa-table-cell>
      <pa-table-cell header>{{ 'history.knowledge_box' | translate }}</pa-table-cell>
      <pa-table-cell header></pa-table-cell>
      <pa-table-cell header>{{ 'history.data' | translate }}</pa-table-cell>
    </pa-table-header>
    <pa-table-row *ngFor="let active of activeLogs | async">
      <pa-table-cell>
        <pa-datetime
          [datetime]="active.date"
          dateOnly
          format="human"></pa-datetime>
      </pa-table-cell>
      <pa-table-cell>{{ active.from }}</pa-table-cell>
      <pa-table-cell>{{ active.to }}</pa-table-cell>
      <pa-table-cell>
        <!-- progress null allows to display indeterminate progress bar until we find a way to display progress properly -->
        <stf-progress-bar
          *ngIf="!active.completed"
          [progress]="null"></stf-progress-bar>
        <pa-icon
          *ngIf="active.completed && !active.errors"
          name="check"
          class="success"></pa-icon>
        <ng-container *ngIf="active.completed && active.errors">
          <pa-icon
            name="warning"
            class="error"></pa-icon>
          {{ active.errors }}
        </ng-container>
      </pa-table-cell>
      <pa-table-cell>{{ active.total }}</pa-table-cell>
    </pa-table-row>

    <pa-table-row *ngFor="let upload of uploads | async">
      <pa-table-cell>
        <pa-datetime
          [datetime]="upload.date"
          dateOnly
          format="human"></pa-datetime>
      </pa-table-cell>
      <pa-table-cell>{{ upload.from }}</pa-table-cell>
      <pa-table-cell>{{ upload.to }}</pa-table-cell>
      <pa-table-cell>
        <pa-icon
          *ngIf="upload.completed && !upload.errors"
          name="check"
          class="success"></pa-icon>
        <ng-container *ngIf="upload.completed && upload.errors">
          <pa-icon
            *ngIf="upload.completed && upload.errors"
            name="warning"
            class="error"></pa-icon>
          {{ upload.errors }}
        </ng-container>
      </pa-table-cell>
      <pa-table-cell>{{ upload.total }}</pa-table-cell>
    </pa-table-row>
  </pa-table>
</div>
