<pa-modal-advanced>
  <pa-modal-title>Modal title</pa-modal-title>
  <pa-modal-content>
    <div>
      <p>Some advanced content, like a long list or a complex form.</p>
      <div class="form-container">
        <pa-input>Field 1</pa-input>
        <pa-input>Field 2</pa-input>
        <pa-input>Field 3</pa-input>
        <pa-select label="Select">
          <pa-option>Option 1</pa-option>
          <pa-option>Option 2</pa-option>
          <pa-option>Option 3</pa-option>
          <pa-option>Option 4</pa-option>
          <pa-option>Option 5</pa-option>
          <pa-option>Option 6</pa-option>
        </pa-select>
        <pa-input>Field 4</pa-input>
        <pa-input>Field 5</pa-input>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      kind="primary"
      (click)="modal.close('from primary')">
      Primary CTA
    </pa-button>
    <pa-button
      *ngIf="!modal.config.data?.['oneButton']"
      kind="secondary"
      aspect="basic"
      (click)="modal.close('from secondary')">
      Secondary CTA
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
