<div class="pa-main-container">
  <div class="pa-main-container-wide">
    <h3>New account</h3>
    <form
      [formGroup]="form"
      (submit)="save()">
      <pa-input
        formControlName="email"
        required>
        Email
      </pa-input>
      <pa-input
        formControlName="slug"
        required>
        Slug
      </pa-input>
      <pa-input
        formControlName="title"
        required>
        Title
      </pa-input>
      <pa-input formControlName="description">Description</pa-input>

      <footer>
        <pa-button
          type="submit"
          kind="primary"
          [disabled]="form.pristine || form.invalid || isSaving">
          Save
        </pa-button>
        <pa-button
          kind="destructive"
          (click)="cancel()">
          Cancel
        </pa-button>
      </footer>
    </form>
  </div>
</div>
