@import 'variables';

.widget-dialog {
  position: relative;
  padding: 12px 35px;

  .close-button {
    @include reset-button();
    position: absolute;
    top: -2px;
    right: -4px;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  h1 {
    margin: 0 0 16px 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 14px;
  }
}
