<div
  fxLayout="row"
  fxLayoutAlign="start start">
  <pa-card class="entity">
    <form [formGroup]="form">
      <h2>Zone</h2>
      <p *ngIf="edit">
        <pa-input formControlName="id">Id</pa-input>
      </p>
      <p>
        <pa-input
          required
          formControlName="slug">
          Slug
        </pa-input>
      </p>
      <p>
        <pa-input
          required
          formControlName="title">
          Title
        </pa-input>
      </p>
      <p *ngIf="edit">
        <pa-input formControlName="creator">Creator</pa-input>
      </p>
      <p *ngIf="edit">
        <pa-input formControlName="account">Account</pa-input>
      </p>
      <p *ngIf="edit">
        <pa-input formControlName="created">Created</pa-input>
      </p>
      <p *ngIf="edit">
        <pa-input formControlName="modified">Modified</pa-input>
      </p>
      <p *ngIf="edit">
        <pa-input formControlName="external">External</pa-input>
      </p>
      <p></p>
      <p *ngIf="message">
        <span>{{ message }}</span>
      </p>
    </form>
  </pa-card>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="center center">
  <div class="error">
    {{ message }}
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center">
    <pa-button
      class="m-8"
      kind="primary"
      *ngIf="edit"
      (click)="editZone()">
      Save
    </pa-button>
    <pa-button
      class="m-8"
      kind="primary"
      *ngIf="!edit"
      (click)="addZone()">
      Add
    </pa-button>
    <pa-button
      class="m-8"
      aspect="basic"
      (click)="returnToZones()">
      Cancel
    </pa-button>
  </div>
</div>
