<div class="redirect">
  @if (displayToken | async) {
    <div>
      <h2>{{ 'Authentication token' | translate }}</h2>
      <code>{{ token }}</code>
      <div class="copy">
        <pa-button (click)="copy()">
          {{ 'generic.copy' | translate }}
        </pa-button>
        <pa-icon
          [class.active]="copied"
          name="check"></pa-icon>
      </div>
    </div>
  } @else if (fromChromeExtension) {
    <span>{{ 'redirect.chrome' | translate }}</span>
  } @else if (fromMarketPlace) {
    <span>{{ 'redirect.marketplace.message' | translate }}</span>
  } @else {
    <span>{{ 'redirect.desktop' | translate }}</span>
  }
</div>
