@import 'apps/dashboard/src/variables';

.account-kbs {
  h2 {
    margin: 0 0 rhythm(1) 0;
  }

  .account-kbs-list {
    margin-top: rhythm(5);
    max-width: 1024px;
  }

  .account-kb {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .kb-title {
      margin-right: rhythm(1);

      &:not(.disabled) {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .actions {
      align-items: center;
      display: flex;
      gap: rhythm(2);
    }
  }

  &-counter {
    font-weight: var(--stf-font-weight-semibold);
  }

  &-empty {
    font-style: italic;
  }

  .add-kb-container {
    align-items: center;
    display: flex;
    gap: rhythm(3);
    margin-top: rhythm(3);
  }
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
