@import 'variables';

.scrollable-area {
  display: flex;
  gap: rhythm(5);
}

.viewer-button-container {
  flex: 1 0 auto;
  position: relative;
  text-align: center;

  pa-button {
    position: sticky;
    top: 0;
  }
}
