@use 'apps/dashboard/src/variables' as *;

.rules {
  display: flex;
  flex-direction: column;
  gap: rhythm(0.5);

  .rule {
    align-items: center;
    display: flex;
    gap: rhythm(0.5);

    > pa-textarea {
      flex: 1;
    }
  }
}
