<nus-user-container>
  @switch (step) {
    @case (1) {
      <app-step1-budget
        [data]="budget"
        (next)="setupBudget($event)"></app-step1-budget>
    }
    @case (2) {
      <app-step2
        [data]="choice"
        (back)="goBack()"
        (next)="goFrom2ToNext($event)"></app-step2>
    }
    @case (3) {
      <nus-kb-name-step
        [data]="kbName"
        (back)="goBack()"
        (next)="storeKbNameAndGoNext($event)"></nus-kb-name-step>
    }
    @case (4) {
      <nus-zone-step
        [data]="zone"
        (back)="goBack()"
        (next)="storeZoneAndGoNext($event)"></nus-zone-step>
    }
    @case (5) {
      <nus-embedding-model-step
        [data]="embeddingModel"
        (back)="goBack()"
        (next)="finalStepDone($event)"></nus-embedding-model-step>
    }
  }
</nus-user-container>
