<nus-user-container>
  @switch (step) {
    @case (-1) {
      <app-aws-setup-account (next)="checkAccount($event)"></app-aws-setup-account>
    }
    @case (1) {
      <app-step1-budget
        [data]="budget"
        (next)="setupBudget($event)"></app-step1-budget>
    }
    @case (2) {
      <app-step2
        [data]="choice"
        (back)="goBack()"
        (next)="goFrom2ToNext($event)"></app-step2>
    }
    @case (3) {
      <div class="main-container">
        <h1>{{ 'onboarding.aws.create-kb.title' | translate }}</h1>
        <nus-kb-name-step
          [data]="kbName"
          (next)="storeKbNameAndGoNext($event)"></nus-kb-name-step>
      </div>
    }
    @case (4) {
      <div class="main-container">
        <h1>{{ 'onboarding.step3.title' | translate }}</h1>
        <p
          class="page-description"
          [innerHTML]="'onboarding.step3.subtitle' | translate"></p>
        <nus-zone-step
          [data]="zone"
          (back)="goBack()"
          (next)="storeZoneAndGoNext($event)"></nus-zone-step>
      </div>
    }
    @case (5) {
      <div class="main-container">
        <h1>{{ 'onboarding.step4.title' | translate }}</h1>
        <p
          class="page-description"
          [innerHTML]="'onboarding.step4.subtitle' | translate"></p>
        <nus-embedding-model-step
          [schema]="learningSchema | async"
          [data]="learningConfig"
          (back)="goBack()"
          (next)="storeLearningConfigAndGoNext($event)"></nus-embedding-model-step>
      </div>
    }
    @case (6) {
      @if (isExternalIndexEnabled | async) {
        <div class="main-container">
          <h1>{{ 'onboarding.step5.title' | translate }}</h1>
          <p
            class="page-description"
            [innerHTML]="'onboarding.step5.subtitle' | translate"></p>
          <nus-vector-database-step
            (back)="goBack()"
            (next)="storeVectorDbStep($event)"></nus-vector-database-step>
        </div>
      } @else {
        <div class="main-container">
          <nsi-spinner></nsi-spinner>
        </div>
      }
    }
    @case (7) {
      <div class="main-container">
        <nsi-spinner></nsi-spinner>
      </div>
    }
  }
</nus-user-container>
