@use 'apps/dashboard/src/variables' as *;
@use '../simple-page.tokens' as tokens;

pa-table {
  display: block;
  width: tokens.$content-width;

  ::ng-deep .pa-table-grid--cell {
    min-width: 0;
  }
}

.extension {
  margin-left: rhythm(1);
}

.rank {
  color: $color-primary-regular;
}

.success {
  color: tokens.$success-color;
}

.error {
  color: tokens.$error-color;
}
