<div class="top-bar">
  <svg-icon src="assets/logos/logo-beta.svg"
            class="logo"></svg-icon>
</div>

<div class="setup-account">
  <header *ngIf="user | async as user">
    <h1>{{ 'setup.create_account' | translate: { user } }}</h1>
  </header>
  <main>
    <div class="col-left">
      <div class="box">
        <h2 [class.mute]="!!createdKb">{{ 'setup.account_preferences' | translate }}</h2>
        <form *ngIf="!createdKb"
              [formGroup]="accountForm"
              (ngSubmit)="save()">
          <div class="field">
            <div class="description">
              <strong>{{ 'setup.name_account' | translate }}</strong>
            </div>
            <stf-input type="text"
                       name="account"
                       formControlName="account"
                       theme="border"
                       [validator]="accountForm.controls['account']"
                       [validation_messages]="validationMessages.account">
              {{ 'account.title' | translate }}
            </stf-input>
          </div>
          <div class="field">
            <div class="description"
                 [innerHtml]="'setup.kb_created' | translate">
            </div>
            <stf-input type="text"
                       name="kb"
                       formControlName="kb"
                       theme="border"
                       [validator]="accountForm.controls['kb']"
                       [validation_messages]="validationMessages.kb">
              {{ 'stash.name' | translate }}
            </stf-input>
          </div>
          <div class="field">
            <div class="description">
              <strong>{{ 'setup.data_storage' | translate }}</strong>
            </div>
            <mat-radio-group formControlName="zone">
              <mat-radio-button *ngFor="let zone of zones"
                                [value]="zone.id">{{ zone.title }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <stf-button type="submit"
                      padding="pd-xl"
                      [disabled]="loading">
            {{ 'generic.create' | translate }}
          </stf-button>
        </form>
      </div>
      <div class="box">
        <h2 [class.mute]="!createdKb">{{ 'setup.push_data' | translate }}</h2>
        <div *ngIf="!!createdKb">
          <stf-button (click)="uploadFile()"
                      padding="pd-l"
                      color="secondary">
            {{ 'setup.upload_file' | translate }}
          </stf-button>
          <a href="https://docs.nuclia.dev/docs/quick-start/push#api-push-contents-using-the-api"
             target="_blank"
             rel="noopener noreferrer">
            {{ 'setup.upload_using_api' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-right">
      <div class="box docs"></div>
    </div>
  </main>
</div>