<div class="container">
  <div
    class="section"
    id="account">
    <div class="section-container">
      <h2>{{ 'account.manage' | translate }}</h2>
      <form
        [formGroup]="accountForm"
        (ngSubmit)="saveAccount()">
        <div class="account-field">
          <label
            for="account-uid"
            class="account-field-name">
            {{ 'generic.uid' | translate }}
          </label>
          <div>
            <pa-input
              id="account-uid"
              formControlName="uid"
              externalLabel
              readonly></pa-input>
          </div>
        </div>
        <div class="account-field">
          <label
            for="account-slug"
            class="account-field-name">
            {{ 'generic.slug' | translate }}
          </label>
          <div>
            <pa-input
              id="account-slug"
              formControlName="slug"
              externalLabel
              readonly></pa-input>
          </div>
        </div>
        <div class="account-field">
          <label
            for="account-title"
            class="account-field-name">
            {{ 'account.title' | translate }}
          </label>
          <div>
            <pa-input
              id="account-title"
              formControlName="title"
              externalLabel
              [errorMessages]="validationMessages.title"></pa-input>
          </div>
        </div>

        <div class="account-field">
          <label
            for="account-description"
            class="account-field-name">
            {{ 'generic.description' | translate }}
          </label>
          <div>
            <pa-textarea
              id="account-description"
              formControlName="description"
              rows="4"></pa-textarea>
          </div>
        </div>

        <div class="account-form-cta">
          <pa-button
            type="submit"
            kind="primary"
            [disabled]="accountForm.invalid || accountForm.pristine">
            {{ 'generic.save' | translate }}
          </pa-button>

          <pa-button
            *ngIf="!accountForm.pristine"
            aspect="basic"
            (click)="initAccountForm()">
            {{ 'generic.cancel' | translate }}
          </pa-button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="section"
    id="config">
    <div class="section-container">
      <h2>{{ 'account.config' | translate }}</h2>

      <div
        class="account-field"
        *ngIf="zones">
        <div class="account-field-name">
          {{ 'generic.zone' | translate }}
        </div>
        <div>
          <pa-select
            [formControl]="zone"
            help="account.zone_description"
            externalLabel>
            <pa-option
              *ngFor="let zone of zones"
              [value]="zone.id">
              {{ zone.title }}
            </pa-option>
          </pa-select>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-container">
      <div class="dangerous-zone">
        <h3 class="title-s">{{ 'account.delete_account' | translate }}</h3>
        <div *ngIf="(isSubscribed | async) === false">
          <p>{{ 'account.delete_account_warning_1' | translate : { account: account?.title || '' } }}</p>
          <ul>
            <li>{{ 'account.delete_account_warning_2' | translate }}</li>
            <li>{{ 'account.delete_account_warning_3' | translate }}</li>
            <li>{{ 'account.delete_account_warning_4' | translate }}</li>
          </ul>
          <pa-button
            kind="destructive"
            (click)="deleteAccount()">
            {{ 'generic.delete' | translate }}
          </pa-button>
        </div>
        <div *ngIf="(isSubscribed | async) === true">
          <p>{{ 'account.delete.subscription_detected' | translate }}</p>
          <p>
            {{ 'account.delete.go_to' | translate }}
            <a [routerLink]="deleteAccountUrl | async">{{ 'account.billing' | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
