<div class="entity-dialog">
  <pa-button class="close-button"
             icon="cross"
             aspect="basic"
             (click)="close()">{{'generic.close' | translate}}</pa-button>

  <div class="mb-44">
    <app-group-select [(selected)]="group"
                      [groups]="(groups$ | async) || {}"
                      [disabled]="mode !== 'add'">
    </app-group-select>
  </div>

  <ng-container *ngIf="mode === 'view'">
    <h2 class="mb-44">{{ data.entity?.value }}</h2>
    <div class="entity-dialog-short-description mb-40">Capital d’Argentina</div>
    <div class="entity-dialog-description">
      Buenos Aires es la gran capital cosmopolita de Argentina. Su centro es la Plaza de Mayo, rodeada de imponentes
      edificios del siglo XIX, incluida la Casa Rosada, el icónico palacio presidencial que tiene varios balcones. Entre
      otras atracciones importantes, se incluyen el Teatro Colón, un lujoso teatro de ópera de 1908 con cerca de 2,500
      asientos, y el moderno museo MALBA, que exhibe arte latinoamericano.
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px" class="mt-80">
      <pa-button aspect="basic"
                 (click)="close()">{{ 'generic.close' | translate }}</pa-button>

      <pa-button kind="inverted"
                 (click)="edit()">{{ 'generic.edit' | translate }}</pa-button>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === 'edit' || mode === 'add'">
    <h2 class="mb-16" *ngIf="data.entity">{{ data.entity.value }}</h2>
    <form [formGroup]="entityForm"
          (submit)="save()">
      <div class="mb-8" *ngIf="!data.entity">
        <pa-input formControlName="name"
                  [errorMessages]="validationMessages.name">
          {{ 'entity.entity_name' | translate }}
        </pa-input>
      </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" class="mt-32">
      <pa-button aspect="basic"
                 (click)="close()">{{ 'generic.cancel' | translate }}</pa-button>
      <pa-button kind="primary"
                 (click)="save()">{{ 'generic.save' | translate }}</pa-button>
    </div>
  </ng-container>
</div>
