@import 'variables';
.container {
  position: relative;
  top: 10vh;
  width: 600px;
  height: 80vh;
  margin: 0 auto;
  padding: 62px 100px;
  border-radius: 8px;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

ul {
  margin-top: rythm(4);
  padding: 0;
}
li {
  display: block;
  margin: rythm(0.5) 0;
  text-align: center;
  padding: rythm(1) 0;
  background-color: var(--stf-gray-background);
  cursor: pointer;
}
