<pa-modal-advanced fitContentHeight="">
  <pa-modal-title>
    {{
      (isEdit ? 'retrieval-agents.drivers.edit-modal-title' : 'retrieval-agents.drivers.add.internet')
        | translate: { name: config?.name }
    }}
  </pa-modal-title>
  <pa-modal-content>
    <form [formGroup]="form">
      <div class="form-entry">
        <label for="provider">{{ 'retrieval-agents.drivers.form.internet.provider' | translate }}</label>
        <pa-select
          id="provider"
          externalLabel
          formControlName="provider"
          (valueChange)="onProviderChange()">
          <pa-option
            value="brave"
            [description]="
              hasBrave
                ? ('retrieval-agents.drivers.form.internet.already-configured' | translate: { name: 'Brave' })
                : ''
            "
            [disabled]="hasBrave">
            Brave
          </pa-option>
          <pa-option
            value="google"
            [description]="
              hasBrave
                ? ('retrieval-agents.drivers.form.internet.already-configured' | translate: { name: 'Google' })
                : ''
            "
            [disabled]="hasGoogle">
            Google
          </pa-option>
          <pa-option
            value="perplexity"
            [description]="
              hasPerplexity
                ? ('retrieval-agents.drivers.form.internet.already-configured' | translate: { name: 'Perplexity' })
                : ''
            "
            [disabled]="hasPerplexity">
            Perplexity
          </pa-option>
          <pa-option
            value="tavily"
            [description]="
              hasTavily
                ? ('retrieval-agents.drivers.form.internet.already-configured' | translate: { name: 'Tavily' })
                : ''
            "
            [disabled]="hasTavily">
            Tavily
          </pa-option>
        </pa-select>
      </div>
      <div class="form-entry">
        <label for="name">{{ 'retrieval-agents.drivers.form.driver-name' | translate }}</label>
        <pa-input
          id="name"
          externalLabel
          formControlName="name"></pa-input>
      </div>
      <div class="form-entry">
        <label for="key">{{ 'retrieval-agents.drivers.form.key' | translate }}</label>
        <pa-input
          id="key"
          externalLabel
          formControlName="key"></pa-input>
      </div>

      @if (providerValue === 'brave') {
        <div class="form-entry">
          <label for="endpoint">{{ 'retrieval-agents.drivers.form.internet.endpoint' | translate }}</label>
          <pa-input
            id="endpoint"
            externalLabel
            formControlName="endpoint"></pa-input>
        </div>
      } @else if (providerValue === 'google') {
        <pa-toggle
          formControlName="vertexai"
          withBackground>
          {{ 'retrieval-agents.drivers.form.internet.vertexai' | translate }}
        </pa-toggle>
        <div class="form-entry">
          <label for="credentials">{{ 'retrieval-agents.drivers.form.internet.credentials' | translate }}</label>
          <pa-input
            id="credentials"
            externalLabel
            formControlName="credentials"></pa-input>
        </div>
        <div class="form-entry">
          <label for="project">{{ 'retrieval-agents.drivers.form.internet.project' | translate }}</label>
          <pa-input
            id="project"
            externalLabel
            formControlName="project"></pa-input>
        </div>
        <div class="form-entry">
          <label for="location">{{ 'retrieval-agents.drivers.form.internet.location' | translate }}</label>
          <pa-input
            id="location"
            externalLabel
            formControlName="location"></pa-input>
        </div>
      }
    </form>
  </pa-modal-content>
  <pa-modal-footer>
    <pa-button
      aspect="basic"
      (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </pa-button>
    <pa-button
      kind="primary"
      [disabled]="form.invalid || form.pristine"
      (click)="submit()">
      {{ 'generic.save' | translate }}
    </pa-button>
  </pa-modal-footer>
</pa-modal-advanced>
