.search-filters {
  width: 336px;
  height: calc(100vh - var(--app-topbar-height));
  padding-right: 10px;
  box-shadow: -5px 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: #fff;

  &-section {
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid #dfdfdf;
  }

  h2 {
    margin: 0;
    font-size: var(--stf-font-size-xlarge);
    font-weight: var(--stf-font-weight-bold);
    text-transform: uppercase;
  }
}