@use 'apps/dashboard/src/variables' as *;

.total {
  margin-bottom: rhythm(4);
  strong {
    color: $color-primary-regular;
  }
}

.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: rhythm(3);
  pa-icon {
    margin-right: rhythm(1);
  }
}

.selectors {
  display: flex;
  gap: rhythm(1);
}
.select {
  min-width: rhythm(24);
}

.type {
  align-items: center;
  display: flex;
  gap: rhythm(1);
}

.model {
  color: $color-neutral-regular;
}

.unit {
  color: $color-neutral-regular;
  font-weight: $font-weight-regular;
}
