@import 'variables';

.steps {
  display: flex;
}

.step {
  flex: 1 1 0;
  position: relative;
  font-size: var(--stf-font-size-ssmall);
  color: var(--stf-gray-lighter-3);

  &.active .last,
  &.done {
    color: var(--stf-primary);
  }
  &:last-child {
    flex: 0 1 auto;
  }
}

.bullet {
  display: flex;
  align-items: center;
  margin-bottom: rhythm(0.5);

  &::before {
    background-color: var(--stf-gray-lighter-3);
    border-radius: 50%;
    content: '';
    width: rhythm(1.5);
    height: rhythm(1.5);
    .active > &,
    .done > & {
      background-color: var(--stf-primary);
    }
  }
  &::after {
    background-color: var(--stf-gray-lighter-3);
    content: '';
    flex-grow: 1;
    height: 1px;

    .done > & {
      background-color: var(--stf-primary);
    }
    :last-child > & {
      content: none;
    }
  }
  &.last-bullet::after {
    margin-right: rhythm(5);
  }
  pa-icon {
    position: absolute;
    right: rhythm(0.5);
  }
}

.clickable {
  cursor: pointer;
}
