<div
  class="app-navbar"
  [class.is-unfolded]="isUnfolded">
  <div class="navbar-scroll-container">
    <div
      *ngIf="!(inAccount | async)"
      class="navbar-content">
      <div class="nav-group">
        <div class="group-items">
          <a
            [routerLink]="kbUrl"
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <pa-icon name="home"></pa-icon>
            <span class="nav-link-title">{{ 'stash.home' | translate }}</span>
          </a>
        </div>
      </div>
      <div class="nav-group">
        <div class="group-items">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="kbUrl + '/search'">
            <pa-icon name="search"></pa-icon>
            <span class="nav-link-title">{{ 'stash.search' | translate }}</span>
          </a>
          <a
            [routerLink]="kbUrl + '/resources'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="list"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.list' | translate }}</span>
          </a>
          <a
            *ngIf="isActivityEnabled | async"
            [routerLink]="kbUrl + '/activity'"
            routerLinkActive="active"
            class="nav-link"
            [class.disabled]="!(isAdminOrContrib | async)">
            <pa-icon name="activity-log"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.activity' | translate }}</span>
          </a>
          <a
            *ngIf="isOntologiesEnabled | async"
            [routerLink]="kbUrl + '/ontologies'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="label"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.classification' | translate }}</span>
          </a>
          <a
            *ngIf="isEntitiesEnabled | async"
            [routerLink]="[kbUrl + '/entities']"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="form"></pa-icon>
            <span class="nav-link-title">{{ 'generic.insights' | translate }}</span>
          </a>
        </div>
      </div>

      <div class="nav-group">
        <div class="group-items">
          <a
            [routerLink]="kbUrl + '/manage'"
            routerLinkActive="active"
            class="nav-link"
            [class.disabled]="!(isAdmin | async)">
            <pa-icon name="settings"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.settings' | translate }}</span>
          </a>
        </div>
        <div
          *ngIf="isTrainingEnabled | async"
          class="group-items">
          <a
            [routerLink]="kbUrl + '/processes'"
            routerLinkActive="active"
            class="nav-link"
            [class.disabled]="!(isAdmin | async)">
            <pa-icon name="submenu"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.trainings' | translate }}</span>
          </a>
        </div>
        <ng-container *ngIf="isAdmin | async">
          <div
            *ngIf="isUsersEnabled | async"
            class="group-items">
            <a
              [routerLink]="kbUrl + '/users'"
              routerLinkActive="active"
              class="nav-link">
              <pa-icon name="users"></pa-icon>
              <span class="nav-link-title">{{ 'stash.side.users' | translate }}</span>
            </a>
          </div>
        </ng-container>
        <div
          *ngIf="isWidgetsEnabled | async"
          class="group-items">
          <a
            [routerLink]="kbUrl + '/widget-generator'"
            routerLinkActive="active"
            class="nav-link"
            [class.disabled]="!(isAdmin | async)">
            <pa-icon name="widget"></pa-icon>
            <span class="nav-link-title">{{ 'stash.side.widgets' | translate }}</span>
          </a>
        </div>
        <ng-container *ngIf="isAdmin | async">
          <div
            *ngIf="isAPIKeysEnabled | async"
            class="group-items">
            <a
              [routerLink]="kbUrl + '/keys'"
              routerLinkActive="active"
              class="nav-link">
              <pa-icon name="lock-off"></pa-icon>
              <span class="nav-link-title">{{ 'stash.side.api_keys' | translate }}</span>
            </a>
          </div>
        </ng-container>
      </div>
      <div class="nav-group">
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/home'"
            class="nav-link"
            routerLinkActive="active"
            [class.disabled]="!(isAccountManager | async)">
            <pa-icon name="account"></pa-icon>
            <span class="nav-link-title">{{ 'account.manage' | translate }}</span>
          </a>
        </div>
      </div>
    </div>
    <div
      *ngIf="(inAccount | async) && (isAccountManager | async)"
      class="navbar-content dark">
      <div class="nav-group">
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/home'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="home"></pa-icon>
            <span class="nav-link-title">{{ 'account.home' | translate }}</span>
          </a>
        </div>
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/settings'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="settings"></pa-icon>
            <span class="nav-link-title">{{ 'account.settings' | translate }}</span>
          </a>
        </div>
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/kbs'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="knowledge-box"></pa-icon>
            <span class="nav-link-title">{{ 'account.knowledgeboxes' | translate }}</span>
          </a>
        </div>
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/users'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="users"></pa-icon>
            <span class="nav-link-title">{{ 'account.users' | translate }}</span>
          </a>
        </div>
        <div class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/nua'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="key"></pa-icon>
            <span class="nav-link-title">{{ 'account.nua_keys' | translate }}</span>
          </a>
        </div>
        <div
          *ngIf="isBillingEnabled | async"
          class="group-items">
          <a
            [routerLink]="(accountUrl | async) + '/billing'"
            routerLinkActive="active"
            class="nav-link">
            <pa-icon name="payment"></pa-icon>
            <span class="nav-link-title">{{ 'account.billing' | translate }}</span>
          </a>
        </div>
      </div>
      <div
        class="nav-group"
        *ngIf="kb | async">
        <div class="group-items">
          <a
            [routerLink]="kbUrl"
            class="nav-link">
            <pa-icon name="chevron-left"></pa-icon>
            <span class="nav-link-title">{{ 'generic.back' | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
