@import 'variables';

// Height from which the menu get smaller (prevents scrollbar to appear)
$height-breakpoint: 730px;

:host,
.app-navbar {
  height: 100%;
}

:host * {
  // prettier-ignore
  @include scrollbar-style(
    10px,
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.10),
    rgba(0, 0, 0, 0.20),
    rgba(0, 0, 0, 0.40)
  );
}

.navbar-scroll-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  > .navbar-content {
    flex: 1 1 auto;
    width: 100%;
  }
  > .navbar-footer {
    flex: 0 0 auto;
    width: 100%;
  }

  .nav-group {
    border-bottom: 1px solid $color-neutral-regular;
    padding: rhythm(1.5) 0;
    @media (max-height: $height-breakpoint) {
      padding: rhythm(0.5) 0;
    }

    > .group-items {
      > .nav-link {
        align-items: center;
        color: inherit;
        cursor: pointer;
        display: flex;
        overflow: hidden;
        padding: rhythm(1) rhythm(2);
        position: relative;
        text-decoration: none;
        user-select: none;

        &:hover::before,
        &.active::before {
          background-color: $color-primary-regular;
          bottom: 0;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: rhythm(0.25);
        }

        &.disabled {
          color: $color-text-menu-option-disabled;
          cursor: not-allowed;
          pointer-events: none;
        }

        > .nav-link-title {
          flex: 1 1 auto;
          padding-left: rhythm(2);
          font-size: var(--stf-font-size-large);
          white-space: nowrap;
        }
        @media (max-height: $height-breakpoint) {
          > .nav-link-title {
            font-size: var(--stf-font-size-medium);
          }
        }
      }
    }
  }
}

.app-navbar:not(.is-unfolded) {
  .navbar-scroll-container {
    .navbar-content {
      padding-top: 0;

      .nav-link-title {
        display: none;
      }
    }
  }
}

.dark {
  @include dark-mode();
}
