@use 'apps/dashboard/src/variables' as *;

.history {
  max-width: calc(rhythm(90) + rhythm(24));
}

// pa-table hacks
:host ::ng-deep .pa-table-grid--cell {
  font-size: $font-size-body-s;
  line-height: $line-height-body-s;
  min-height: rhythm(5);
}
:host ::ng-deep .pa-table-grid--head .pa-table-grid--header {
  font-size: $font-size-body-s;
  line-height: $line-height-body-s;
}

.load-more {
  margin-top: rhythm(4);
}
