<div class="home-container">
  <p>
    By using a NUA API Key you can utilize
    <a
      href="https://nuclia.cloud"
      target="_blank">
      Nuclia's Cloud Processing Engine
    </a>
    .
    <br />
    Your data would remain stored locally, but you would have access to a dashboard for following your metrics and more.
    <br />
  </p>
  <p>
    To configure your NUA API Key for the server, use the environment variable
    <code>NUA_API_KEY</code>
    or the
    <code>--nuclia-api-key</code>
    cli flag.
  </p>
</div>
