<div class="home-container">
  <p>
    {{ (this.hasValidKey | async) ? 'As you are using' : 'By using' }}
    a NUA API Key you can utilize
    <a
      href="https://nuclia.cloud"
      target="_blank">
      Nuclia's Cloud Processing Engine
    </a>
    .
    <br />
    {{
      (this.hasValidKey | async)
        ? 'Your data remains stored locally, but you have access to a dashboard for following your metrics and more.'
        : 'Your data would remain stored locally, but you would have access to a dashboard for following your metrics and more.'
    }}

    <br />
  </p>
  <p *ngIf="(hasValidKey | async) === false">
    To configure your NUA API Key for the server, use the environment variable
    <code>NUA_API_KEY</code>
    or the
    <code>--nuclia-api-key</code>
    cli flag.
  </p>
</div>
