/* You can add global styles to this file, and also import other style files */
@import 'libs/pastanaga/src/lib/styles/once';
@import 'libs/pastanaga/src/lib/styles/fonts';

@include main-layout();

html,
body {
  overflow: auto;
  letter-spacing: 0px;
}

code {
  display: block;
  padding: rythm(1);
  margin: rythm(1) 0;
}

.user-background {
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
