<div class="pa-main-container">
  <div class="pa-main-side-panel">
    <div class="panel-header">
      <pa-button
        icon="arrow-left"
        aspect="basic"
        (click)="goBack()">
        Back
      </pa-button>
      <div class="title-l">
        {{ userEmail }}
      </div>
    </div>
  </div>
  <div class="pa-main-container-wide">
    <h3>User details</h3>
    <form
      [formGroup]="userForm"
      (submit)="save()">
      <pa-input
        readonly
        formControlName="id">
        Id
      </pa-input>
      <pa-input
        [readonly]="!isEdit"
        formControlName="email">
        Email
      </pa-input>
      @if (!isEdit) {
        <pa-input
          readonly
          formControlName="last_login">
          Last login
        </pa-input>

        <pa-input
          [readonly]="!isEdit"
          formControlName="language">
          Language
        </pa-input>
        <pa-input
          [readonly]="!isEdit"
          formControlName="providers">
          Providers
        </pa-input>
      }
      <pa-input
        [readonly]="!isEdit"
        formControlName="name">
        Name
      </pa-input>
      <pa-select
        formControlName="type"
        [readonly]="!isEdit"
        label="Type"
        required>
        <pa-option value="USER">USER</pa-option>
        <pa-option value="ROOT">ROOT</pa-option>
      </pa-select>
      <footer>
        @if (!isEdit) {
          <pa-button
            kind="destructive"
            (click)="edit()">
            Edit
          </pa-button>
        } @else {
          <pa-button
            type="submit"
            kind="primary"
            [disabled]="userForm.pristine || userForm.invalid || isSaving">
            Save
          </pa-button>
          <pa-button
            kind="destructive"
            (click)="cancel()">
            Cancel
          </pa-button>
        }
      </footer>
    </form>
  </div>
</div>
