<div class="label-selector">
  <nsi-dropdown-button
    [popupRef]="labelSelection"
    [size]="size"
    [aspect]="aspect"
    [open]="open">
    <ng-content></ng-content>
  </nsi-dropdown-button>

  <pa-dropdown
    #labelSelection
    dontAdjustPosition
    [companionElement]="level2Element?.nativeElement"
    (onClose)="closeDropdowns()"
    (onOpen)="open = true">
    <ng-container *ngFor="let labelSet of labelSets | keyvalue; let index = index">
      <pa-option
        *ngIf="labelSet.value.labels.length > 0"
        icon="chevron-right"
        iconOnRight
        dontCloseOnSelect
        popupOnRight
        [paPopup]="level2"
        [popupVerticalOffset]="-40"
        [selected]="labelSetExpanded === labelSet.key"
        (selectOption)="onLevel1Selection(labelSet.key, labelSet.value)">
        <span
          class="label-color"
          [style.background-color]="labelSet.value.color"></span>
        {{ labelSet.value.title }}
      </pa-option>
    </ng-container>
  </pa-dropdown>

  <pa-dropdown
    #level2
    dontAdjustPosition
    keepOthersOpen>
    <pa-option
      *ngFor="let labelValue of labelValues"
      class="level2-option"
      [dontCloseOnSelect]="!single"
      (selectOption)="onOptionSelection(labelValue)">
      <ng-container *ngIf="single; else multiple">
        {{ labelValue.label }}
      </ng-container>
      <ng-template #multiple>
        <pa-checkbox
          [value]="checkboxSelection.includes(labelValue.labelset + labelValue.label)"
          (valueChange)="toggleLabel(labelValue)">
          {{ labelValue.label }}
        </pa-checkbox>
      </ng-template>
    </pa-option>
  </pa-dropdown>
</div>
