@import 'variables';

.setup-step2 {
  display: flex;
  flex-direction: column;
  min-height: var(--setup-container-min-height);
  padding: 60px 100px;

  &-title {
    margin: 36px 0 40px 0;
    font-size: var(--stf-font-size-title);
    font-weight: var(--stf-font-weight-bold);
    text-align: center;
  }

  &-account {
    input {
      font-family: inherit;
      height: 40px;
      padding: 0 12px;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 5px;
      &.empty {
        border-color: var(--stf-gray-lighter-3);
      }
      &::placeholder {
        color: var(--stf-gray-lighter-3);
      }
    }
  }

  &-success {
    margin-top: 8px;
    font-weight: var(--stf-font-weight-semibold);
    svg {
      display: block;
      fill: var(--stf-primary);
    }
  }

  &-error {
    margin-top: 8px;
    font-weight: var(--stf-font-weight-semibold);
    color: var(--stf-primary);
  }

  &-kb {
    margin-top: auto;
    padding-top: 25px;

    &-zone {
      margin-bottom: 25px;
    }

    &-info {
      margin-bottom: 28px;
      line-height: 1.3;
    }
    &-name {
      border-top: 1px solid var(--stf-gray-lighter-3);
      border-bottom: 1px solid var(--stf-gray-lighter-3);
      padding: 16px 0;
      font-size: var(--stf-font-size-xlarge);
      input {
        font-family: inherit;
        border: 0;
        background-color: var(--stf-input-background);
        text-overflow: ellipsis;
        &[readonly] {
          font-weight: var(--stf-font-weight-bold);
          background-color: transparent;
        }
      }
    }
    &-edit {
      @include reset-button();
      cursor: pointer;
      svg {
        display: block;
      }
    }
  }

  &-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid currentColor;
    border-radius: 50%;
    font-size: var(--stf-font-size-ssmall);
    line-height: 1;
    color: var(--stf-gray-lighter-3);
    user-select: none;
  }
  
  &-actions {
    margin-top: auto;
    padding-top: 30px;
    text-align: center;
  }
}